@use '../fozzie-config' as f;

.c-comingSoon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: f.spacing(h) f.spacing(d);

    @include f.media('>narrowMid') {
        padding-left: f.spacing(i);
        padding-right: f.spacing(i);
    }
}

.c-comingSoon-image {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.c-comingSoon-message {
    margin-top: f.spacing(g);
    text-align: center;
    font-weight: f.$font-weight-bold;
}

// Specificity increased to override some fozzie default margins
.c-comingSoon > .c-comingSoon-link {
    margin-top: f.spacing(e);
}
