@use '../fozzie-config' as f;
@use '../variables' as v;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        padding-left: f.spacing(d);
        padding-right: f.spacing(d);

        @include f.media('>narrowMid') {
            padding-left: f.spacing(i);
            padding-right: f.spacing(i);
        }
    }

    & p,
    & .c-contentPage-img,
    & ul {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    padding-top: f.spacing(f);
    padding-bottom: f.spacing(f);

    @include f.media('>narrowMid') {
        padding-top: f.spacing(i);
        padding-bottom: f.spacing(i);
    }
}

.c-contentPage-header--hero {
    background-image: var(--hero-img-src);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-contentPage-header-subheading {
    @include f.font-size('heading-s');
    margin-top: f.spacing(e);
}

.c-contentPage-content {
    flex: 1;
    background-color: f.$color-background-default;
    border-top: 1px solid f.$color-border-default;
    padding-top: f.spacing(f);
    padding-bottom: f.spacing(j);

    @include f.media('>narrowMid') {
        padding-top: f.spacing(h);
        padding-bottom: calc(f.spacing(j) + f.spacing(d));
    }

    > h2 + h3,
    > h3 + h4,
    > p + .c-contentPage-img,
    > .c-contentPage-img + p {
        margin-top: f.spacing(e);
    }

    p {
        margin-top: f.spacing(d);
    }

    > .c-contentPage-img + h3,
    > .c-contentPage-img + h4 {
        margin-top: f.spacing(f);
    }

    > p + h2 {
        margin-top: f.spacing(h);

        @include f.media('>narrowMid') {
            margin-top: f.spacing(i);
        }
    }

    > p + h3,
    > p + h4,
    > ul + h4,
    & .c-contentPage-notification {
        margin-top: f.spacing(f);
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > a,
    > span,
    > ul {
        max-width: v.$content-max-width;
    }
}

.c-contentPage-content hr {
    margin-top: f.spacing(h);
    margin-bottom: f.spacing(h);

    @include f.media('>narrowMid') {
        margin-top: f.spacing(i);
        margin-bottom: f.spacing(i);
    }
}
