@use '../fozzie-config' as f;
@use '../variables' as v;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        padding-left: f.spacing(d);
        padding-right: f.spacing(d);

        @include f.media('>=narrowMid') {
            padding-left: f.spacing(e);
            padding-right: f.spacing(e);
        }

        @include f.media('>mid') {
            padding-left: f.spacing(i);
            padding-right: f.spacing(i);
        }
    }

    & p,
    & .c-contentPage-img,
    & ul {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    padding-top: f.spacing(f);
    padding-bottom: f.spacing(f);

    @include f.media('>=wide') {
        padding-top: f.spacing(i);
        padding-bottom: f.spacing(i);
    }
}

.c-contentPage-header--hero {
    background-image: var(--hero-img-src);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 5%;

    @include f.media('>=narrowMid') {
        background-position: center;
    }

    @include f.media('>=#{v.$wide-screen-content}') {
        background-size: v.$wide-screen-content;
        background-color: f.$color-container-strong;
    }
}

.c-contentPage-header--hero .c-contentPage-header-heading,
.c-contentPage-header--hero .c-contentPage-header-subheading {
    @include f.media('>=narrowMid') {
        max-width: 60%;
    }

    @include f.media('>wide') {
        max-width: 55%;
    }
}

.c-contentPage-header-subheading {
    @include f.font-size('body-l');
    margin-top: f.spacing(e);
    max-width: 50ch;

    @include f.media('>=wide') {
        @include f.font-size('heading-s');
    }
}

.c-contentPage-content {
    flex: 1;
    background-color: f.$color-background-default;
    border-top: 1px solid f.$color-border-default;

    .c-main-container {
        padding-top: f.spacing(f);
        padding-bottom: f.spacing(j);

        > h2 {
            @include f.font-size('heading-l');
        }

        > h3 {
            @include f.font-size('subheading-s');
        }

        @include f.media('>=wide') {
            padding-top: f.spacing(h);
            padding-bottom: calc(f.spacing(j) + f.spacing(d));

            > h2 {
                @include f.font-size('heading-xl');
            }

            > h3 {
                @include f.font-size('subheading-l');
            }
        }

        > h2 + h3,
        > h3 + h4,
        > p + .c-contentPage-img,
        > .c-contentPage-img + p {
            margin-top: f.spacing(e);
        }

        p {
            margin-top: f.spacing(d);
        }

        > .c-contentPage-img + h3,
        > .c-contentPage-img + h4 {
            margin-top: f.spacing(f);
        }

        > p + h2 {
            margin-top: f.spacing(h);
        }

        ul + h3 {
            margin-top: f.spacing(f);
        }

        > p + h3,
        > p + h4,
        > ul + h4,
        & .c-contentPage-notification {
            margin-top: f.spacing(f);
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > a,
        > span,
        > ul {
            max-width: v.$content-max-width;
        }
    }
}

.c-contentPage-content hr {
    margin-top: f.spacing(h);
    margin-bottom: f.spacing(h);

    @include f.media('>=wide') {
        margin-top: f.spacing(i);
        margin-bottom: f.spacing(i);
    }
}
.c-contentPage-content a {
    color: f.$color-content-link-distinct;

    &:visited {
        color: f.$color-content-link-visited;
    }

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.c-contentPage-content {
    p:has(+ .c-tokensTable) {
        margin-bottom: f.spacing(f); // for a tokens table directly following a description add margin. Descriptions normally have a `<hr />` as a separator.
    }
}
