@use '../fozzie-config' as f;

$content-max-width:     80ch;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    > * {
        padding: f.spacing(f) f.spacing(d);

        @include f.media('>narrowMid') {
            padding: f.spacing(i);
        }
    }

    & p,
    & .c-contentImage {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    & h1  {
        @include f.font-size('heading-xxl');
        font-weight: f.$font-weight-extrabold;
    }

    & p {
        @include f.font-size('heading-s');
        margin-top: f.spacing(e);
    }
}

.c-contentPage-main {
    flex: 1;
    background-color: f.$color-background-default;
    border-top: 1px solid f.$color-border-default;

    & h2 {
        @include f.font-size('heading-l');
    }

    & h3 {
        @include f.font-size('heading-m');
        font-weight: f.$font-weight-regular;
    }

    & p + h3, 
    & .c-contentImage + h3 {
        margin-top: f.spacing(f);
    }

    & .c-notification {
        margin-top: f.spacing(f);
    }
}

.c-contentPage-header > *, 
.c-contentPage-main > *:not(.c-contentImage, hr, .c-notification),
.c-contentPage-main .c-contentImage-caption {
    max-width: $content-max-width;
}

.c-contentPage-main hr {
    margin-top: f.spacing(i);
    margin-bottom: f.spacing(i);
}

