@use '../fozzie-config' as f;

$figure-height:         280px;
$content-max-width:     600px;

.c-contentPage {
    > * {
        padding: f.spacing(f) f.spacing(d);

        @include f.media('>narrowMid') {
            padding: f.spacing(i);
        }
    }

    & p,
    & figure {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    & h1  {
        @include f.font-size('heading-xxl');
        font-weight: f.$font-weight-extrabold;
    }

    & p {
        @include f.font-size('heading-s');
        margin-top: f.spacing(e);
    }
}

.c-contentPage-main {
    background-color: f.$color-background-default;
    border-top: 1px solid f.$color-border-default;

    & h2 {
        @include f.font-size('heading-l');
    }

    & h3 {
        @include f.font-size('heading-m');
        font-weight: f.$font-weight-regular;
    }

    & p + h3, 
    & figure + h3 {
        margin-top: f.spacing(f);
    }
}

.c-contentPage-header > *, 
.c-contentPage-main > *:not(figure) {
    max-width: $content-max-width;
}

.c-contentPage-main hr {
    margin-top: f.spacing(i);
    margin-bottom: f.spacing(i);
}

.c-contentPage-image {
    margin: 0;
}

.c-contentPage-image > div {
    height: $figure-height;
    margin-top: f.spacing(e);
    background-color: f.$color-background-subtle;
    border-radius: f.$radius-rounded-d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-contentPage-image > figcaption {
    margin-top: f.spacing(d);
    @include f.font-size('body-s');
}
