@use 'fozzie-config' as f;

$navToggleWidth: 24px;

.c-header {
    background-color: f.$color-support-brand-06;
    padding: f.spacing(d);

    @include f.media('<=narrowMid') {
        padding-left: calc(f.spacing(d) + $navToggleWidth + f.spacing(d));
    }
}

.c-header-logo {
    display: inline-block;
    height: 32px;

    img {
        height: 100%;
        width: auto;
    }
}

.c-navToggle {
    display: none;
    @include f.media('<=narrowMid') {
        display: block;
        position: absolute;
        left: f.spacing(d);
        top: f.spacing(d);
    }
}
