@use 'fozzie-config' as f;

.c-header {
    background-color: f.$color-support-brand-06;
    padding: f.spacing(d);
}

.c-header-logo {
    display: inline-block;
    height: 32px;

    img {
        height: 100%;
        width: auto;
    }
}
