@use '../fozzie-config' as f;

$iconList-item-width-desktop: 152px;
$iconList-item-width-mobile: 163.5px;
$iconList-margin: 16px;
$iconList-margin--small: 24px;
$iconList-icon-size: 32px;
$iconList-icon-size--small: 16px;

.c-iconList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

    @include f.media('>=wide') {
        justify-content: start;
    }
}

.c-iconList-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 f.spacing();
    background-color: f.$color-container-subtle;
    border-radius: f.$radius-rounded-b;

    hr {
        margin: 0;
        width: 100%;
        color: f.$color-divider-default;
    }

    @include f.media('>=tiny') {
        width: $iconList-item-width-mobile;
    }

    @include f.media('>=wide') {
        width: $iconList-item-width-mobile;
    }
}

.c-iconListCard-preview {
    svg {
        margin: $iconList-margin;
        display: block;
        width: $iconList-icon-size;
        height: $iconList-icon-size;
    }
}

.c-iconListCard-preview--small {
    svg {
        margin: $iconList-margin--small;
        width: $iconList-icon-size--small;
        height: $iconList-icon-size--small;
    }
}

.c-iconListCard-name {
    @include f.font-size('body-s');
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: $iconList-margin 0;
}
