@use '../fozzie-config' as f;
@use '../variables' as v;

.c-mediaElementList {
    margin-top: f.$spacing-e;
    max-width: v.$content-max-width;
    display: flex;
    flex-direction: column;

    hr {
        margin: f.$spacing-f 0;
    }

    .c-mediaElement {
        display: flex;
        flex-direction: row;

        @include f.media('<narrowMid') {
            flex-direction: column;
        }

        picture {
            margin-right: f.$spacing-e;
            margin-bottom: f.$spacing-e;

            @include f.media('<narrowMid') {
                margin-right: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
