@use 'fozzie-config' as f;

.c-nav {
  border-right: 1px solid f.$color-border-default;
}

.c-nav-item:hover,
.c-nav summary:hover,
.c-nav-item--active {
  background-color: f.$color-container-subtle;
}

.c-nav-item--active {
  border-left: 4px solid f.$color-interactive-brand;
  font-weight: f.$font-weight-bold;
}

.c-nav ul {
  list-style-type: none;
}

.c-nav details summary::-webkit-details-marker,
.c-nav details summary::marker {
  display: none; 
  content: "";
}

// when nav item is opened
.c-nav details[open] .c-nav-toggle--close {
  display: block;
}

.c-nav details[open] .c-nav-toggle--open {
  display: none;
}

// default - when a nav item is closed
.c-nav details .c-nav-toggle--open {
  display: block;
}

.c-nav details .c-nav-toggle--close {
  display: none;
}

.c-nav-toggle {
  margin-left: auto;
}

.c-nav ul {
  margin: 0;
  padding: 0;
}

.c-nav summary {
  display: flex;
  align-items: center;
  gap: f.spacing(d);
}

.c-nav summary, .c-nav li a {
  padding: 16px;
}

.c-nav summary,
.c-nav li > a {
  cursor: pointer;
}

.c-nav li > a {
  display: block;
  padding-left: f.spacing(i);
  text-decoration: none;
  color: f.$color-content-default;
}
