@use '../fozzie-config' as f;

.c-pillList {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 8px;

    li {
        @include f.font-size('body-s');
        background-color: f.$color-container-strong;
        padding: 2px 4px;
        border-radius: 8px;
    }
}
