@use '../fozzie-config' as f;

$tabs-link-padding:                f.spacing(d);

.c-tabs {
  padding: 0;

  @include f.media('<=narrowMid') {
    position: sticky;
    top: 0;
    background-color: f.$color-container-default;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.06);
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    .c-tabs-item {
      display: inline-block;

      &.is-active {
        a {
          border-bottom: 4px solid f.$color-interactive-brand;
        }
      }

      .c-tabs-link {
        display: block;
        padding: $tabs-link-padding;
        text-decoration: none;
        color: f.$color-content-default;

        &:hover,
        &:focus {
          border-bottom: 4px solid f.$color-interactive-brand;
        }
      }
    }
  }
}
