@use '../fozzie-config' as f;

$tabs-link-padding:                f.spacing(d);

%is-active {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: f.$color-interactive-brand;
  height: 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}

.c-tabs {
  padding: 0;

  @include f.media('<=narrowMid') {
    position: sticky;
    top: 0;
    background-color: f.$color-container-default;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.06);
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    .c-tabs-item {
      display: inline-block;

      .c-tabs-link {
        position: relative;
        display: block;
        padding: $tabs-link-padding;
        text-decoration: none;
        color: f.$color-content-default;

        &.is-active {
          &:before {
            @extend %is-active;
          }
        }

        &:hover,
        &:focus {
          &:before {
            @extend %is-active;
          }
        }
      }
    }
  }
}
