@use '../fozzie-config' as f;

$tokensTable-column-padding: f.spacing(d);

.c-tokensTable-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @include f.media('<=wide') {
        margin-top: f.spacing(f);
    }
}

.c-tokensTable-example {
    border-top-left-radius: f.$radius-03;
    border-top-right-radius: f.$radius-03;

    // bg colour
    background-color: var(--example-background-color, f.$color-background-subtle);

    min-height: 80px;

    @include f.media('>wide') {
        border-radius: f.$radius-03;
    }
}

.c-tokensTable-example--checked {
    background-color: f.$color-container-default;
    background-image: linear-gradient(45deg, f.$color-overlay 25%, transparent 25%, transparent 75%, f.$color-overlay 75%, f.$color-overlay),
        linear-gradient(45deg, f.$color-overlay 25%, transparent 25%, transparent 75%, f.$color-overlay 75%, f.$color-overlay);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    position: relative;

    &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: f.$color-background-dark;
        position: absolute;
        opacity: var(--example-checked-opacity);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.c-tokensTable-displayName {
    color: f.$color-content-default;
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-heading {
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-row {
    display: grid;
    grid-template-columns: 240px 1fr minmax(min-content, max-content);
    column-gap: $tokensTable-column-padding;

    @include f.media('<=wide') {
        grid-template-columns: 1fr;
        grid-template-rows: 128px 1fr;

        & + & {
            margin-top: f.spacing(e);
        }
    }
}

.c-tokensTable-item {
    padding: f.spacing(e) 0;
    position: relative;
    border-bottom: 1px solid f.$color-border-default;

    @include f.media('<=wide') {
        padding: 0;
        border: 1px solid f.$color-border-default;
        border-radius: f.$radius-03;
    }
}

.c-tokensTable-content {
    @include f.media('<=wide') {
        padding: $tokensTable-column-padding;
    }

    > * {
        display: block;
    }
}

.c-tokensTable-token {
    background: f.$color-container-dark;
    color: f.$color-dark-content-default;
    height: min-content;
    border-radius: f.$radius-03;
    padding: calc(f.spacing(a) / 2) f.spacing(a);
    @include f.font-size('body-s');

    @include f.media('<=wide') {
        position: absolute;
        top: f.spacing(d);
        left: f.spacing(d);
    }
}

.c-tokensTable-token--light {
    @include f.media('<=wide') {
        background: #eee;
        color: #222;
    }
}
