@use '../fozzie-config' as f;

$tokensTable-column-padding: f.spacing(d);
$tokensTable-border-width: 1px;

.c-tokensTable-list {
    list-style: none;
    padding: 0;
    margin: f.spacing(f) 0 0;
    width: 100%;

    @include f.media('>=wide') {
        margin-top: 0;
    }
}

.c-tokensTable-example {
    background-color: var(--example-background-color, f.$color-background-subtle);
    min-height: 80px;
    overflow: hidden;

    @include f.media('>=wide') {
        border-radius: f.$radius-03;
    }
}

.c-tokensTable-example--bordered {
    @include f.media('>=wide') {
        border: $tokensTable-border-width solid f.$color-border-default;
    }
}

.c-tokensTable-example--checked {
    background-color: f.$color-container-default;
    background-image: linear-gradient(45deg, f.$color-dark-content-subdued 25%, transparent 25%, transparent 75%, f.$color-dark-content-subdued 75%, f.$color-dark-content-subdued),
        linear-gradient(45deg, f.$color-dark-content-subdued 25%, transparent 25%, transparent 75%, f.$color-dark-content-subdued 75%, f.$color-dark-content-subdued);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    position: relative;

    &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: f.$color-background-dark;
        position: absolute;
        opacity: var(--example-checked-opacity);
    }
}

.c-tokensTable-displayName {
    color: f.$color-content-default;
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-heading {
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-row {
    display: grid;
    column-gap: $tokensTable-column-padding;
    grid-template-columns: 1fr;
    grid-template-rows: 128px 1fr;
    overflow: hidden;

    & + & {
        margin-top: f.spacing(e);
    }

    @include f.media('>=wide') {
        grid-template-columns: 240px 1fr minmax(min-content, max-content);
        grid-template-rows: 1fr;

        & + & {
            margin-top: 0;
        }
    }
}

.c-tokensTable-item {
    position: relative;
    padding: 0;
    border: $tokensTable-border-width solid f.$color-border-default;
    border-radius: f.$radius-03;

    @include f.media('>=wide') {
        padding: f.spacing(e) 0;
        border-radius: 0;
        border-width: 0 0 $tokensTable-border-width 0;

        &:last-of-type {
            border-width: 0;
            padding-bottom: 0;
        }
    }
}

.c-tokensTable-content {
    padding: $tokensTable-column-padding;

    > * {
        display: block;
    }

    @include f.media('>=wide') {
        padding: 0;
    }
}

.c-tokensTable-token {
    position: absolute;
    top: f.spacing(d);
    left: f.spacing(d);
    background: f.$color-container-dark;
    color: f.$color-dark-content-default;
    height: min-content;
    border: 1px solid f.$color-border-subtle;
    border-radius: f.$radius-03;
    padding: calc(f.spacing(a) / 2) f.spacing(a);
    @include f.font-size('body-s');

    @include f.media('>=wide') {
        position: static;
        border-width: 0;
    }
}
