@use '../fozzie-config' as f;

.c-tokensTable {
    list-style: none;
    padding: 0;
}

.c-tokensTable li {
    border-radius: f.$radius-03;
    display: flex;
    flex-direction: column;
    position: relative;

    border: 1px solid f.$color-border-default;
    // @include f.media('<=narrowMid') {
    // }
}

.c-tokensTable li + li {
    margin-top: f.spacing(e) + f.spacing(e);

    &:before {
        content: '';
        position: absolute;
        height: 1px;
        background-color: f.$color-border-default;
        top: calc(f.spacing(e) * -1);
        width: 100%;
    }
}

.c-tokensTable-swatch {
    height: 128px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--bg-colour, f.$color-background-subtle);
}

.c-tokensTable-data {
    padding: f.spacing(d);
    display: flex;
    flex-direction: column;
}

.c-tokensTable-displayName {
    color: f.$color-content-default;
    font-weight: f.$font-weight-bold;
}
