@use '../fozzie-config' as f;

$tokensTable-column-padding: f.spacing(d);

.c-tokensTable-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @include f.media('<=wide') {
        margin-top: f.spacing(f);
    }
}

.c-tokensTable-example {
    border-top-left-radius: f.$radius-03;  //TODO: This could come out to .c-tokensTable-example?
    border-top-right-radius: f.$radius-03;

    // bg colour
    background-color: var(--example-background-color, f.$color-background-subtle);

    min-height: 80px;

    @include f.media('>wide') {
        border-radius: f.$radius-03;
    }
}


.c-tokensTable-displayName {
    color: f.$color-content-default;
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-heading {
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-row {
    display: grid;
    grid-template-columns: 240px 1fr minmax(min-content, max-content);
    column-gap: $tokensTable-column-padding;

    @include f.media('<=wide') {
        grid-template-columns: 1fr;
        grid-template-rows: 128px 1fr;

        & + & {
            margin-top: f.spacing(e);
        }
    }

}

.c-tokensTable-item {
    padding: f.spacing(e) 0;
    position: relative;
    border-bottom: 1px solid f.$color-border-default;

    @include f.media('<=wide') {
        padding: 0;
        border: 1px solid f.$color-border-default;
        border-radius: f.$radius-03;
    }
}

.c-tokensTable-content {
    @include f.media('<=wide') {
        padding: $tokensTable-column-padding;
    }

    > * {
        display: block;
    }
}

.c-tokensTable-token {
    background: #222;
    color: #eee;
    height: min-content;
    border-radius: f.$radius-03;
    padding: calc(f.spacing(a) / 2) f.spacing(a);
    @include f.font-size('body-s');

    @include f.media('<=wide') {
        position: absolute;
        top: f.spacing(d);
        left: f.spacing(d);
    }
}

.c-tokensTable-token--light {
    @include f.media('<=wide') {
        background: #eee;
        color: #222;
    }
}


