@use '../fozzie-config' as f;
@use '../variables' as v;

$tokensTable-column-padding: f.spacing(d);
$tokensTable-border-width: 1px;
$tokensTable-spacing-container-height: 176px;


.c-tokensTable-list {
    list-style: none;
    padding: 0;
    margin: f.spacing(f) 0 0;
    width: 100%;

    @include f.media('>=wide') {
        margin-top: 0;
    }
}

.c-tokensTable-example {
    background-color: var(--example-background-color, f.$color-background-subtle);
    min-height: 80px;
    overflow: hidden;

    @include f.media('>=wide') {
        border-radius: f.$radius-03;
    }
}

.c-tokensTable-example--bordered {
    @include f.media('>=wide') {
        border: $tokensTable-border-width solid f.$color-border-default;
    }
}

.c-tokensTable-example--checked {
    background-color: f.$color-container-default;
    background-image: linear-gradient(45deg, f.$color-dark-content-subdued 25%, transparent 25%, transparent 75%, f.$color-dark-content-subdued 75%, f.$color-dark-content-subdued),
        linear-gradient(45deg, f.$color-dark-content-subdued 25%, transparent 25%, transparent 75%, f.$color-dark-content-subdued 75%, f.$color-dark-content-subdued);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    position: relative;

    &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: f.$color-background-dark;
        position: absolute;
        opacity: var(--example-checked-opacity);
    }
}

.c-tokensTable-example-container {
    background-color: f.$color-background-subtle;
    position: relative;
    min-height: $tokensTable-spacing-container-height;

    @include f.media('>=wide') {
       background-color: f.$color-background-default;
       min-height: 128px;

       @include f.media('>=wide') {
            justify-self: start;
            align-self: start;
        }
    }
}

.c-tokensTable-example--spacing {
    // calculates the vertical positioning of the spacing examples (always slightly off-centre)
    --base-negative-space: calc((#{$tokensTable-spacing-container-height} - var(--example-spacing)) / 2);
    background-color: f.$color-content-default;
    opacity: 10%;
    width: var(--example-spacing);
    height: var(--example-spacing);
    border-radius: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: calc(var(--base-negative-space) - 8px);
    top: calc(var(--base-negative-space) + 8px);

    @include f.media('>=wide') {
        bottom: 0;
        top: 0;
    }
}

.c-tokensTable-displayName {
    color: f.$color-content-default;
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-heading {
    font-weight: f.$font-weight-bold;
}

.c-tokensTable-row {
    display: grid;
    column-gap: $tokensTable-column-padding;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    & + & {
        margin-top: f.spacing(e);
    }

    @include f.media('>=wide') {
        grid-template-columns: 240px 1fr minmax(min-content, max-content);
        grid-template-rows: 1fr;

        & + & {
            margin-top: 0;
        }
    }
}

.c-tokensTable-item {
    position: relative;
    padding: 0;
    border: $tokensTable-border-width solid f.$color-border-default;
    border-radius: f.$radius-03;

    @include f.media('>=wide') {
        padding: f.spacing(e) 0;
        border-radius: 0;
        border-width: 0 0 $tokensTable-border-width 0;
        background-color: f.$color-background-default;

        // Any final token item at the end of a parent category list should not have a bottom border
        // In pages where there are no parent categories, there should not be a bottom border on the final item in each list either
        &:last-of-type:not(.c-tokensTable-sectionSubheading ~ .c-tokensTable-list .c-tokensTable-item),
        .c-tokensTable-list:has(+ hr) &:last-of-type {
            border-width: 0;
            padding-bottom: 0;
        }
    }
}

.c-tokensTable-content {
    padding: $tokensTable-column-padding;
    background-color: f.$color-container-default;

    > * {
        display: block;
    }

    @include f.media('>=wide') {
        padding: 0;
        background-color: f.$color-background-default;
    }
}

.c-tokensTable-token {
    position: absolute;
    top: f.spacing(d);
    left: f.spacing(d);
    background: f.$color-container-dark;
    color: f.$color-dark-content-default;
    height: min-content;
    border: 1px solid f.$color-border-subtle;
    border-radius: f.$radius-03;
    padding: calc(f.spacing(a) / 2) f.spacing(a);
    @include f.font-size('body-s');

    @include f.media('>=wide') {
        position: static;
        border-width: 0;
    }
}

.c-tokensTable-sectionHeading,
.c-tokensTable-sectionDescription,
.c-tokensTable-sectionSubheading {
    max-width: v.$content-max-width;
}

.c-tokensTable-sectionSubheading {
    margin-top: f.spacing(f);

    &:not(:first-of-type) {
        margin-top: f.spacing(i);
        position: relative;
        // adds a visual divider above subheadings on mobile to add a bit of separation
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -#{f.spacing(f)};
            background-color: f.$color-border-default;
            height: $tokensTable-border-width;
        }

        @include f.media('>=wide') {
            margin-top: f.spacing(f);
            &:before {
                display: none;
            }
        }
    }
}

