@use '../../../mixins/font-theme' as *;
@use '../../../functions/unitModifiers' as *;

html {
    font-size: font-size(--dt-font-body-l-size);
    text-size-adjust: 100%;
}

body {
    @include font-theme('font-body-l');

    color: var(--dt-color-content-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    @include font-theme('font-body-l');

    margin-block-start: var(--dt-spacing-d);
    margin-block-end: 0;
}

h1,
.alpha {
    @include font-theme('font-heading-xl');

    color: var(--dt-color-content-default);
    margin-block-start: var(--dt-spacing-f);
    margin-block-end: var(--dt-spacing-d);
    margin-inline: 0;

    &:first-child,
    &:first-child {
        margin-block-start: 0;
    }
}


h2,
h3,
h4,
h5,
h6,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
    color: var(--dt-color-content-default);
    margin: 0;
}

h2,
.beta {
    @include font-theme('font-heading-l');
}

h3,
.gamma {
    @include font-theme('font-heading-m');
}

h4,
h5,
.delta,
.epsilon {
    @include font-theme('font-heading-s');
}

h6,
.zeta {
    @include font-theme('font-body-strong-l');
}

* + h2,
* + .beta {
    margin-block-start: var(--dt-spacing-f);
}

* + h3,
* + .gamma,
* + h4,
* + .delta {
    margin-block-start: var(--dt-spacing-d);
}

strong,
b {
    font-weight: var(--dt-font-body-strong-l-weight);
}

em,
i {
    font-style: italic;
    font-variation-settings: 'slnt' -20;
}

abbr[title] {
    border-block-end: 1px dotted var(--dt-color-divider-default);
    cursor: help;
    text-decoration: none;
}

blockquote {
    padding-inline-start: 10px;
    margin: var(--dt-spacing-d);
    border-inline-start: 4px solid var(--dt-color-divider-default);

    p {
        font-size: font-size(--dt-font-body-s-size);
        line-height: line-height(--dt-font-body-s-line-height);
        font-weight: var(--dt-font-body-s-weight);
    }
}

button {
    font-family: var(--dt-font-interactive-l-family), var(--dt-font-family-secondary), sans-serif;
}

mark {
    background: var(--dt-color-support-warning-tonal);
    padding: var(--dt-spacing-a-small) var(--dt-spacing-a);
    border-radius: var(--dt-radius-rounded-a);
}

address {
    font-style: normal;
    margin-block-start: var(--dt-spacing-d);
    margin-block-end: 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

samp {
    font-family: var(--dt-font-family-code), Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

hr {
    margin: var(--dt-spacing-d) 0;
    border: 0;
    border-block-start: 1px solid var(--dt-color-divider-default);
}

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
