@use '@justeattakeaway/pie-css/scss' as p;

:host {
  display: block;
}

.c-toast {
  --toast-border-radius: var(--dt-radius-rounded-b);
  --toast-background-color: var(--dt-color-container-inverse);
  --toast-font-color: var(--dt-color-content-inverse);
  --toast-font-size: #{p.font-size(--dt-font-body-s-size)};
  --toast-line-height: #{p.line-height(--dt-font-body-s-line-height)};
  --toast-icon-fill: var(--dt-color-content-default);

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 48px;
  max-height: 122px;
  min-width: 300px;
  max-width: 420px;

  padding: var(--dt-spacing-b) var(--dt-spacing-c) var(--dt-spacing-b) var(--dt-spacing-d);
  border-radius: var(--toast-border-radius);
  background-color: var(--toast-background-color);
  box-shadow: var(--dt-elevation-03);
  color: var(--toast-font-color);
  font-size: var(--toast-font-size);
  line-height: var(--toast-line-height);
}


.c-toast--info {
  --toast-icon-fill: var(--dt-color-support-info-inverse);
  
  &.c-toast--strong {
    --toast-background-color: var(--dt-color-support-info);
    --toast-icon-fill: var(--dt-color-content-inverse);
  }
}

.c-toast--warning {
  --toast-icon-fill: var(--dt-color-support-warning-inverse);
  
  &.c-toast--strong {
    --toast-background-color: var(--dt-color-support-warning);
    --toast-icon-fill: var(--dt-color-content-dark);
    --toast-font-color: var(--dt-color-content-dark);
  }
}

.c-toast--success {
  --toast-icon-fill: var(--dt-color-support-positive-inverse); 
  
  &.c-toast--strong {
    --toast-background-color: var(--dt-color-support-positive);
    --toast-icon-fill: var(--dt-color-content-inverse);
  }
}

.c-toast--error {
  --toast-icon-fill: var(--dt-color-support-error-inverse);  

  &.c-toast--strong {
    --toast-background-color: var(--dt-color-support-error);
    --toast-icon-fill: var(--dt-color-content-inverse);
  }
}

.c-toast-contentArea {
  display: flex;
  gap: var(--dt-spacing-b);
  justify-content: space-between;
}

.c-toast-messageArea {
  display: flex;
  align-items: center;
  gap: var(--dt-spacing-b);
  padding: 6px var(--dt-spacing-a) 6px 0;
  overflow: hidden;

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.c-toast-actionsArea {
  display: flex;
  gap: var(--dt-spacing-b);
  flex-shrink: 0;
}

.c-toast--multiline {
  .c-toast-contentArea {
    align-items: flex-start;
    gap: 0;
  }

  .c-toast-messageArea {  
    align-items: flex-start;
    padding-block-end: var(--dt-spacing-b);
  
    span {
      max-height: 60px;
      white-space: inherit;

      // text-overflow: ellipsis; for multiline lines only works using webkit prefix
      /* stylelint-disable */
      display: -webkit-box;
      /* stylelint-enable */
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.c-toast-footer {
  display: flex;
  justify-content: flex-end;
}

.c-toast-icon {
  color: var(--toast-icon-fill);
}