version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-type: "major"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "DSW-000 update"
    groups:
      babel:
        description: "Group Babel devDependencies from package.json within pie-monorepo"
        patterns:
          - "@babel/*"
          - "babel-*"
      justeattakeaway:
        description: "Group JET devDependencies / dependencies from package.json within pie-monorepo"
        patterns:
          - "@justeat/*"
          - "@justeattakeaway/*"
      percy:
        description: "Group Playwright / other testing related devDependencies from package.json within pie-monorepo"
        patterns:
          - "@axe-core/playwright"
          - "@percy/*"
          - "@playwright/*"
          - "@sand4rt/experimental-ct-web/*"
      vitest:
        description: "Group Vitest devDependencies from package.json within pie-monorepo"
        patterns:
          - "vitest-*"
          - "@vitest"
      eleventy:
        description: "Group Eleventy devDependencies from apps/pie-docs/package.json"
        patterns:
          - "@11ty/*"
          - "eleventy-*"
      storybook:
        description: "Group Storybook dependencies from apps/pie-storybook/package.json"
        patterns:
          - "@storybook/*"
          - "storybook"

  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-type: "major"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "DSW-000 update"