[type='radio'], [type='checkbox'] {
    // opacity: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

[type='radio'] + label,
[type='checkbox'] + label {
    cursor: pointer;
    font-weight: normal;
}

[type='radio']:disabled + label span,
[type='checkbox']:disabled + label span {
    cursor: default;
    color: var(--dt-color-content-disabled);
}

[type='radio'] + label:before,
[type='checkbox'] + label:before {
    content: '';
    border: 1px solid var(--dt-color-interactive-form);
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: var(--dt-spacing-b);
    margin-top: var(--dt-spacing-none);
    vertical-align: -5px;
}

[type='radio'] + label:before {
    border-radius: 50%;
}

[type='checkbox'] + label:before {
    border-radius: 2px;
}

[type='radio'][ischecked='true'] + label:before {
    border: 7px solid var(--dt-color-interactive-brand);
    width: 10px;
    height: 10px;
    background-color: white;
}

[type='checkbox'][ischecked='true'] + label:before {
    --svg: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="white" viewBox="0 0 16 16" class="c-pieIcon c-pieIcon--check"><path d="M5.865 12.489a1.217 1.217 0 0 1-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 0 1-.875.385l-.009.026Z"></path></svg>');
    background-image: var(--svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    border: 1px solid var(--dt-color-interactive-brand);
    background-color: var(--dt-color-interactive-brand);
    color: white !important;
}


.text {
    --selector-font-family: var(--dt-font-interactive-m-family);
    --selecto-font-size: calc(var(--dt-font-size-16) * 1px);
    font-weight: normal;
    font-family: var(--selector-font-family);
    font-size: var(--selector-font-size);
    color: var(--dt-color-content-default);
}
