@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

@keyframes checkboxCheck {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
        width: 8px;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
        width: 8px;
        height: 16px;
        border-color: #fff;
        border-bottom-right-radius: 2px;

        // had to add 1px to z-axis to fix a bug in Safari
        // that adds a tiny line between check borders
        transform: translate3d(0, -16px, 1px) rotate(45deg);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    33% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.c-checkbox-tick {
    content: "";
    display: flex;
    flex: 0 0 auto;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    margin: var(--checkbox-margin);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--checkbox-radius);
    background-color: var(--checkbox-bg-color);

    @media (prefers-reduced-motion: no-preference) {
        transition:
            background-color var(--dt-motion-timing-100) var(--checkbox-motion-easing),
            border-color var(--dt-motion-timing-100) var(--checkbox-motion-easing);
    }

    &.c-checkbox-tick--allow-animation {
        @media (prefers-reduced-motion: no-preference) {
            animation: scaleDown var(--dt-motion-timing-100) var(--checkbox-motion-easing);
        }
    }

    &.is-disabled {
        --checkbox-bg-color: var(--dt-color-container-strong);
        --checkbox-border-color: var(--dt-color-disabled-01);
    }

    &.c-checkbox-tick--status-error {
        --checkbox-border-color: var(--dt-color-support-error);
    }

    &.c-checkbox-tick--allow-animation.c-checkbox-tick--checked {
        @media (prefers-reduced-motion: no-preference) {
            animation: scaleUp var(--dt-motion-timing-100) var(--checkbox-motion-easing);
        }
    }

    &.c-checkbox-tick--checked {
        &:not(.is-disabled) {
            --checkbox-bg-color: var(--dt-color-interactive-brand);
            --checkbox-border-color: var(--checkbox-bg-color);
        }

        &.c-checkbox-tick--status-error {
            --checkbox-bg-color: var(--dt-color-support-error);
            --checkbox-border-color: var(--checkbox-bg-color);
        }
    }

    &.c-checkbox-tick--checked:before {
        content: "";
        position: relative;
        top: 55%;
        left: 14%;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0% 100%;
    
        @media (prefers-reduced-motion: reduce) {
            animation-duration: 1ms !important;
            animation-delay: 0 !important;
            animation-iteration-count: 1 !important;
            width: 8px;
            height: 16px;
            border-color: #fff;
            border-bottom-right-radius: 2px;
            transform: translate3d(0, -16px, 0) rotate(45deg);
        }
    
        @media only percy {
            animation: none;
            width: 8px;
            height: 16px;
            border-color: #fff;
            border-bottom-right-radius: 2px;
            transform: translate3d(0, -16px, 0) rotate(45deg);
        }
    }


    &.c-checkbox-tick--checked.c-checkbox-tick--allow-animation:before {
        animation: checkboxCheck var(--dt-motion-timing-150) var(--checkbox-motion-easing) forwards;
    }
    
    &.c-checkbox-tick--checked:not(.c-checkbox-tick--allow-animation):before {
        width: 8px;
        height: 16px;
        border-color: #fff;
        border-bottom-right-radius: 2px;
        transform: translate3d(0, -16px, 0) rotate(45deg);
    }


    &.c-checkbox-tick--checked:dir(rtl):before {
        left: unset;
        right: 50%;
    }

    &.c-checkbox-tick--indeterminate {
        &:not(.is-disabled) {
            --checkbox-bg-color: var(--dt-color-interactive-brand);
            --checkbox-border-color: var(--checkbox-bg-color);
        }

        &.c-checkbox-tick--status-error {
            --checkbox-bg-color: var(--dt-color-support-error);
            --checkbox-border-color: var(--checkbox-bg-color);
        }
    }

    &.c-checkbox-tick--indeterminate:after {
        width: 16px;

        @media (prefers-reduced-motion: no-preference) {
            transition: width var(--dt-motion-timing-100) var(--checkbox-motion-easing) var(--dt-motion-timing-100);
        }
    }
}

.c-checkbox-text {
    display: inline;
    flex: 1 1 auto;
    align-self: center;
    min-width: 0;
    margin-inline-start: var(--checkbox-gap);
    white-space: normal;
    color: var(--checkbox-content-color);
    font-size: var(--checkbox-font-size);
    line-height: var(--checkbox-line-height);
    font-weight: var(--checkbox-font-weight);
}

// Initial styles for indeterminate state
.c-checkbox-tick:after {
    content: "";
    position: relative;
    top: 47%;
    left: 14%;
    width: 0;
    height: 2px;
    background-color: white;
}

.c-checkbox-tick:dir(rtl):after {
    left: unset;
    right: 14%;
}

.c-checkbox {
    --checkbox-height: 24px;
    --checkbox-width: 24px;
    --checkbox-radius: var(--dt-radius-rounded-a);
    --checkbox-margin: 1px;
    --checkbox-gap: var(--dt-spacing-b);
    --checkbox-font-size: #{p.font-size(--dt-font-body-l-size)};
    --checkbox-line-height: #{p.line-height(--dt-font-body-l-line-height)};
    --checkbox-font-weight: var(--dt-font-weight-regular);
    --checkbox-bg-color: var(--dt-color-container-default);
    --checkbox-border-color: var(--dt-color-border-form);
    --checkbox-content-color: var(--dt-color-content-default);
    --checkbox-motion-easing: var(--dt-motion-easing-persistent-functional);

    display: flex;
    flex-direction: column;

    input {
        display: block;
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
        white-space: nowrap;
    }

    label {
        display: flex;
        max-width: 100%;
        white-space: nowrap;
        cursor: pointer;
    }

    &:hover {
        .c-checkbox-tick {
            --checkbox-bg-color: hsl(
                var(--dt-color-container-default-h),
                var(--dt-color-container-default-s),
                calc(var(--dt-color-container-default-l) - var(--dt-color-hover-01))
            );

            @supports (background-color: color-mix(in srgb, black, white)) {
                --checkbox-bg-color: color-mix(in srgb, var(--dt-color-hover-01-bg) var(--dt-color-hover-01),  var(--dt-color-container-default));
            }

            transition:
                background-color var(--dt-motion-timing-200) var(--checkbox-motion-easing),
                border-color var(--dt-motion-timing-200) var(--checkbox-motion-easing);
        }
    }

    &:active {
        .c-checkbox-tick {
            --checkbox-bg-color: hsl(
                var(--dt-color-container-default-h),
                var(--dt-color-container-default-s),
                calc(var(--dt-color-container-default-l) - var(--dt-color-active-01))
            );

            @supports (background-color: color-mix(in srgb, black, white)) {
                --checkbox-bg-color: color-mix(in srgb, var(--dt-color-active-01-bg) var(--dt-color-active-01),  var(--dt-color-container-default));
            }

            transition:
                background-color var(--dt-motion-timing-100) var(--checkbox-motion-easing),
                border-color var(--dt-motion-timing-100) var(--checkbox-motion-easing);
        }
    }

    &.is-disabled {
        label {
            cursor: not-allowed;
        }
    }

    input:focus-visible + label {
        .c-checkbox-tick {
            @include p.focus;
        }
    }

    &.is-disabled {
        &:hover,
        &:active {
            .c-checkbox-tick {
                --checkbox-bg-color: var(--dt-color-container-strong);
                --checkbox-border-color: var(--dt-color-disabled-01);
            }
        }
    }

    &.c-checkbox--status-error {
        &:hover {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-container-default-h),
                    var(--dt-color-container-default-s),
                    calc(var(--dt-color-container-default-l) - var(--dt-color-hover-01))
                );

                @supports (background-color: color-mix(in srgb, black, white)) {
                    --checkbox-bg-color: color-mix(in srgb, var(--dt-color-hover-01-bg) var(--dt-color-hover-01),  var(--dt-color-container-default));
                }
            }
        }

        &:active {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-container-default-h),
                    var(--dt-color-container-default-s),
                    calc(var(--dt-color-container-default-l) - var(--dt-color-active-01))
                );
            }

            @supports (background-color: color-mix(in srgb, black, white)) {
                --checkbox-bg-color: color-mix(in srgb, var(--dt-color-active-01-bg) var(--dt-color-active-01),  var(--dt-color-container-default));
            }
        }
    }

    &.c-checkbox--checked,
    &.c-checkbox--indeterminate {
        &:not(.is-disabled):hover {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-interactive-brand-h),
                    var(--dt-color-interactive-brand-s),
                    calc(var(--dt-color-interactive-brand-l) - var(--dt-color-hover-01))
                );
                --checkbox-border-color: var(--checkbox-bg-color);

                @supports (background-color: color-mix(in srgb, black, white)) {
                    --checkbox-bg-color: color-mix(in srgb, var(--dt-color-hover-01-bg) var(--dt-color-hover-01),  var(--dt-color-interactive-brand));
                    --checkbox-border-color: var(--checkbox-bg-color);
                }
            }
        }

        &.c-checkbox--status-error:hover {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-support-error-h),
                    var(--dt-color-support-error-s),
                    calc(var(--dt-color-support-error-l) - var(--dt-color-hover-01))
                );
                --checkbox-border-color: var(--checkbox-bg-color);

                @supports (background-color: color-mix(in srgb, black, white)) {
                    --checkbox-bg-color: color-mix(in srgb, var(--dt-color-hover-01-bg) var(--dt-color-hover-01),  var(--dt-color-support-error));
                    --checkbox-border-color: var(--checkbox-bg-color);
                }
            }
        }

        &:not(.is-disabled):active {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-interactive-brand-h),
                    var(--dt-color-interactive-brand-s),
                    calc(var(--dt-color-interactive-brand-l) - var(--dt-color-active-01))
                );
                --checkbox-border-color: var(--checkbox-bg-color);

                @supports (background-color: color-mix(in srgb, black, white)) {
                    --checkbox-bg-color: color-mix(in srgb, var(--dt-color-active-01-bg) var(--dt-color-active-01),  var(--dt-color-interactive-brand));
                    --checkbox-border-color: var(--checkbox-bg-color);
                }
            }
        }

        &.c-checkbox--status-error:active {
            .c-checkbox-tick {
                --checkbox-bg-color: hsl(
                    var(--dt-color-support-error-h),
                    var(--dt-color-support-error-s),
                    calc(var(--dt-color-support-error-l) - var(--dt-color-active-01))
                );
                --checkbox-border-color: var(--checkbox-bg-color);

                @supports (background-color: color-mix(in srgb, black, white)) {
                    --checkbox-bg-color: color-mix(in srgb, var(--dt-color-active-01-bg) var(--dt-color-active-01),  var(--dt-color-support-error));
                    --checkbox-border-color: var(--checkbox-bg-color);
                }
            }
        }
    }
}
