@use 'sass:color';
@use '../fozzie-config' as f;

$anchor-size: f.spacing(e);
$anchor-margin: f.spacing(b);

.c-anchor-icon {
    visibility: hidden;
    height: $anchor-size;
    width: $anchor-size;
    display: inline-flex;
    border-radius: f.$radius-rounded-a;
    padding: f.spacing(a);
    margin-inline: $anchor-margin 0;

    @include f.media('>=mid') {
        margin-inline: 0 $anchor-margin;
    }

    &:hover {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-hover-01 * -1));
    }

    &:focus,
    &:active {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-active-01 * -1));
    }
}

h2:has(.c-anchor-icon),
h3:has(.c-anchor-icon),
h4:has(.c-anchor-icon) {
    display: inline-flex;
    align-items: center;
    margin-block: 0;

    &:hover {
        .c-anchor-icon {
            visibility: visible;
        }
    }

    @include f.media('>=mid') {
        flex-direction: row-reverse;
        justify-content: start;
        margin-inline: -(calc($anchor-size + $anchor-margin)) 0;
    }
}
