@use 'sass:color';
@use '../fozzie-config' as f;

$anchor-size: f.spacing(e);
$anchor-margin: f.spacing(b);
$anchor-width: calc($anchor-size + $anchor-margin);

.c-anchorIcon {
    visibility: hidden;
    position: absolute;
    inline-size: $anchor-size;
    block-size: $anchor-size;
    padding: f.spacing(a);
    border-radius: f.$radius-rounded-a;
    margin-inline-start: $anchor-margin;

    &:hover {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-hover-01 * -1));
    }

    &:focus,
    &:active {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-active-01 * -1));
    }

    @include f.media('>=mid') {
        margin-inline-start: 0;
        left: 0;
    }
}

h2:has(.c-anchorIcon),
h3:has(.c-anchorIcon),
h4:has(.c-anchorIcon) {
    position: relative;

    &:hover {
        .c-anchorIcon {
            visibility: visible;
        }
    }

    @include f.media('>=mid') {
        margin-inline-start: -$anchor-width;

        // adds area to the left of the heading on desktop views so anchor can be selected when heading is hovered
        &:before {
            content: '';
            width: $anchor-width;
            display: inline-block;
        }
    }
}

$headingSizes: (
    'h2' f.$font-heading-xl-line-height--wide f.$font-heading-xl-line-height--narrow,
    'h3' f.$font-heading-m-line-height--wide f.$font-heading-m-line-height--narrow,
    'h4' f.$font-heading-s-line-height--wide f.$font-heading-s-line-height--narrow
);

@each $headingSize, $wideToken, $narrowToken in $headingSizes {
    #{$headingSize}:has(.c-anchorIcon) {
        .c-anchorIcon {
            bottom: calc((($narrowToken * 1px) - $anchor-size) / 2);

            @include f.media('>=wide') {
                bottom: calc((($wideToken * 1px) - $anchor-size) / 2);
            }
        }
    }
}
