@use 'sass:color';
@use '../fozzie-config' as f;

$anchor-size: f.spacing(e);
$anchor-margin: f.spacing(b);
$anchor-width: calc($anchor-size + $anchor-margin);

.c-anchor-icon {
    visibility: hidden;
    height: $anchor-size;
    width: $anchor-size;
    display: inline-flex;
    padding: f.spacing(a);
    border-radius: f.$radius-rounded-a;

    &:hover {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-hover-01 * -1));
    }

    &:focus,
    &:active {
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-active-01 * -1));
    }
}

h2:has(.c-anchor-icon),
h3:has(.c-anchor-icon),
h4:has(.c-anchor-icon) {
    display: flex;
    align-items: center;
    gap: $anchor-margin;

    .c-anchor-text {
        max-width: calc(100% - $anchor-width);
    }

    &:hover {
        .c-anchor-icon {
            visibility: visible;
        }
    }

    @include f.media('>=mid') {
        flex-direction: row-reverse;
        justify-content: start;
        margin-inline-start: -($anchor-width);
    }
}
