@use '../fozzie-config' as f;

$card-min-width: 270px;
$card-image-height: 180px;
$card-label-height: 72px;
$card-gap: f.$spacing-e;

p + .c-card-wrapper {
    margin-top: f.$spacing-f;
}

h2 + .c-card-wrapper {
    margin-top: f.$spacing-e;
}

.c-card-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
    gap: $card-gap;
    list-style: none;
    padding: 0;
}


.c-card {
    position: relative;
    border: 1px solid f.$color-border-default;
    border-radius: f.$radius-rounded-c;
    background-color: f.$color-container-default;

    &:hover {
        background-color: darken(f.$color-container-default, f.$color-hover-01);
    }

    // makes the entire card clickable
    a:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.c-card-image {
    border-radius: f.$radius-rounded-c f.$radius-rounded-c 0 0;
    height: $card-image-height;
    display: block;
    width: 100%;
    object-fit: cover;
}

.c-card-labelContainer {
    border-radius: f.$radius-rounded-c;
    border-top: 1px solid f.$color-border-default;
    display: flex;
    gap: f.spacing();
    justify-content: space-between;
    align-items: center;
    min-height: $card-label-height;
    padding: f.$spacing-e f.$spacing-d;
}

.c-card-labelContainer--hasImage {
    border-radius: 0 0 f.$radius-rounded-c f.$radius-rounded-c;
}

.c-card-label {
    font-weight: f.$font-weight-bold;
    margin-top: 0;
}

.c-card-label a > span {
    display: block;
    @include f.truncate(20ch);
}

.c-card-labelContainer .c-card-label a {
    color: f.$color-content-default;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}
