@use 'sass:color';
@use '../fozzie-config' as f;

$card-min-width: 270px;
$card-image-height: 180px;
$card-gap: var(--dt-spacing-e);
$card-container-max-width: calc(($card-min-width * 3) + ($card-gap * 2));
$card-border: 1px solid f.$color-border-default;

.c-card-wrapper {
    container-type: inline-size;
}

p + .c-card-wrapper {
    margin-block-start: var(--dt-spacing-f);
}

h2 + .c-card-wrapper {
    margin-block-start: var(--dt-spacing-e);
}

.c-card-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
    gap: $card-gap;
    list-style: none;
    padding: 0;
}

.c-card-list--fillContainer {
    grid-template-columns: 1fr;


    @include f.media('>=mid') {
        grid-template-columns: auto auto auto;

        @container ((max-width: #{$card-container-max-width})) {
            li:last-child {
                grid-column: span 2;
            }
        }
    }
}

.c-card {
    position: relative;
    border: $card-border;
    border-radius: f.$radius-rounded-c;
    background-color: f.$color-container-default;
    padding: var(--dt-spacing-e);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        // This is really annoying, but it's the only way to get darkness to work with Custom Props
        // TODO: We should likely make a utility function for this in the future
        // For ref, I tried using string interpolation with -#{f.$color-hover-01}, but it doesn't work as
        // CSS then complains about it then not being a number ¯\_(ツ)_/¯
        background-color: color.adjust(f.$color-container-default, $lightness: calc(f.$color-hover-01 * -1));
    }

    // makes the entire card clickable
    a:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.c-card--hasImage {
    padding: 0;
}

.c-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--dt-spacing-b);
    border-radius: var(--dt-spacing-b);

    path {
        fill: f.$color-content-interactive-light;
    }
}

$iconBackgroundColours: (
    'support-brand-03' f.$color-support-brand-03,
    'support-brand-04' f.$color-support-brand-04,
    'support-brand-05' f.$color-support-brand-05,
);

@each $color, $token in $iconBackgroundColours {
    .c-card-icon--#{$color} {
        background-color: #{$token};
    }
}

.c-card-heading {
    @include f.font-size('heading-s');
    margin-block-start: var(--dt-spacing-e);

    @include f.media('>=mid') {
        @include f.font-size('heading-m');
    }
}

.c-card-content {
    margin-block-start: var(--dt-spacing-d);
}

.c-card-image {
    border-radius: f.$radius-rounded-c f.$radius-rounded-c 0 0;
    height: $card-image-height;
    display: block;
    width: 100%;
    object-fit: cover;

    .c-card:hover & {
        filter: brightness(50%);
    }
}

.c-card-labelContainer {
    border-radius: f.$radius-rounded-c;
    display: flex;
    gap: var(--dt-spacing-b);
    justify-content: space-between;
    align-items: center;
    padding-top: var(--dt-spacing-e);
    padding-bottom: 0;

    .c-card--hasImage & {
        border-top: $card-border;
        padding-block: var(--dt-spacing-e);
        padding-inline: var(--dt-spacing-d);
        border-radius: 0 0 f.$radius-rounded-c f.$radius-rounded-c;
    }
}

.c-card-labelContainer--internalLink {
    justify-content: start;
    gap: var(--dt-spacing-a);
}

.c-card-label {
    font-weight: f.$font-weight-bold;
    margin-block-start: 0;
}

.c-card-label > span {
    display: block;
    @include f.truncate(20ch);
}

.c-card-labelContainer .c-card-label {
    color: f.$color-content-default;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:visited {
        color: f.$color-content-default;
    }
}
