@use 'sass:color';
@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

$card-min-width: 270px;
$card-image-height: 180px;
$card-gap: var(--dt-spacing-e);
$card-container-max-width: calc(($card-min-width * 3) + 48px); // 48px is card-gap * 2
$card-border: 1px solid var(--dt-color-border-default);

.c-card-wrapper {
    container-type: inline-size;
}

p + .c-card-wrapper {
    margin-block-start: var(--dt-spacing-f);
}

h2 + .c-card-wrapper {
    margin-block-start: var(--dt-spacing-e);
}

.c-card-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
    gap: $card-gap;
    list-style: none;
    padding: 0;
}

.c-card-list--fillContainer {
    grid-template-columns: 1fr;


    @include f.media('>=mid') {
        grid-template-columns: auto auto auto;

        @container ((max-width: #{$card-container-max-width})) {
            li:last-child {
                grid-column: span 2;
            }
        }
    }
}

.c-card {
    position: relative;
    border: $card-border;
    border-radius: var(--dt-radius-rounded-c);
    background-color: var(--dt-color-container-default);
    padding: var(--dt-spacing-e);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        background-color: hsl(var(--dt-color-container-default-h), var(--dt-color-container-default-s), calc(var(--dt-color-container-default-l) + calc(-1 * var(--dt-color-hover-01))));
    }

    // makes the entire card clickable
    a:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.c-card--hasImage {
    padding: 0;
}

.c-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--dt-spacing-b);
    border-radius: var(--dt-spacing-b);

    path {
        fill: var(--dt-color-content-interactive-light);
    }
}

$iconBackgroundColours: (
    'support-brand-03' var(--dt-color-support-brand-03),
    'support-brand-04' var(--dt-color-support-brand-04),
    'support-brand-05' var(--dt-color-support-brand-05),
);

@each $color, $token in $iconBackgroundColours {
    .c-card-icon--#{$color} {
        background-color: $token;
    }
}

.c-card-heading {
    @include p.font-size(--dt-font-heading-xxl-size--wide);
    margin-block-start: var(--dt-spacing-e);

    @include f.media('>=mid') {
        @include p.font-size(--dt-font-heading-m-size--wide);
    }
}

.c-card-content {
    margin-block-start: var(--dt-spacing-d);
}

.c-card-image {
    border-radius: var(--dt-radius-rounded-c) var(--dt-radius-rounded-c) 0 0;
    height: $card-image-height;
    display: block;
    width: 100%;
    object-fit: cover;

    .c-card:hover & {
        filter: brightness(50%);
    }
}

.c-card-labelContainer {
    border-radius: var(--dt-radius-rounded-c);
    display: flex;
    gap: var(--dt-spacing-b);
    justify-content: space-between;
    align-items: center;
    padding-top: var(--dt-spacing-e);
    padding-bottom: 0;

    .c-card--hasImage & {
        border-top: $card-border;
        padding-block-start: var(--dt-spacing-e);
        padding-block-end: var(--dt-spacing-e);
        padding-inline-start: var(--dt-spacing-d);
        padding-inline-end: var(--dt-spacing-d);
        border-radius: 0 0 var(--dt-radius-rounded-c) var(--dt-radius-rounded-c);
    }
}

.c-card-labelContainer--internalLink {
    justify-content: start;
    gap: var(--dt-spacing-a);
}

.c-card-label {
    font-weight: var(--dt-font-weight-bold);
    margin-block-start: 0;
}

.c-card-label > span {
    display: block;
    @include f.truncate(20ch);
}

.c-card-labelContainer .c-card-label {
    color: var(--dt-color-content-default);
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:visited {
        color: var(--dt-color-content-default);
    }
}
