@use '../fozzie-config' as f;

$icon-size: 16px;
$icon-size-large: 32px;
$icon-preview-size: 64px;

@mixin icon-size($size) {
    display: block;
    block-size: $size;
    inline-size: $size;
}

.c-categorisedIconList {
    padding-inline-start: 0;
    max-inline-size: 100%;
    list-style-type: none;
}

.c-categorisedIconList-heading {
    margin-block: var(--dt-spacing-f);
}

.c-categorisedIconList-iconList {
    padding-inline-start: 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--dt-spacing-e);
}

.c-categorisedIconList-iconCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    inline-size: 152px;
    border-radius: var(--dt-radius-rounded-b);
    background-color: var(--dt-color-container-subtle);
    padding: var(--dt-spacing-d);

    p {
        margin-block-start: 0;
        @include f.font-size('body-s');
    }

    .c-categorisedIconList-icon svg {
        @include icon-size($icon-size);
    }

    .c-categorisedIconList-icon-large svg {
        @include icon-size($icon-size-large);
    }
}

.c-categorisedIconList-iconCard-iconContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--dt-spacing-d);
}

.c-categorisedIconList-iconCard-separator {
    block-size: 1px;
    inline-size: 100%;
    background-color: var(--dt-color-divider-default);
    margin-block: var(--dt-spacing-d);
}
