@use '@justeattakeaway/pie-css/scss' as p;
@use '../fozzie-config' as f;

$icon-size: 16px;
$icon-size-large: 32px;
$icon-preview-size: 64px;

@mixin icon-size($size) {
    display: block;
    block-size: $size;
    inline-size: $size;
}

.c-categorisedIconList-filters-and-icons-container{
}

.c-categorisedIconList-search {
flex-shrink: 0;
flex-grow: 1;
}

.c-categorisedIconList-select {
flex-grow:1;

   @include f.media('>=mid') {
    flex-grow: 0;
    }

}
.c-categorisedIconList-filters-container {
    display: flex;
    flex-direction: row;
    gap:var(--dt-spacing-e);
    justify-content: flex-start;
    margin-block-start:var(--dt-spacing-d);
    width:100%;
    flex-wrap: wrap;
}

.c-categorisedIconList-notification {
    margin-block-start:var(--dt-spacing-d);
}
.c-categorisedIconList {
    padding-inline-start: 0;
    max-inline-size: 100%;
    list-style-type: none;
}

.c-categorisedIconList-select {
    display: inline-block; 
    margin-block-start: var(--dt-spacing-d);
}

.c-categorisedIconList-heading {
    margin-block-start: var(--dt-spacing-f);
    margin-block-end: var(--dt-spacing-f);
}

.c-categorisedIconList-iconList {
    padding-inline-start: 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--dt-spacing-e);
}

.c-categorisedIconList-iconCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    inline-size: 152px;
    border-radius: var(--dt-radius-rounded-b);
    background-color: var(--dt-color-container-subtle);
    padding: var(--dt-spacing-d);

    p {
        margin-block-start: 0;
        @include p.font-size(--dt-font-body-s-size);
        @include p.line-height(--dt-font-body-s-line-height);
    }

    .c-categorisedIconList-icon svg {
        @include icon-size($icon-size);
    }

    .c-categorisedIconList-icon-large svg {
        @include icon-size($icon-size-large);
    }
}

.c-categorisedIconList-iconCard-iconContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--dt-spacing-d);
}

.c-categorisedIconList-iconCard-separator {
    block-size: 1px;
    inline-size: 100%;
    background-color: var(--dt-color-divider-default);
    margin-block-start: var(--dt-spacing-d);
    margin-block-end: var(--dt-spacing-d);
}
