@use '../fozzie-config' as f;

.c-centredPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-block-start: var(--dt-spacing-h);
    padding-block-end: var(--dt-spacing-h);
    padding-inline-start: var(--dt-spacing-d);
    padding-inline-end: var(--dt-spacing-d);
    background-color: var(--dt-color-background-default);

    @include f.media('>=wide') {
        padding-inline-start: var(--dt-spacing-i);
        padding-inline-end: var(--dt-spacing-i);
    }

    .c-centredPage-heading {
        margin-block-end: 0;
        font-size: f.$font-heading-xxl-size--narrow * 1px;

        @include f.media('>=wide') {
            font-size: f.$font-heading-xxl-size--wide * 1px;
        }
    }

    .c-centredPage-text {
        text-align: center;
        max-width: 560px;

        & + .c-centredPage-link {
            margin-block-start: var(--dt-spacing-e);
        }
    }

    .c-centredPage-text--bold {
        font-weight: f.$font-weight-bold;
    }
}
