@use '../fozzie-config' as f;
@use '../variables' as v;

.c-componentDetailsTable-backdrop {
    margin-block-start: f.$spacing-e;
    margin-block-end: f.$spacing-f;
    background-color: f.$color-container-subtle;
    border-radius: f.$radius-rounded-c;
    padding: f.$spacing-d f.$spacing-e f.$spacing-e;

    // ensures larger tables are responsive
    overflow-x: auto;
}

.c-componentDetailsTable {
    border-collapse: collapse;
    max-inline-size: 100%;
    inline-size: 100%;

    th,
    td {
        text-align: start;
        vertical-align: top;
        padding: f.$spacing-b;
        min-width: fit-content;
    }

    th:not(.c-componentDetailsTable-heading--priority),
    td {
        width: 0;
    }

    tr:not(:first-child):not(.c-componentDetailsTable-row--hideTopBorder) {
        border-block-start: 1px solid f.$color-divider-default;
    }
}

.c-componentDetailsTable-hasWidePadding {
    th:not(:first-child),
    td:not(:first-child) {
        @include f.media('>=mid') {
            padding-inline-start: f.$spacing-i;
        }
    }
}

.c-componentDetailsTable-heading--priority {
    width: 100%;
}

.c-componentDetailsTable-token {
    background-color: f.$color-container-default;
    padding: 2px f.$spacing-a;
    border-radius: f.$radius-rounded-b;
    @include f.font-size('body-s');
}
