@use '../fozzie-config' as f;

.c-columns {
  display: flex;
  flex-direction: column;
  column-gap: var(--dt-spacing-e);

  @include f.media('>=mid') {
    flex-direction: row;
    flex-wrap: wrap;
    > * {
      flex: 0 1 calc(50% - (var(--dt-spacing-e) / 2));
    }
  }
}

.c-columns-item {
  display: flex;
  flex-direction: column;

  @include f.media('>=mid') {
    margin-block-end: 0;
  }

  h2,
  h3,
  h4 {
    margin-block-start: var(--dt-spacing-f);
  }
}

.c-columns-item:not(:has(p)) .c-contentPage-img {
  flex-grow: 1;
}

.c-columns-item + .c-columns-item {
  p {
    flex-grow: 1;
  }
}


.c-columns-item + .c-columns-item {
  h2,
  h3,
  h4 {
    @include f.media('<=mid') {
      margin-block-start: var(--dt-spacing-f);
    }
  }
}

// Any column not on the first row
.c-columns-item:not(:first-child) + .c-columns-item {
  h2,
  h3,
  h4 {
    margin-block-start: var(--dt-spacing-f);
  }
}
