@use '../fozzie-config' as f;
@use '../variables' as v;
@use '@justeattakeaway/pie-css/scss' as p;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        padding-inline-start: var(--dt-spacing-d);
        padding-inline-end: var(--dt-spacing-d);

        @include f.media('>=narrowMid') {
            padding-inline-start: var(--dt-spacing-e);
            padding-inline-end: var(--dt-spacing-e);
        }

        @include f.media('>mid') {
            padding-inline-start: var(--dt-spacing-i);
            padding-inline-end: var(--dt-spacing-i);
        }
    }

    & p,
    & .c-contentPage-img,
    & ul {
        color: var(--dt-color-content-subdued);
    }
}

.c-contentPage-header {
    padding-top: var(--dt-spacing-f);
    padding-bottom: var(--dt-spacing-f);

    @include f.media('>=wide') {
        padding-top: var(--dt-spacing-i);
        padding-bottom: var(--dt-spacing-i);
    }
}

.c-contentPage-header-description {
    @include p.font-size(--dt-font-body-l-size--wide);
    margin-block-start: var(--dt-spacing-e);
    max-width: 50ch;

    @include f.media('>=wide') {
        @include p.font-size(--dt-font-heading-s-size--wide);
    }
}
