@use 'sass:color';
@use '../fozzie-config' as f;
@use '../variables' as v;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        padding-left: f.spacing(d);
        padding-right: f.spacing(d);

        @include f.media('>=narrowMid') {
            padding-left: f.spacing(e);
            padding-right: f.spacing(e);
        }

        @include f.media('>mid') {
            padding-left: f.spacing(i);
            padding-right: f.spacing(i);
        }
    }

    & p,
    & .c-contentPage-img,
    & ul {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    padding-top: f.spacing(f);
    padding-bottom: f.spacing(f);

    @include f.media('>=wide') {
        padding-top: f.spacing(i);
        padding-bottom: f.spacing(i);
    }
}

.c-contentPage-header-description {
    @include f.font-size('body-l');
    margin-top: f.spacing(e);
    max-width: 50ch;

    @include f.media('>=wide') {
        @include f.font-size('heading-s');
    }
}

.c-contentPage-header--hero {
    background-color: f.$color-background-default;
    padding-top: f.$spacing-e;
    padding-bottom: f.$spacing-f;

    .c-content-container {
        display: flex;
        align-items: flex-start;
        background-color: f.$color-support-brand-06;
        border-radius: f.$radius-rounded-d;
        padding: f.$spacing-f;
    }

    .c-contentPage-header-description {
        margin-top: 0;
        margin-bottom: f.$spacing-d;
    }

    @include f.media('>narrowMid') {
        padding-top: f.$spacing-g;
    }

    @include f.media('>mid') {
        .c-content-container {
            justify-content: space-between;
            gap: f.$spacing-f;
            padding: f.$spacing-i;
        }

        img {
            width: 100%;
        }
    }
}

.c-contentPage-header--hero .c-contentPage-header-heading,
.c-contentPage-header--hero .c-contentPage-header-description {
    color: f.$color-content-inverse;
    max-width: 500px;
}


.c-contentPage-content {
    flex: 1;
    background-color: f.$color-background-default;
    border-top: 1px solid f.$color-border-default;

    & a {
        color: f.$color-content-link-distinct;

        &:visited {
            color: f.$color-content-link-visited;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    & p:has(+ .c-tokensTable) {
        // For a tokens table directly following a description add margin.
        // Descriptions normally have a `<hr />` as a separator
        margin-bottom: f.spacing(f);
    }

    .c-content-container {
        padding-top: f.spacing(f);
        padding-bottom: f.spacing(j);

        h2 {
            @include f.font-size('heading-xl', $scale: 'narrow');
        }

        h3 {
            @include f.font-size('heading-m', $scale: 'narrow');
        }

        @include f.media('>=wide') {
            padding-top: f.spacing(h);
            padding-bottom: calc(f.spacing(j) + f.spacing(d));

            h2 {
                @include f.font-size('heading-xl');
            }

            h3 {
                @include f.font-size('heading-m');
            }
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > a,
        > span,
        > ul {
            max-width: v.$typography-content-max-width;
        }

        > h2 + h3,
        > h3 + h4,
        > p + .c-contentPage-img,
        > .c-contentPage-img + p {
            margin-top: f.spacing(e);
        }

        > p + h2 {
            margin-top: f.spacing(h);
        }

        > ul + h3,
        > p + h3,
        > p + h4,
        > table + h3,
        > ul + h4,
        > .c-contentPage-img + h3,
        > .c-contentPage-img + h4,
        > .c-contentPage-notification + h3,
        & .c-contentPage-notification {
            margin-top: f.spacing(f);
        }
    }
}

.c-contentPage-header--hero + .c-contentPage-content {
    border-top: none;

    .c-content-container {
        padding-top: f.spacing(i);
    }
}

.c-contentPage-content hr {
    margin-top: f.spacing(h);
    margin-bottom: f.spacing(h);

    @include f.media('>=wide') {
        margin-top: f.spacing(i);
        margin-bottom: f.spacing(i);
    }
}


.c-heading-anchor {
    visibility: hidden;
    display: span;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;

    &:hover {
        background-color: color.adjust(f.$color-background-default, $lightness: calc(f.$color-hover-01 * -1));
    }

    &:focus {
        background-color: color.adjust(f.$color-background-default, $lightness: calc(f.$color-active-01 * -1));
    }

    &:active {
        background-color: color.adjust(f.$color-background-default, $lightness: calc(f.$color-active-01 * -1));


    }



    svg {
        path {
            fill: f.$color-content-brand;
        }
    }


}

// .c-heading-anchor:not(:active) {
//     ::after {
//         visibility: hidden;

//         transition: visibility 4000ms ease-in-out;
//     }

// }


h2,
h3,
h4 {
    display: flex;
    align-items: center;
    margin-left: -32px;
}


h2:hover,
h3:hover,
h4:hover {
    .c-heading-anchor {
        visibility: visible;
    }
}


.c-heading-anchor--clicked {
    &::after {
        content: 'Copied!';
        color: white;
        font-size: 12px;
        background-color: f.$color-content-inverse;
        background-color: black;
        padding-block: 4px;
        padding-inline: 12px;
        border-radius: 100px;
        margin-top: 56px;
        // visibility: hidden;
    }
}
