@use '../fozzie-config' as f;
@use '../variables' as v;

.c-contentPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        padding-left: f.spacing(d);
        padding-right: f.spacing(d);

        @include f.media('>=narrowMid') {
            padding-left: f.spacing(e);
            padding-right: f.spacing(e);
        }

        @include f.media('>mid') {
            padding-left: f.spacing(i);
            padding-right: f.spacing(i);
        }
    }

    & p,
    & .c-contentPage-img,
    & ul {
        color: f.$color-content-subdued;
    }
}

.c-contentPage-header {
    padding-top: f.spacing(f);
    padding-bottom: f.spacing(f);

    @include f.media('>=wide') {
        padding-top: f.spacing(i);
        padding-bottom: f.spacing(i);
    }
}
