@use '../fozzie-config' as f;

.c-columns {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: f.spacing(f);
    column-gap: f.spacing(f);

    @include f.media('>=mid') {
        grid-template-columns: 1fr 1fr;
    }
}

.c-columns-item {
    display: flex;
    flex-direction: column;

    .c-contentPage-img {
        flex-grow: 1
    }
}
