@use '../fozzie-config' as f;
@use '../variables' as v;

$contentImage-height:                     200px;
$contentImage-height--mobile:             160px;
$contentImage-height-m:                   400px;
$contentImage-height-m--mobile:           240px;
$contentImage-height-l:                   600px;
$contentImage-height-l--mobile:           400px;

.c-contentText--hasBackdrop {
    display: flex;
    align-items: var(--position);
    justify-content: center;
    height: 100%;
    padding: f.spacing(d);
    background-color: f.$color-container-subtle;
    border-radius: f.$radius-rounded-d;
    text-wrap: nowrap;

    @include f.media('>=mid') {
        justify-content: flex-end;
    }
}