@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

$contentList-maxWidth: 604px;
$contentList-maxHeight: 224px;
$contentList-column-width: 180px;
$list-icon-size: var(--dt-spacing-c);
$list-icon-gap: var(--dt-spacing-a);
$list-icon-fullWidth: calc($list-icon-size + $list-icon-gap);
$tooltip-border-radius: 100px;

.c-content-list {
    max-width: $contentList-maxWidth;

    ol {
        column-width: $contentList-column-width 1;
        column-gap: var(--dt-spacing-f);
        padding: 0;
        column-fill: auto;

        @include f.media('>=mid') {
            max-height: $contentList-maxHeight;
            column-count: var(--column-count);
        }
    }

    li {
        position: relative;
        display: flex;
        list-style: none;
        margin-block-end: var(--dt-spacing-c);

        &[data-title]:hover:after {
            content: attr(data-title);
            position: absolute;
            top: calc(100% + var(--dt-spacing-a));
            left: $list-icon-fullWidth;
            padding-block-start: var(--dt-spacing-a);
            padding-block-end: var(--dt-spacing-a);
            padding-inline-start: var(--dt-spacing-c);
            padding-inline-end: var(--dt-spacing-c);
            @include p.font-size(--dt-font-caption-size);
            @include p.line-height(--dt-font-caption-line-height);           width: max-content;
            border-radius: $tooltip-border-radius;
            background-color: var(--dt-color-container-inverse);
            color: var(--dt-color-content-inverse);
        }

        a {
            display: inline-block;
            width: calc(100% - $list-icon-fullWidth);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a,
        a:visited {
            color: var(--dt-color-content-default);
        }

        &:before {
            content: url('/assets/img/contents.svg');
            display: inline-block;
            position: relative;
            top: var(--dt-spacing-a);
            width: $list-icon-size;
            height: $list-icon-size;
            margin-inline-end: $list-icon-gap;
        }
    }
}
