@use '../fozzie-config' as f;

.c-footer {
    padding: var(--dt-spacing-g) var(--dt-spacing-d);
    background-color: f.$color-container-subtle;
    @include f.font-size('body-s');

    @include f.media('>=narrowMid') {
        padding-left: var(--dt-spacing-e);
        padding-right: var(--dt-spacing-e);
    }

    @include f.media('>=mid') {
        padding: var(--dt-spacing-g) var(--dt-spacing-i);
    }

    .c-footer-logo {
        display: flex;
        align-items: center;
        padding-bottom: var(--dt-spacing-b);

        @include f.media('>=narrowMid') {
            padding-bottom: 0;
        }

        picture {
            display: flex;
            align-items: start;
        }

        .c-footer-logo-divider {
            display: inline-block;
            border-left: 1px solid f.$color-border-strong;
            height: var(--dt-spacing-f);
            margin: 0 var(--dt-spacing-d);
        }

        svg {
            height: 24px;
        }
    }

    a:not(.cookie-banner-anchor a) {
        text-decoration: none;
        color: f.$color-content-default;
    }
}

.c-footer-main {
    display: flex;
    flex-direction: column;
    gap: var(--dt-spacing-e);
    padding: var(--dt-spacing-g) 0;

    @include f.media('>=narrowMid') {
        flex-direction: row;
        padding: var(--dt-spacing-i) 0;
    }

    section {
        flex: 1 0 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--dt-spacing-a);
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    h3 {
        @include f.font-size('body-s');
        text-transform: capitalize;
        margin-bottom: var(--dt-spacing-a);
    }
}

.c-footer-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--dt-spacing-a);
    padding-top: var(--dt-spacing-b);
    border-top: 1px solid f.$color-divider-default;

    .c-footer-info-separator {
        display: inline-block;
        width: var(--dt-spacing-a);
        height: var(--dt-spacing-a);
        border-radius: f.$radius-rounded-e;
        background-color: f.$color-border-strong;
        margin: 0 var(--dt-spacing-b);
        vertical-align: middle;
    }
}
