@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

.c-footer {
    padding-block-start: var(--dt-spacing-g);
    padding-block-end: var(--dt-spacing-g);
    padding-inline-start: var(--dt-spacing-d);
    padding-inline-end: var(--dt-spacing-d);
    background-color: var(--dt-color-container-subtle);
    @include p.font-size(--dt-font-body-s-size);
    @include p.line-height(--dt-font-body-s-line-height);

    @include f.media('>=narrowMid') {
        padding-inline-start: var(--dt-spacing-e);
        padding-inline-end: var(--dt-spacing-e);
    }

    @include f.media('>=mid') {
        padding-block-start: var(--dt-spacing-g);
        padding-block-end: var(--dt-spacing-g);
        padding-inline-start: var(--dt-spacing-i);
        padding-inline-end: var(--dt-spacing-i);
    }

    .c-footer-logo {
        display: flex;
        align-items: center;
        padding-bottom: var(--dt-spacing-b);

        @include f.media('>=narrowMid') {
            padding-bottom: 0;
        }

        picture {
            display: flex;
            align-items: start;
        }

        .c-footer-logo-divider {
            display: inline-block;
            border-left: 1px solid var(--dt-color-border-strong);
            height: var(--dt-spacing-f);
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: var(--dt-spacing-d);
            margin-inline-end: var(--dt-spacing-d);
        }

        svg {
            height: 24px;
        }
    }

    a:not(.cookie-banner-anchor a) {
        text-decoration: none;
        color: var(--dt-color-content-default);
    }
}

.c-footer-main {
    display: flex;
    flex-direction: column;
    gap: var(--dt-spacing-e);
    padding-block-start: var(--dt-spacing-g);
    padding-block-end: var(--dt-spacing-g);
    padding-inline-start: 0;
    padding-inline-end: 0;

    @include f.media('>=narrowMid') {
        flex-direction: row;
        padding-block-start: var(--dt-spacing-i);
        padding-block-end: var(--dt-spacing-i);
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    section {
        flex: 1 0 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--dt-spacing-a);
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    h3 {
        @include p.font-size(--dt-font-body-s-size);
        @include p.line-height(--dt-font-body-s-line-height);
        text-transform: capitalize;
        margin-block-end: var(--dt-spacing-a);
    }
}

.c-footer-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--dt-spacing-a);
    padding-top: var(--dt-spacing-b);
    border-top: 1px solid var(--dt-color-divider-default);

    .c-footer-info-separator {
        display: inline-block;
        width: var(--dt-spacing-a);
        height: var(--dt-spacing-a);
        border-radius: var(--dt-radius-rounded-e);
        background-color: var(--dt-color-border-strong);
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: var(--dt-spacing-b);
        margin-inline-end: var(--dt-spacing-b);
        vertical-align: middle;
    }
}
