@use '../fozzie-config' as f;

.c-footer {
    position: relative;
    padding: f.spacing(e) f.spacing(d);
    background-color: f.$color-container-subtle;

    @include f.media('>=wide') {
        padding: 40px 60px;
    }

    .c-footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .c-footer-logo {
        width: 100px;
        height: 40px;
    }
}
