@use '../fozzie-config' as f;

$navToggleWidth:        24px; // must be kept in sync with the svg icon width defined in header.njk
$headerLogoHeight:      24px;
$headerInlinePadding:   20px;

.c-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dt-color-divider-default);
    padding: var(--dt-spacing-d);

    @include f.media('<wide') {
        padding-inline-start: calc($headerInlinePadding + $navToggleWidth + $headerInlinePadding);
    }
}

.c-header-logo {
    display: inline-block;
    height: $headerLogoHeight;

    svg {
        height: 100%;
        width: auto;
    }
}
