@use '../fozzie-config' as f;

$navToggleWidth:        24px; // must be kept in sync with the svg icon width defined in header.njk
$headerLogoHeight:      24px;
$headerInlinePadding:   20px;

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid f.$color-divider-default;
    padding: f.spacing(d);
    @include f.media('<wide') {
        padding-left: calc($headerInlinePadding + $navToggleWidth + $headerInlinePadding);
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: var(--dt-spacing-d);
}

.c-header-logo {
    display: inline-block;
    height: $headerLogoHeight;

    svg {
        height: 100%;
        width: auto;
    }
}
