@use '../fozzie-config' as f;
@use '../utilities' as u;

.c-heroContentLayout {
    min-height: 100%;
    display: grid;
    background-color: f.$color-background-subtle;
    grid-template-rows: minmax(0, max-content) minmax(0, 100px) minmax(0, 450px) minmax(0, max-content);

    // helps scale the razor with the page
    @include f.media('>=mid') {
        grid-template-rows: minmax(0, 200px) minmax(0, 175px) minmax(0, 200px) minmax(0, max-content);
    }

    @include f.media('>=wide') {
        grid-template-rows: minmax(0, 240px) minmax(0, 220px) minmax(0, 200px) minmax(0, max-content);
    }
}

.c-heroContentLayout-pad {
    padding-inline: f.$spacing-d;

    @include f.media('>=narrowMid') {
        padding-inline: f.spacing(e);
    }

    @include f.media('>=mid') {
        padding-inline: f.spacing(i);
    }

    .c-content .c-content-container {
        @include f.media('<mid') {
            padding-top: 0 !important;
        }
    }
}

.c-heroContentLayout-content {
    background-color: f.$color-background-default;
    grid-row: 3 / span 4;
    grid-column: 1;
}

