@use '../fozzie-config' as f;
@use '../variables' as v;

.homePage-- {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.circle{
    top: 290px;
    height:550px;
    width:100%;
    background-color: f.$color-support-brand-01;
    position: absolute;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

    @include f.media('>=narrowMid') {
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        top: 250px;
        height:350px;
    }

    @include f.media('>=mid') {
        clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
        top: 250px;
    }

    @include f.media('>=wide') {
        clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0% 100%);
        top: 300px;
    }
}


.c-homePage-heading {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 350px;

    @include f.media('>=narrowMid') {
        height: 400px;
    }

    @include f.media('>=wide') {
        height: 425px;
    } 

    .c-homePage-title, .c-homePage-image {
        width: 50%;
    }

    .c-homePage-image {

        @include f.media('>=mid') {
            width: 50%;
            img {
                z-index: 1;
                position: relative;
                object-fit: contain;
                width: 100%;
            }
        }

        @include f.media('>=narrowMid') {
            padding-right: 24px;
        }

        @include f.media('>=mid') {
            padding-right: 64px;
        } 
    }

    .c-homePage-title {
        margin-top: 40px;
        padding-left: 24px;
        z-index: 1;

        @include f.media('<mid') {
            width: 100%;
        }

        @include f.media('<mid') {
            padding-left: 24px;
        }

        @include f.media('>=mid') {
            margin-top: 55px;
            padding-left: 64px;
        }
    }
}

.homePage-- {
    background-color: f.$color-background-subtle;
}

.c-homePage-header-heading,
.c-homePage-header-description {
    max-width: 500px !important;
}

.c-homePage-description {
    @include f.font-size('body-l');
    margin-top: f.spacing(e);
    max-width: 50ch;
    margin-bottom: f.$spacing-d;


    @include f.media('>=wide') {
        @include f.font-size('heading-s');
    }
}

h1 {
    font-size: 32px;
    @include f.media('>=mid') {
        font-size: 48px !important;
    }
}

.c-homePage-content {
    padding-left: 16px;
    padding-right: 16px;
    @include f.media('>=narrowMid') {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include f.media('>=mid') {
        padding-left: 64px;
        padding-right: 64px;
    }
}