@use '../fozzie-config' as f;

.c-link-backdrop {
    background-color: f.$color-background-subtle;
    border-radius: f.$radius-rounded-c;
    margin-block: var(--dt-spacing-b);
    display: flex;
    align-items: center;
    padding-block: var(--dt-spacing-d);

    svg {
        margin-inline: var(--dt-spacing-d);
    }
}

.c-link {
    margin-inline-start: var(--dt-spacing-a);
}

.c-link-container {
    margin-block: var(--dt-spacing-f);
}
