@use '../fozzie-config' as f;

.c-list {
    list-style: none;
    padding-left: 0;
}

.c-list--ordered {
    // create a counter 'item'. Each `.c-list-item` increases the counter by 1.
    // This value is added as the list item number in `.c-list-item::before`
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters
    counter-reset: item;

    .c-list-item {
        counter-increment: item;
        margin-bottom: f.$spacing-02;
        @include f.font-size('body-l');
        display: flex;

        @include f.media('>=wide') {
            align-items: center;
        }

        &:before {
            content: counter(item);
            @include f.font-size('body-s');
            font-weight: f.$font-weight-bold;
            margin-right: f.$spacing-03;
            width: 25px;
            height: 25px;
            background: f.$color-container-inverse;
            border-radius: 100%;
            color: f.$color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
        }
    }
}

.c-list--pill {
    display: flex;
    gap: f.spacing();
    flex-wrap: wrap;

    & .c-list-item {
        @include f.font-size('body-s');
        background-color: f.$color-container-strong;
        padding: 2px 4px;
        border-radius: f.$radius-rounded-b;
    }
}

.c-list--bullet {
    margin: 0;

    .c-list-item {
        @include f.font-size('body-l');
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: f.spacing(b);

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: f.$color-container-inverse;
            border-radius: f.$radius-rounded-e;
            margin-right: f.spacing(b);
            margin-top: f.spacing(b);
            flex-shrink: 0;
        }
    }
}

.c-list--icon {
    & .c-list-item {
        display: flex;
        gap: f.spacing();

        & > svg {
            flex-shrink: 0;
            margin-top: 2px;
        }

        & + .c-list-item {
            margin-top: f.spacing(e);
        }
    }
}
