@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

.c-list {
    list-style: none;
    padding-inline-start: 0;
}

.c-list--ordered {
    // create a counter 'item'. Each `.c-list-item` increases the counter by 1.
    // This value is added as the list item number in `.c-list-item::before`
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters
    counter-reset: item;

    .c-list-item {
        counter-increment: item;
        margin-block-end: var(--dt-spacing-b);
        @include p.font-size(--dt-font-body-l-size);
        @include p.line-height(--dt-font-body-l-line-height);
        display: flex;

        @include f.media('>=wide') {
            align-items: center;
        }

        &:before {
            content: counter(item);
            @include p.font-size(--dt-font-body-s-size);
            @include p.line-height(--dt-font-body-s-line-height);
            font-weight: var(--dt-font-weight-bold);
            margin-inline-end: var(--dt-spacing-c);
            width: 25px;
            height: 25px;
            background: var(--dt-color-container-inverse);
            border-radius: 100%;
            color: var(--dt-color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
        }
    }
}

.c-list--pill {
    display: flex;
    gap: var(--dt-spacing-b);
    flex-wrap: wrap;

    & .c-list-item {
        @include p.font-size(--dt-font-body-s-size);
        @include p.line-height(--dt-font-body-s-line-height);
        background-color: var(--dt-color-container-strong);
        padding-block-start: 2px;
        padding-block-end: 2px;
        padding-inline-start: var(--dt-spacing-a);
        padding-inline-end: var(--dt-spacing-a);
        border-radius: var(--dt-radius-rounded-b);
    }
}

.c-list--bullet {
    margin: 0;

    .c-list-item {
        @include p.font-size(--dt-font-body-l-size);
        @include p.line-height(--dt-font-body-l-line-height);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-block-end: var(--dt-spacing-b);

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: var(--dt-color-container-inverse);
            border-radius: var(--dt-radius-rounded-e);
            margin-inline-end: var(--dt-spacing-b);
            margin-block-start: var(--dt-spacing-b);
            flex-shrink: 0;
        }
    }
}

.c-list--icon {
    & .c-list-item {
        display: flex;
        gap: var(--dt-spacing-b);

        & > svg {
            flex-shrink: 0;
            margin-block-start: 2px;
        }

        & + .c-list-item {
            margin-block-start: var(--dt-spacing-e);
        }
    }
}
