@use '../fozzie-config' as f;
@use '../variables' as v;

.c-mediaElementList {
    margin-block-start: var(--dt-spacing-e);
    display: flex;
    flex-direction: column;

    hr {
        margin-block: var(--dt-spacing-f);
        margin-inline: 0;
    }

    .c-mediaElement {
        display: flex;
        flex-direction: row;

        @include f.media('<narrowMid') {
            flex-direction: column;
        }

        picture {
            margin-inline-end: var(--dt-spacing-e);

            img {
                display: block;
            }

            @include f.media('<narrowMid') {
                margin-inline-end: 0;
                margin-block-end: var(--dt-spacing-e);

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .c-mediaElement-text {
        max-width: v.$typography-content-max-width;
    }
}
