@use '../fozzie-config' as f;

$nav-category-gap: var(--dt-spacing-b);
$nav-category-icon-width: var(--dt-spacing-e); // this needs to be kept in sync with the width given to the icon found in nav.njk
$nav-item-left-margin: calc($nav-category-gap + $nav-category-icon-width);

.c-nav {
    @include f.font-size('body-s');
    background: f.$color-container-default;
    padding-top: var(--dt-spacing-d);

    @include f.media('>=wide') {
        border-right: 1px solid f.$color-border-default;
    }

    @include f.media('<wide') {
        position: absolute;
        top: var(--header-height);
        height: calc(100% - var(--header-height)); // fallback rule for browsers that don't support dvh (used below)
        height: calc(100dvh - var(--header-height));
        width: 80%;
        max-width: var(--sidenav-width-narrow);
        z-index: f.zIndex(high);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    hr {
        margin: 0;
    }

    .c-nav-list {
        margin: var(--dt-spacing-a) 0 var(--dt-spacing-b) 0;
    }
}

.c-nav-inner {
    position: sticky;
    top: 0;
    height: 100%; // 100% of the parent .c-nav container
    overflow-y: auto;

    @include f.media('>=wide') {
        max-height: 100vh;
    }
}

.c-nav-subCategory,
.c-nav-category {
    display: flex;
    align-items: center;
    gap: $nav-category-gap;
}

// Hide the default summary icon
.c-nav-subCategory::-webkit-details-marker,
.c-nav-subCategory::marker,
.c-nav-category::-webkit-details-marker,
.c-nav-category::marker {
    display: none;
    content: '';
}

.c-nav-category {
    padding: 10px var(--dt-spacing-d);
    font-weight: f.$font-weight-bold;
}

.c-nav-item {
    display: block;
    padding: 10px var(--dt-spacing-d);
    margin: 0 var(--dt-spacing-d) 2px $nav-item-left-margin;
    text-decoration: none;
    color: f.$color-content-default;

    &.is-active {
        background-color: f.$color-container-subtle;
        font-weight: f.$font-weight-bold;
    }

    &.is-active,
    &:hover,
    &:focus {
        border-radius: f.$radius-rounded-b;
    }
}

.c-nav-subCategory {
    padding-block: 10px;
    padding-inline: calc(var(--dt-spacing-d) + $nav-item-left-margin) var(--dt-spacing-d);
    margin-block: 0 2px;

    + .c-nav-list {
        margin-inline-start: var(--dt-spacing-d);
    }
}

.c-nav-item,
.c-nav-subCategory,
.c-nav-category {
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: f.$color-container-subtle;
        text-decoration: underline;
    }
}

// SideNav accordion toggle
.c-nav-toggle {
    margin-inline-start: auto;
    display: none;

    .c-nav details[open] > summary & {
        display: block;
    }
}

.c-nav-toggle--open {
    display: block;

    .c-nav details[open] > summary & {
        display: none;
    }
}
