@use '../fozzie-config' as f;

$nav-category-gap: f.spacing(b);
$nav-category-icon-width: f.spacing(e); // this needs to be kept in sync with the width given to the icon found in nav.njk
$nav-item-left-margin: calc($nav-category-gap + $nav-category-icon-width);

.c-nav {
  @include f.font-size('body-s');
  background: f.$color-container-default;
  padding-top: f.spacing(d);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  hr {
    margin: 0;
  }

  @include f.media('>=wide') {
    border-right: 1px solid f.$color-border-default;
  }

  @include f.media('<wide') {
    max-width: 80%;
    position: relative;
    z-index: f.zIndex(high);
  }

  .c-nav-list {
    margin: f.spacing(a) 0 f.spacing(b) 0;
  }
}

.c-nav-item:hover,
.c-nav-item:focus,
.c-nav-category:hover,
.c-nav-category:focus {
  background-color: f.$color-container-subtle;
  text-decoration: underline;
}

// Hide the default summary icon
.c-nav-category::-webkit-details-marker,
.c-nav-category::marker {
  display: none;
  content: '';
}

.c-nav-toggle {
  margin-left: auto;
  display: none;

  .c-nav details[open] & {
    display: block;
  }
}
.c-nav-toggle--open {
  display: block;

  .c-nav details[open] & {
    display: none;
  }
}

.c-nav-category {
  display: flex;
  align-items: center;
  gap: $nav-category-gap;
  padding: 10px f.spacing(d);
  font-weight: f.$font-weight-bold;
}

.c-nav-category,
.c-nav-item {
  cursor: pointer;
}

.c-nav-item {
  display: block;
  padding: 10px f.spacing(d);
  margin: 0 f.spacing(d) 2px $nav-item-left-margin;
  text-decoration: none;
  color: f.$color-content-default;

  &.is-active {
    background-color: f.$color-container-subtle;
    font-weight: f.$font-weight-bold;
  }

  &.is-active, &:hover, &:focus {
    border-radius: f.$radius-rounded-b;
  }
}

.c-nav-inner {
  position: sticky;
  top: 0;
  bottom: 0;
  max-height: calc(100vh - 170px);
  overflow-y: auto;

  @include f.media('>=wide') {
    max-height: 100vh;
  }
}
