@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

$nav-category-gap: var(--dt-spacing-b);
$nav-category-icon-width: var(--dt-spacing-e); // this needs to be kept in sync with the width given to the icon found in nav.njk
$nav-item-inline-start-margin: calc($nav-category-gap + $nav-category-icon-width);

.c-nav {
    @include p.font-size(--dt-font-body-s-size);
    @include p.line-height(--dt-font-body-s-line-height);
    background: var(--dt-color-container-default);
    padding-top: var(--dt-spacing-d);

    @include f.media('>=wide') {
        border-right: 1px solid var(--dt-color-border-default);
    }

    @include f.media('<wide') {
        position: absolute;
        top: var(--header-height);
        height: calc(100% - var(--header-height)); // fallback rule for browsers that don't support dvh (used below)
        height: calc(100dvh - var(--header-height));
        width: 80%;
        max-width: var(--sidenav-width-narrow);
        z-index: f.zIndex(high);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    hr {
        margin: 0;
    }

    .c-nav-list {
        margin-block-start: var(--dt-spacing-a);
        margin-block-end: var(--dt-spacing-b);
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

.c-nav-inner {
    position: sticky;
    top: 0;
    height: 100%; // 100% of the parent .c-nav container
    overflow-y: auto;

    @include f.media('>=wide') {
        max-height: 100vh;
    }
}

.c-nav-subCategory,
.c-nav-category {
    display: flex;
    align-items: center;
    gap: $nav-category-gap;
}

// Hide the default summary icon
.c-nav-subCategory::-webkit-details-marker,
.c-nav-subCategory::marker,
.c-nav-category::-webkit-details-marker,
.c-nav-category::marker {
    display: none;
    content: '';
}

.c-nav-category {
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-start: var(--dt-spacing-d);
    padding-inline-end: var(--dt-spacing-d);
    font-weight: var(--dt-font-weight-bold);
}

.c-nav-item {
    display: block;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-start: var(--dt-spacing-d);
    padding-inline-end: var(--dt-spacing-d);
    margin-block-start: 0;
    margin-block-end: 2px;
    margin-inline-start: $nav-item-inline-start-margin;
    margin-inline-end: var(--dt-spacing-d);
    text-decoration: none;
    color: var(--dt-color-content-default);

    &.is-active {
        background-color: var(--dt-color-container-subtle);
        font-weight: var(--dt-font-weight-bold);
    }

    &.is-active,
    &:hover,
    &:focus {
        border-radius: var(--dt-radius-rounded-b);
    }
}

.c-nav-subCategory {
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-start: calc(var(--dt-spacing-d) + $nav-item-inline-start-margin);
    padding-inline-end: var(--dt-spacing-d);
    margin-block-start: 0;
    margin-block-end: 2px;

    + .c-nav-list {
        margin-inline-start: var(--dt-spacing-d);
    }
}

.c-nav-item,
.c-nav-subCategory,
.c-nav-category {
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--dt-color-container-subtle);
        text-decoration: underline;
    }
}

// SideNav accordion toggle
.c-nav-toggle {
    margin-inline-start: auto;
    display: none;

    .c-nav details[open] > summary & {
        display: block;
    }
}

.c-nav-toggle--open {
    display: block;

    .c-nav details[open] > summary & {
        display: none;
    }
}
