@use '@justeattakeaway/pie-css/scss/settings' as *;

.c-notFound-image {
    height: auto;
    max-width: 160px;

    @include media('>=lg') {
        max-width: 200px;
    }

    img {
        width: 100%;
    }
}
