@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

$icon-width:                        24px; // must be kept in sync with the size given in notifications.js shortcode
$notification-padding:              var(--dt-spacing-d);
$combinedIconAndPaddingWidth:       calc($icon-width + $notification-padding);
$notification-bg-colour:            var(--bg-colour);

.c-notification {
    background-color: $notification-bg-colour;
    padding: $notification-padding;
    border-radius: var(--dt-radius-rounded-c);
    display: flex;
    flex-wrap: wrap;

    & > svg {
        margin-block-start: 2px;
    }
}

.c-notification-title {
    @include p.font-size(--dt-font-heading-s-size--wide);
    font-weight: var(--dt-font-weight-extrabold);

    ~ .c-notification-message {
        margin-inline-start: $combinedIconAndPaddingWidth;
        margin-block-start: var(--dt-spacing-a);
        flex: 1;
    }
}

// The first text child (title or message if there's no title)
// on the component should sit in line with the icon
.c-notification > :nth-child(2) {
    margin-block-start: 0;
    width: calc(100% - $combinedIconAndPaddingWidth);
    margin-inline-start: $notification-padding;
}
