@use '../fozzie-config' as f;

$icon-width:                        24px; // must be kept in sync with the size given in notifications.js shortcode
$notification-padding:              var(--dt-spacing-d);
$combinedIconAndPaddingWidth:       calc($icon-width + $notification-padding);
$notification-bg-colour:            var(--bg-colour);

.c-notification {
    background-color: $notification-bg-colour;
    padding: $notification-padding;
    border-radius: f.$radius-rounded-c;
    display: flex;
    flex-wrap: wrap;

    & > svg {
        margin-top: 2px;
    }
}

.c-notification-title {
    @include f.font-size('heading-s');
    font-weight: f.$font-weight-extrabold;

    ~ .c-notification-message {
        margin-left: $combinedIconAndPaddingWidth;
        margin-top: var(--dt-spacing-a);
        flex: 1;
    }
}

// The first text child (title or message if there's no title)
// on the component should sit in line with the icon
.c-notification > :nth-child(2) {
    margin-top: 0;
    width: calc(100% - $combinedIconAndPaddingWidth);
    margin-left: $notification-padding;
}
