@use '../fozzie-config' as f;

.c-razor {
    grid-row: 2 / span 3;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: f.$color-support-brand-01;
    align-self: stretch;

    // percentages so razor fits grid rows above
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

    @include f.media('>=mid') {
        clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
    }

    @include f.media('>=wide') {
        clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
    }
}
