@use '../fozzie-config' as f;
@use './table';
@use '@justeattakeaway/pie-css/scss' as p;

.c-resourceTable {
    @extend %c-table;
    @extend %c-table-full-width;

    th {
        @include p.font-size(--dt-font-heading-m-size--wide);
        @include p.line-height(--dt-font-heading-m-line-height--wide);
        font-weight: var(--dt-font-weight-extrabold);
    }

    @include f.media('>narrowMid') {
        td {
            &:not(:first-child) {
                min-width: 23ch;
            }

            &:not(:last-child) {
                max-width: 18ch;
            }
        }
    }

    @include f.media('<narrowMid') {
        td {
            &:not(:first-child) {
                text-align: right;
            }
        }
    }
}

.c-resourceTable-resource {
    display: flex;
    gap: 8px;
    align-content: center;

    img {
        width: 24px;
        height: 24px;
    }

    a {
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}

.c-resourceTable-status {
    display: inline;
    background: var(--bg-colour);
    padding-block-start: 2px;
    padding-block-end: 2px;
    padding-inline-start: var(--dt-spacing-a);
    padding-inline-end: var(--dt-spacing-a);
    border-radius: var(--dt-radius-rounded-b);
}
