@use '../fozzie-config' as f;
@use './table';

.c-simpleTable {
    @extend %c-table;
}

.c-simpleTable--fullWidth {
    @extend %c-table-full-width;
}

.c-simpleTable--monospace {
    font-family: PTMono, Consolas, monospace;
    @include f.font-size(body-s);
}

.c-simpleTable--swatch {
    $swatch-size: 16px;
    $swatch-gap: var(--dt-spacing-b);
    $swatch-margin: calc($swatch-size + $swatch-gap);

    td:first-child {
        position: relative;
        inset-inline-start: $swatch-margin;

        &:before {
            content: '';
            position: absolute;
            display: block;
            inset-block-start: 50%;
            transform: translate(0, -50%);
            inset-inline-start: -($swatch-gap);
            height: $swatch-size;
            width: $swatch-size;
            background-color: var(--swatch-color);
            border-radius: f.$radius-rounded-a;
        }
    }

    @include f.media('<narrowMid') {
        display: flex;
        align-items: center;
        gap: $swatch-gap;

        td:first-child {
            &:before {
                transform: unset;
            }
        }

        td:last-child {
            margin-inline-start: $swatch-margin;
        }
    }
}

.c-simpleTable--headerless {
    td:first-child {
        font-weight: f.$font-weight-bold;

        & ~ td {
            color: f.$color-content-subdued;
        }
    }

    // When rows stack at narrow viewports
    @include f.media('<narrowMid') {
        tr {
            display: grid;
            grid-template-columns: 1fr;

            td {
                inline-size: 100%;

                // Remove padding between stacked rows
                &:not(:first-child) {
                    padding-block-start: 0;
                }

                &:not(:last-child) {
                    padding-block-end: 0;
                }
            }
        }
    }
}

.c-simpleTable--swatch-lightBordered {
    td:first-child:before {
        border: 1px solid f.$color-border-strong;
    }
}
