@use '../fozzie-config' as f;
@use '../variables' as v;

.c-simpleTable {
    background-color: f.$color-container-default;
    box-shadow: 0 0 1px 1px f.$color-border-default;
    border-collapse: collapse;
    border-radius: f.$radius-rounded-c;
    margin-block-start: f.$spacing-f;
    max-inline-size: v.$typography-content-max-width;
    inline-size: 100%;

    th,
    td {
        text-align: start;
        vertical-align: top;
        padding: f.$spacing-d;
        inline-size: 50%;
    }

    th,
    tr:not(:last-child) {
        border-block-end: 1px solid f.$color-border-default;
    }
}

.c-simpleTable--fullWidth {
    max-inline-size: 100%;
}

.c-simpleTable--monospace {
    font-family: PTMono, Consolas, monospace;
    @include f.font-size(body-s);
}

.c-simpleTable--swatch {
    $swatch-size: 16px;
    $swatch-gap: f.$spacing-b;
    $swatch-margin: calc($swatch-size + $swatch-gap);

    td:first-child {
        display: flex;
        align-items: center;
        gap: $swatch-gap;

        &:before {
            content: '';
            display: block;
            height: $swatch-size;
            width: $swatch-size;
            background-color: var(--swatch-color);
            border-radius: f.$radius-rounded-a;
        }
    }

    @include f.media('<narrowMid') {
        td:last-child {
            margin-inline-start: $swatch-margin;
        }
    }
}

.c-simpleTable--headerless {
    td:first-child {
        font-weight: f.$font-weight-bold;

        & ~ td {
            color: f.$color-content-subdued;
        }
    }

    // When rows stack at narrow viewports
    @include f.media('<narrowMid') {
        tr {
            display: grid;
            grid-template-columns: 1fr;

            td {
                inline-size: 100%;

                // Remove padding between stacked rows
                &:not(:first-child) {
                    padding-block-start: 0;
                }

                &:not(:last-child) {
                    padding-block-end: 0;
                }
            }
        }
    }
}

.c-simpleTable--swatch-light {
    td:first-child:before {
        border: 1px solid f.$color-border-strong;
    }
}
