@use '../fozzie-config' as f;

.c-skipLink {
    background-color: var(--dt-color-container-subtle);
    color: var(--dt-color-content-link-distinct);
    padding-block: var(--dt-spacing-b);
    text-align: center;
    outline: none;
    position: absolute;
    inset-inline: 0;
    transform: translateY(-120%);

    &:focus {
        transform: translateY(0);
    }

    &:focus span {
        outline: 2px solid var(--dt-color-focus-outer);
    }
}
