@use '@justeattakeaway/pie-css/scss/settings' as *;
@use '@justeattakeaway/pie-css/scss' as p;

.c-tag {
    --tag-bg-color: var(--dt-color-container-strong);
    --tag-color: var(--dt-color-content-default);
    --tag-border-radius: var(--dt-radius-rounded-b);
    --tag-padding-block: 2px;
    --tag-padding-inline: var(--dt-spacing-b);
    --tag-font-family: var(--dt-font-body-s-family);
    --tag-font-weight: var(--dt-font-body-s-weight);
    --tag-font-size: #{p.font-size(--dt-font-body-s-size)};
    --tag-line-height: #{p.line-height(--dt-font-body-s-line-height)};

    // transparent to variable to function properly in component tests
    --tag-transparent-bg-color: transparent;

    // Pie Webc Icon var that is used to ensure the correctly sized icon passed in a slot
    --icon-size-override: 16px;

    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    gap: var(--dt-spacing-a);
    padding: var(--tag-padding-block) var(--tag-padding-inline);
    border-radius: var(--tag-border-radius);
    background-color: var(--tag-bg-color);
    color: var(--tag-color);
    font-family: var(--tag-font-family);
    font-weight: var(--tag-font-weight);
    font-size: var(--tag-font-size);
    line-height: var(--tag-line-height);


    &[variant='neutral'] {
        // same as default styles
    }

    &[variant='blue'] {
        --tag-bg-color: var(--dt-color-support-info-02);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='green'] {
        --tag-bg-color: var(--dt-color-support-positive-02);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='yellow'] {
        --tag-bg-color: var(--dt-color-support-warning-02);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='red'] {
        --tag-bg-color: var(--dt-color-support-error-02);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='brand'] {
        --tag-bg-color: var(--dt-color-support-brand-02);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='neutral-alternative'] {
        --tag-bg-color: var(--dt-color-container-default);
        --tag-color: var(--dt-color-content-default);
    }

    &[variant='outline'] {
        --tag-bg-color: var(--tag-transparent-bg-color);
        --tag-color: var(--dt-color-content-default);

        // the outline in design specs is part of the total component
        // height calculation, thus, we use box-shadow to mimic borders
        // and avoid the extra 2px from "border: 1px solid" as shadows are applied "internally"
        box-shadow: 0 0 0 1px var(--dt-color-border-strong);
    }

    &[variant='ghost'] {
        --tag-bg-color: var(--tag-transparent-bg-color);
        --tag-color: var(--dt-color-content-default);
    }
}
