@use '../fozzie-config' as f;
@use './table';

.c-termsAndDescriptions-backdrop {
    overflow-x: auto;
}

.c-termsAndDescriptions {
    @extend %c-table;
    
    background-color: f.$color-background-default;
    box-shadow: none;
    border-spacing: f.$spacing-c;;
    border-collapse: separate;
    max-inline-size: 100%;

    td {
        padding: f.$spacing-c;
        border-color: f.$color-container-default;
        background-color: f.$color-container-subtle;
        border-radius: f.$radius-rounded-c;
    }

    td:first-child {
        text-align: end;
        width: 10%;
    }
}