@use '@justeattakeaway/pie-css/scss' as p;
@use './table';

.c-termsAndDescriptions-backdrop {
    overflow-x: auto;
}

.c-termsAndDescriptions {
    @extend %c-table;

    background-color: var(--dt-color-background-default);
    box-shadow: none;
    border-spacing: var(--dt-spacing-c);
    border-collapse: separate;
    max-inline-size: 100%;

    td {
        padding: var(--dt-spacing-c);
        border-color: var(--dt-color-container-default);
        background-color: var(--dt-color-container-subtle);
        border-radius: var(--dt-radius-rounded-c);
    }

    td:first-child {
        text-align: end;
        width: 10%;
    }
}
