@use 'sass:color';
@use '../fozzie-config' as f;

$toggle-bg: var(--dt-color-container-strong);
$toggle-radius: var(--dt-radius-rounded-e);
$toggle-padding: 2px;
$toggle-item-height: 44px;
$toggle-item-fw: f.$font-weight-regular;
$toggle-item-fw--checked: f.$font-weight-bold;
$toggle-item-padding-y: 10px;
$toggle-item-padding-x: var(--dt-spacing-e);
$toggle-item-bg: var(--dt-color-container-strong);
$toggle-item-bg--hover: hsl(var(--dt-color-container-strong-h), var(--dt-color-container-strong-s), calc(var(--dt-color-container-strong-l) + calc(-1 * var(--dt-color-hover-01))));
$toggle-item-bg--active: hsl(var(--dt-color-container-strong-h), var(--dt-color-container-strong-s), calc(var(--dt-color-container-strong-l) + calc(-1 * var(--dt-color-active-01))));
$toggle-item-bg--checked: var(--dt-color-interactive-light);
$toggle-item-color: var(--dt-color-content-interactive-dark);
$toggle-item-color--hover: var(--dt-color-content-interactive-dark);
$toggle-item-color--active: var(--dt-color-content-interactive-dark);
$toggle-item-color--checked: var(--dt-color-content-interactive-dark);
$toggle-item-elevation: none;
$toggle-item-elevation--checked: f.$elevation-02;

.c-toggle {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: $toggle-padding;
    border-radius: $toggle-radius;
    background-color: $toggle-bg;
}

.c-toggle-label {
    padding-block: $toggle-item-padding-y;
    padding-inline: $toggle-item-padding-x;
    @include f.font-size('body-l');
    position: relative; // context for :before

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: $toggle-radius;
    border: 0;
    background-color: $toggle-item-bg;
    box-shadow: $toggle-item-elevation;

    font-weight: $toggle-item-fw;
    color: $toggle-item-color;
    white-space: nowrap;
    text-align: center;

    cursor: pointer;
    user-select: none;
    display: flex;

    .is-active & {
        background-color: $toggle-item-bg--checked;
        font-weight: $toggle-item-fw--checked;
        color: $toggle-item-color--checked;

        // apply box-shadow separate to prevent overwrite by global focus
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: $toggle-radius;
            box-shadow: $toggle-item-elevation--checked;
        }
    }
}

.c-toggle-input {
    position: absolute;
    display: block;
    overflow: hidden;

    // IE fallback
    clip: rect(1px, 1px, 1px, 1px);

    // modern browsers
    clip-path: inset(1px);
    white-space: nowrap;

    &:focus-visible ~ .c-toggle-label {
        box-shadow: inset 0 0 0 2px var(--dt-color-focus-outer);
        outline: 2px solid transparent;
    }
}

.c-toggle-item {
    height: $toggle-item-height;

    &:not(.is-active) {
        .c-toggle-label {
            &:hover {
                background-color: $toggle-item-bg--hover;
                color: $toggle-item-color--hover;
            }
        }

        .c-toggle-input:active ~ .c-toggle-label {
            background-color: $toggle-item-bg--active;
            color: $toggle-item-color--active;
        }
    }
}
