root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = off
trim_trailing_whitespace = true

[**/*.{css,scss,html,js,jsx,ts,tsx,vue}]
indent_size = 4
