:host {
    display: block;
}

.c-thumbnail {
  --thumbnail-size: 48px;
  --thumbnail-border-radius: var(--dt-radius-rounded-b);
  --thumbnail-bg-color: var(--dt-color-container-default);
  --thumbnail-padding: calc(var(--dt-spacing-a) / 2);
  --thumbnail-default-placeholder-padding: var(--dt-spacing-b);
  --thumbnail-img-border-radius: unset;
  --thumbnail-img-object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: var(--thumbnail-border-radius);
  background-color: var(--thumbnail-bg-color);

  &.c-thumbnail--outline {
    border: 1px solid var(--dt-color-border-default);
  }

  &.is-disabled {
    opacity: 0.5;
  }

  &.c-thumbnail--backgroundSubtle {
    --thumbnail-bg-color: var(--dt-color-container-subtle);
  }

  &.c-thumbnail--backgroundStrong {
    --thumbnail-bg-color: var(--dt-color-container-strong);
  }

  &.c-thumbnail--backgroundDark {
    --thumbnail-bg-color: var(--dt-color-container-dark);
  }

  &.c-thumbnail--backgroundInverse {
    --thumbnail-bg-color: var(--dt-color-container-inverse);
  }

  &.c-thumbnail--backgroundInverseAlternative {
    --thumbnail-bg-color: var(--dt-color-container-inverse-alternative);
  }

  &.c-thumbnail--padding {
    --thumbnail-img-border-radius: calc(var(--thumbnail-border-radius) - var(--thumbnail-padding));
    padding: var(--thumbnail-padding);
  }

  &.c-thumbnail--4by3 {
    height: calc(var(--thumbnail-size) * 3 / 4)
  }

  &.c-thumbnail--16by9 {
    height: calc(var(--thumbnail-size) * 9 / 16)
  }

  .c-thumbnail-img {
    width: 100%;
    height: 100%;
    border-radius: var(--thumbnail-img-border-radius);
    object-fit: var(--thumbnail-img-object-fit);
  }

  &.c-thumbnail--defaultPlaceholder {
    --thumbnail-bg-color: var(--dt-color-container-default);
    --thumbnail-img-object-fit: fill;
    padding: var(--thumbnail-default-placeholder-padding);
  }
}
