.c-thumbnail {
  --thumbnail-size: 48px;
  --thumbnail-border-radius: var(--dt-radius-rounded-b);
  --thumbnail-bg-color: var(--dt-color-container-default);
  --thumbnail-border-color: transparent;
  --thumbnail-padding: calc(var(--dt-spacing-a) / 2);

  box-sizing: border-box;
  overflow: hidden;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: var(--thumbnail-border-radius);
  border: 1px solid var(--thumbnail-border-color);
  background-color: var(--thumbnail-bg-color);

  &.c-thumbnail--outline {
    --thumbnail-border-color: var(--dt-color-border-default);
  }

  &.c-thumbnail--disabled {
    opacity: 0.5;
  }

  &.c-thumbnail--backgroundSubtle {
    --thumbnail-bg-color: var(--dt-color-container-subtle);
  }

  &.c-thumbnail--backgroundStrong {
    --thumbnail-bg-color: var(--dt-color-container-strong);
  }

  &.c-thumbnail--backgroundDark {
    --thumbnail-bg-color: var(--dt-color-container-dark);
  }

  &.c-thumbnail--backgroundInverse {
    --thumbnail-bg-color: var(--dt-color-container-inverse);
  }

  &.c-thumbnail--backgroundInverseAlternative {
    --thumbnail-bg-color: var(--dt-color-container-inverse-alternative);
  }

  &.c-thumbnail--padding {
    padding: var(--thumbnail-padding);
  }

  .c-thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
