@use '@justeattakeaway/pie-css/scss' as p;

.c-breadcrumb {
  --breadcrumb-background-color: var(--dt-color-transparent);
  background-color: var(--breadcrumb-background-color);
  padding: var(--dt-spacing-a) var(--dt-spacing-d) var(--dt-spacing-a) var(--dt-spacing-d);
}

.c-breadcrumb-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;

  gap: var(--dt-spacing-a);

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    white-space: nowrap; 
  }  
}

.c-breadcrumb--scrim {
  --breadcrumb-background-color: var(--dt-color-overlay);
  border-radius: var(--dt-radius-rounded-e);
}

.c-breadcrumb-list-last-item {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  color: var(--dt-color-content-subdued);
}

.c-breadcrumb-list-last-item--scrim {
  color: var(--dt-color-content-link-light);
}

.c-breadcrumb-separator {
  color: var(--dt-color-content-subdued);
}

.c-breadcrumb-separator--scrim {
  color: var(--dt-color-content-link-light);
}
