@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

.c-assistiveText {
    --assistive-text-color: var(--dt-color-content-subdued-solid);

    margin: 0;
    padding-block-start: var(--dt-spacing-a);
    color: var(--assistive-text-color);
    font-family: var(--dt-font-body-s-family);
    font-weight: var(--dt-font-body-s-weight);
    font-size: #{p.font-size(--dt-font-body-s-size)};
    line-height: #{p.line-height(--dt-font-body-s-line-height)};
    gap: var(--dt-spacing-b);
    display: flex;
    align-items: flex-start;
    overflow-wrap: anywhere; // Break word will not have any effect inside a flex container

    .c-assistiveText-icon {
        display: inline-flex;
    }
}

.c-assistiveText--success {
    --assistive-text-color: var(--dt-color-content-positive-solid);
}

.c-assistiveText--error {
    --assistive-text-color: var(--dt-color-content-error-solid);
}

.c-assistiveText--isVisuallyHidden {
    @include p.visually-hidden;
}
