@use '@justeattakeaway/pie-css/scss' as p;

.c-assistiveText {
    --assistive-text-color: var(--dt-color-content-default);

    margin: 0;
    padding-block-start: var(--dt-spacing-a);
    color: var(--assistive-text-color);
    font-family: var(--dt-font-body-s-family);
    font-weight: var(--dt-font-body-s-weight);
    font-size: #{p.font-size(--dt-font-body-s-size)};
    line-height: #{p.line-height(--dt-font-body-s-line-height)};
    gap: var(--dt-spacing-b);
    display: flex;
    align-items: center;
    justify-content: center;

    &[variant='success'] {
        --assistive-text-color: var(--dt-color-content-positive);
    }

    &[variant='error'] {
        --assistive-text-color: var(--dt-color-content-error);
    }

    .c-assistiveText-icon {
        display: inline-flex;
    }
}
