---
layout: layouts/default-layout.njk
permalink: 404.html
notFoundImgSrc: '/assets/img/404.png'
notFoundNarrowImgSrc: '/assets/img/404_narrow.png'
---

{% include "not-found.njk" %}

Some docs site change
