@use '@justeattakeaway/pie-css/scss' as p;
@use '@justeattakeaway/pie-css/scss/settings' as *;

:host {
    display: block;
}

.c-notification {
    --notification-border-radius: var(--dt-radius-rounded-c);
    --notification-background-color: var(--dt-color-container-subtle);
    --notification-direction: column;
    --notification-heading-font-size: #{p.font-size(--dt-font-heading-s-size--narrow)};
    --notification-heading-line-height: #{p.line-height(--dt-font-heading-s-line-height--narrow)};
    --notification-font-size: #{p.font-size(--dt-font-body-l-size)};
    --notification-line-height: #{p.line-height(--dt-font-body-l-line-height)};
    --notification-close-icon-offset: var(--dt-spacing-b);
    --notification-icon-fill: var(--dt-color-content-default);
    --notification-icon-offset: 2px;
    --icon-size-override: 24px;

    padding: var(--dt-spacing-d);
    border-radius: var(--notification-border-radius);
    background-color: var(--notification-background-color);
    position: relative;
    display: flex;
    flex-direction: var(--notification-direction);
    gap: var(--dt-spacing-d);
    font-size: var(--notification-font-size);
    line-height: var(--notification-line-height);
    color: var(--dt-color-content-default);

    &.c-notification--compact {
        --notification-direction: row;
    }

    &.c-notification--full-width {
        --notification-border-radius: var(--dt-radius-rounded-none);
    }

    &.c-notification--neutral-alternative {
        --notification-background-color: var(--dt-color-container-default);
    }

    &.c-notification--info {
        --notification-background-color: var(--dt-color-support-info-02);
        --notification-icon-fill: var(--dt-support-info);
    }

    &.c-notification--success {
        --notification-background-color: var(--dt-color-support-positive-02);
        --notification-icon-fill: var(--dt-color-content-positive);
    }

    &.c-notification--warning {
        --notification-background-color: var(--dt-color-support-warning-02);
    }

    &.c-notification--error {
        --notification-background-color: var(--dt-color-support-error-02);
        --notification-icon-fill: var(--dt-color-support-error);
    }


    &-heading {
        margin: 0;
        margin-block-end: var(--dt-spacing-a);
        font-size: var(--notification-heading-font-size);
        line-height: var(--notification-heading-line-height);

        @include media('>md') {
            --notification-heading-font-size: #{p.font-size(--dt-font-heading-s-size--wide)};
            --notification-heading-line-height: #{p.line-height(--dt-font-heading-s-line-height--wide)};
        }
    }

    &-content-section {
        display: flex;
        flex-direction: row;
        gap: var(--dt-spacing-c);

        &.c-notification-content-section--dismissible {
            max-width: calc(100% - var(--notification-close-icon-offset) - 40px); // 40px is the size of the medium icon button
        }
    }

    &-icon-close {
        position: absolute;
        inset-block-start: var(--notification-close-icon-offset);
        inset-inline-end: var(--notification-close-icon-offset);
    }

    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--dt-spacing-d);

        &.c-notification-footer--compact {
            align-self: flex-end;
        }

        @include media('<md') {
            &.c-notification-footer--stacked {
                flex-direction: column-reverse;
            }
        }
    }
}

.icon,
::slotted([slot="icon"]) {
    display: inline-flex;
    color: var(--notification-icon-fill);
    margin-block-start: var(--notification-icon-offset);

    @include media('<md') {
        margin-block-start: 0;
    }
}
