@use '@justeattakeaway/pie-css/scss' as p;

.c-formLabel {
    --form-label-font-size: #{p.font-size(--dt-font-size-14)};
    --form-label-line-height: calc(var(--dt-font-size-14-line-height) * 1px);
    --form-label-font-weight: var(--dt-font-weight-bold);
    --form-label-color: var(--dt-color-content-default);

    display: flex;
    justify-content: space-between;
    gap: var(--dt-spacing-d);
    color: var(--form-label-color);
    font-size: var(--form-label-font-size);
    line-height: var(--form-label-line-height);
    font-weight: var(--form-label-font-weight);
    margin-block-end: var(--dt-spacing-a);
}

.c-formLabel-optional,
.c-formLabel-trailing {
    color: var(--dt-color-content-subdued);
    font-weight: var(--dt-font-weight-regular);
}

.c-formLabel-leading {
    margin-inline-end: var(--dt-spacing-b);
}

.c-formLabel-trailing {
    flex-shrink: 0;
    white-space: var(--dt-spacing-d);
}
