@use '@justeattakeaway/pie-css/scss' as p;

*,
*:before,
*:after {
    box-sizing: border-box;
}

@mixin card-interactive-states($bg-color, $mode: 'default') {
    &:hover:not([disabled]) {
        @if $mode == 'inverse' {
            --hover-modifier: var(--dt-color-hover-01);
        } @else {
            --hover-modifier: calc(-1 * var(--dt-color-hover-01));
        }

        --card-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) + var(--hover-modifier)));
    }

    &:active:not([disabled]) {
        @if $mode == 'inverse' {
            --active-modifier: var(--dt-color-active-01);
        } @else {
            --active-modifier: calc(-1 * var(--dt-color-active-01));
        }

        --card-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) + var(--active-modifier)));
    }
}

.c-card-container {
    --card-bg-color: var(--dt-color-container-default);
    --card-radius: var(--dt-radius-rounded-c);
    --card-border-color: transparent;

    position: relative;
    color: currentcolor;
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-radius);

    &[variant='default'] {
        box-shadow: var(--dt-elevation-01);

        @include card-interactive-states('--dt-color-container-default');
    }

    &[variant='outline'] {
        border-color: var(--dt-color-border-strong);

        @include card-interactive-states('--dt-color-container-default');
    }

    &[variant='inverse'] {
        --card-bg-color: var(--dt-color-container-dark);

        box-shadow: var(--dt-elevation-inverse-01);

        @include card-interactive-states('--dt-color-container-dark', 'inverse');
    }

    &[variant='outline-inverse'] {
        --card-bg-color: var(--dt-color-container-dark);

        border-color: var(--dt-color-border-inverse);

        @include card-interactive-states('--dt-color-container-dark', 'inverse');
    }

    &[disabled] {
        --card-bg-color: var(--dt-color-disabled-01);

        pointer-events: none;

        &[variant='inverse'],
        &[variant='outline-inverse'] {
            --card-bg-color: var(--dt-color-disabled-01-inverse);
        }
    }

    // We want to stretch the <a> tag over the entire card to make the entire component interactive
    > a {
        display: block;
        position: absolute;
        inset: -1px; // ensures the border of the parent is visible
        z-index: 1;
        border: 1px solid var(--card-border-color);
        border-radius: var(--card-radius);
    }

    > a:focus {
        outline: none;
    }

    &:focus-within {
        box-shadow: 0 0 0 2px var(--dt-color-focus-inner), 0 0 0 4px var(--dt-color-focus-outer);
    }

    &.isDraggable {
      a,
      button {
          @extend %has-grabCursor;
      }
    }
}

.c-card-container-slot {
    // Ensures that any slot containers are also rounded
    border-radius: inherit;
    overflow: hidden;
}
