@use '../fozzie-config' as f;

.page {
    min-height: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "nav footer";

    grid-template-columns: 260px 1fr;
    grid-template-rows: 64px 1fr max-content;

    @include f.media('<=narrowMid') {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }
}

.c-header {
    grid-area: header;
}

#navToggle:checked ~ .c-nav {
    left: 0;
}

#navToggle:checked ~ main:before,
#navToggle:checked ~ footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: f.$color-overlay;
}

#navToggle:checked ~ main {
    filter: brightness(50%);
}

.c-nav {
    grid-area: nav;
    background: white;

    @include f.media('<=narrowMid') {
        transition: left 0.5s cubic-bezier(0.25, 1, 0.25, 1), width 0.5s cubic-bezier(0.25, 1, 0.25, 1);
        grid-area: main;
        grid-row-end: 5;
        max-width: 80%;
        position: relative;
        left: -100%;
        z-index: f.zIndex(high);
    }
}

main {
    grid-area: main;
    position: relative;
}

footer {
    grid-area: footer;
}

main,
footer {
    @include f.media('<=narrowMid') {
        z-index: f.zIndex(low);
    }
}
