@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: inline-block;

    --link-font-weight: var(--dt-font-body-l-link-weight);
    --link-text-color: var(--dt-color-content-link);
    --link-text-decoration: var(--dt-font-body-l-link-text-decoration);
}

:host([isstandalone]) {
    display: block;
}

@mixin link-interactive-states($mode: 'default') {
    &:hover,
    &:active {
        @if $mode == 'reversed' {
            --link-text-decoration: var(--dt-font-body-l-link-text-decoration);
        } @else {
            --link-text-decoration: none;
        }
    }
}

.c-link {
    --link-font-family: var(--dt-font-interactive-l-family);
    --link-font-size: #{p.font-size(--dt-font-body-l-link-size)};
    --link-line-height: calc(var(--dt-font-body-l-link-line-height) * 1px);
    --link-icon-size: 16px;
    --link-icon-offset-top: var(--dt-spacing-a);

    display: inline-block;
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    line-height: var(--link-line-height);
    font-weight: var(--link-font-weight);
    color: var(--link-text-color);
    text-decoration: var(--link-text-decoration);
    cursor: pointer;

    @include link-interactive-states('default');

    &.c-link--default {
        /* Same as default styles */
    }

    &.c-link--high-visibility {
        --link-text-color: var(--dt-color-content-link-distinct);
    }

    &.c-link--inverse {
        --link-text-color: var(--dt-color-content-link-inverse);
    }

    &.c-link--small {
        --link-font-size: #{p.font-size(--dt-font-body-s-link-size)};
        --link-line-height: calc(var(--dt-font-body-s-link-line-height) * 1px);
        --link-font-weight: var(--dt-font-body-s-link-weight);
        --link-text-decoration: var(--dt-font-body-s-link-text-decoration);
        --link-icon-offset-top: 2px;
    }

    &.c-link--medium {
        /* Same as default styles */
    }

    &.c-link--underline-reversed.c-link--standalone {
        --link-text-decoration: none;

        @include link-interactive-states('reversed');
    }

    &.c-link--bold {
        --link-font-size: #{p.font-size(--dt-font-body-strong-l-link-size)};
        --link-line-height: calc(var(--dt-font-body-strong-l-link-line-height) * 1px);
        --link-font-weight: var(--dt-font-body-strong-l-link-weight);

        &.c-link--small {
            --link-font-size: #{p.font-size(--dt-font-body-strong-s-link-size)};
            --link-line-height: calc(var(--dt-font-body-strong-s-link-line-height) * 1px);
            --link-font-weight: var(--dt-font-body-strong-s-link-weight);
        }
    }

    &.c-link--standalone {
        display: block;
        width: fit-content;
    }

    &.c-link--hasVisited:visited {
        color: var(--dt-color-content-link-visited);

        &.c-link--inverse {
            color: var(--dt-color-content-link-visited-inverse);
        }
    }

    &:focus-visible {
        outline: none;
        border-radius: 2px;
        box-shadow: 0 0 0 2px var(--dt-color-focus-inner), 0 0 0 4px var(--dt-color-focus-outer);
    }
}

button.c-link {
    outline: none;
    border: none;
    user-select: none;
    background: transparent;
    padding: 0;
}

.c-link-content {
    display: flex;
    gap: var(--dt-spacing-a);
}

::slotted(.c-pieIcon),
::slotted(svg) {
    display: inline-flex;
    margin-block-start: var(--link-icon-offset-top);
    height: var(--link-icon-size);
    width: var(--link-icon-size);
}
