@use '@justeattakeaway/pie-css/scss' as p;

.c-link {
    --link-font-family: var(--dt-font-interactive-m-family);
    --link-font-size: #{p.font-size(--dt-font-size-16)};
    --link-line-height: calc(var(--dt-font-size-16-line-height) * 1px);
    --link-font-weight: var(--dt-font-weight-regular);
    --link-text-color: var(--dt-color-content-link);
    --link-text-decoration: var(--dt-font-style-underline);
    --link-icon-size: 16px;

    display: inline-block;
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    line-height: var(--link-line-height);
    font-weight: var(--link-font-weight);
    color: var(--link-text-color);
    text-decoration: var(--link-text-decoration);
    cursor: pointer;

    &[tag='a'] {
        /* Same as default styles */
    }

    &[tag='button'] {
        outline: none;
        border: none;
        user-select: none;
        background: transparent;
        padding: 0;
    }

    &[variant='default'] {
        /* Same as default styles */
    }

    &[variant='high-visibility'] {
        --link-text-color: var(--dt-color-content-link-distinct);
    }

    &[variant='inverse'] {
        --link-text-color: var(--dt-color-content-link-inverse);
    }

    &[size='small'] {
        --link-font-size: #{p.font-size(--dt-font-size-14)};
        --link-line-height: calc(var(--dt-font-size-14-line-height) * 1px);
    }

    &[size='medium'] {
        /* Same as default styles */
    }

    &[isBold] {
        --link-font-weight: var(--dt-font-weight-bold);
    }

    &[isStandalone] {
        display: block;
    }
}

.c-link-content {
    display: flex;
    gap: var(--dt-spacing-a);
}

::slotted(.c-pieIcon),
::slotted(svg) {
    display: inline-flex;
    margin-block-start: var(--dt-spacing-a);
    height: var(--btn-icon-size);
    width: var(--btn-icon-size);
}
