@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

.c-data-table {
  --data-table-background-color: var(--dt-color-container-default);
  --data-table-background-hover-or-active: var(--dt-color-container-subtle);
  --data-table-border-color: var(--dt-color-border-default);
  --data-table-border-radius: var(--dt-radius-rounded-c);
  --data-table-text-color: var(--dt-color-content-default);

  background-color: var(--data-table-background-color);
  border: 1px solid var(--data-table-border-color);
  border-radius: var(--data-table-border-radius);
  color: var(--data-table-text-color);

  width: 100%;
  overflow: hidden;
  
  table {
    border-spacing: 0;
    width: 100%;
  }

  tbody {
    overflow: auto;
  }

  tbody tr:hover {
    background-color: var(--data-table-background-hover-or-active);
  }
}

.c-data-table-head-cell {
  background-color: transparent;
  font-weight: var(--dt-font-weight-bold);
  color: var(--data-table-text-color);
  text-align: left;
}

.c-data-table-head-cell-text-align--left, 
.c-data-table-cell-text-align--left {
  text-align: left;
}

.c-data-table-head-cell-text-align--right, 
.c-data-table-cell-text-align--right {
  text-align: right;
}

.c-data-table-head-cell-text-align--center,
.c-data-table-cell-text-align--center {
  text-align: center;
}

.c-data-table-cell, .c-data-table-head-cell {
  padding: var(--dt-spacing-d);
  border-bottom: 1px solid var(--data-table-border-color);
}

.c-data-table-cell--hidden, 
.c-data-table-row--hidden {
  display: none;
}