---
site_title: Pie Site
layout: layouts/default-layout.njk
---

{% if content %}
    {% include "content-page.njk" %}
{% else %}
    {# By default we will show the coming soon graphic for an empty page #}
    {% include "coming-soon.njk" %}
{% endif %}
