---
site_title: Pie Site
layout: layouts/default-layout.njk
---
<div class="c-contentPage">
    <div class="c-contentPage-header">
        <h1>
            {{ title }}
        </h1>
        <p>
        {{ description }}
        </p>
    </div>
    {# TODO: Tabs can go here between header and main #}
    <div class="c-contentPage-main">
    {{ content | safe }}
    </div>
</div>
