---
site_title: Pie Site
layout: layouts/page-layout.njk
ContentAKey: toggle-content-a
ContentBKey: toggle-content-b
togglePage: true
---

<h2>{{ subtitle }}</h2>
<p>{{ subtitleDescription }}</p>
<div class="c-toggle u-spacing-e--top">
    <div
        id="toggle-option-a-wrapper"
        class="c-toggle-item {% if selectedToggle == togglePageOptions.A %}is-active{% endif %}">
        <input id="toggle-option-a" class="c-toggle-input" type="radio"/>
        <label class="c-toggle-label" for="toggle-option-a">
            {{ ContentALabel }}
        </label>
    </div>
    <div
        id="toggle-option-b-wrapper"
        class="c-toggle-item {% if selectedToggle == togglePageOptions.B %}is-active{% endif %}">
        <input id="toggle-option-b" class="c-toggle-input" type="radio" checked=""/>
        <label class="c-toggle-label" for="toggle-option-b">
            {{ ContentBLabel }}
        </label>
    </div>
</div>
<hr/> 
{{ content | safe }}
