@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

.c-radioGroup {
    --radio-group-gap: var(--dt-spacing-c);
    --radio-group-gap--inline: var(--dt-spacing-c) var(--dt-spacing-e);

    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    display: flex;
    flex-flow: column wrap;
    gap: var(--radio-group-gap);

    > legend {
        margin-block-end: var(--dt-spacing-b);
    }

    &.c-radioGroup--inline {
        flex-flow: row wrap;
        gap: var(--radio-group-gap--inline);
    }

    &.c-radioGroup--hasAssistiveText {
        margin-block-end: var(--dt-spacing-a);
    }
}
