@use '@justeattakeaway/pie-css/scss' as p;

.c-radioGroup {
    --radio-group-offset: var(--dt-spacing-c);
    --radio-group-offset--inline: var(--dt-spacing-e);
    --radio-group-label-offset: var(--dt-spacing-a);

    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;

    ::slotted(pie-radio) {
        display: flex;
    }

    ::slotted(pie-form-label) {
        display: block;
        padding-block-end: var(--radio-group-label-offset);
    }

    &:not(.c-radioGroup--inline) {
        ::slotted(pie-radio:not(:last-child)) {
            margin-block-end: var(--radio-group-offset);
        }
    }
}

.c-radioGroup--inline {
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
}

.c-radioGroup.c-radioGroup--inline {
    margin: calc(-1 * var(--radio-group-offset) / 2) calc(-1 * var(--radio-group-offset--inline) / 2);

    ::slotted(pie-radio) {
        margin: calc(var(--radio-group-offset) / 2) calc(var(--radio-group-offset--inline) / 2);
    }

    ::slotted(pie-form-label) {
        margin: 0 calc(var(--radio-group-offset--inline) / 2) calc(-1 * (var(--radio-group-offset) / 2 - var(--radio-group-label-offset)));
        padding-block-end: 0;
    }
}

.c-radioGroup-assistiveText {
    --radio-group-assistive-text-offset: var(--dt-spacing-a);

    display: block;
    margin-block-start: var(--radio-group-assistive-text-offset);
}
