@use '@justeattakeaway/pie-css/scss' as p;

.c-radioGroup {
    --radio-group-gap: var(--dt-spacing-c);
    --radio-group-gap--inline: var(--dt-spacing-c) var(--dt-spacing-e);

    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--radio-group-gap);

    &.c-radioGroup--inline { 
        flex-direction: row;
        gap: var(--radio-group-gap--inline);
    }
}