@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

.c-checkboxGroup {
    --checkbox-group-offset: var(--dt-spacing-c);
    --checkbox-group-offset--inline: var(--dt-spacing-e);
    --checkbox-group-label-offset: var(--dt-spacing-a);

    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;

    ::slotted(pie-checkbox) {
        display: flex;
    }

    ::slotted(pie-form-label) {
        display: block;
        padding-block-end: var(--checkbox-group-label-offset);
    }

    &:not(.c-checkboxGroup--inline) {
        ::slotted(pie-checkbox:not(:last-child)) {
            margin-block-end: var(--checkbox-group-offset);
        }
    }
}

.c-checkboxGroup--inline {
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
}

.c-checkboxGroup.c-checkboxGroup--inline {
    margin: calc(-1 * var(--checkbox-group-offset) / 2) calc(-1 * var(--checkbox-group-offset--inline) / 2);

    ::slotted(pie-checkbox) {
        margin: calc(var(--checkbox-group-offset) / 2) calc(var(--checkbox-group-offset--inline) / 2);
    }

    ::slotted(pie-form-label) {
        margin: 0 calc(var(--checkbox-group-offset--inline) / 2) calc(-1 * (var(--checkbox-group-offset) / 2 - var(--checkbox-group-label-offset)));
        padding-block-end: 0;
    }
}

.c-checkboxGroup-assistiveText {
    --checkbox-group-assistive-text-offset: var(--dt-spacing-a);

    display: block;
    margin-block-start: var(--checkbox-group-assistive-text-offset);
}
