@use '@justeattakeaway/pie-css/scss' as p;

.c-checkboxGroup {
    --checkbox-group-offset: var(--dt-spacing-c);
    --checkbox-group-offset--inline: var(--dt-spacing-e);
    --checkbox-group-label-offset: var(--dt-spacing-a);

    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;

    ::slotted(pie-checkbox) {
        display: flex;
    }

    &:not(.c-checkboxGroup--inline) {
        ::slotted(pie-checkbox:not(:first-child)) {
            margin-block-start: var(--checkbox-group-offset);
        }
    }
}

.c-checkboxGroup--inline {
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
}

.c-checkboxGroup-label {
    max-width: 100%;
    white-space: normal;
    padding: 0;
    font-size: p.font-size(--dt-font-body-strong-s-size);
    line-height: p.line-height(--dt-font-body-strong-s-line-height);
    font-weight: var(--dt-font-body-strong-s-weight);
    color: var(--dt-color-content-default);

    margin-block-end: var(--checkbox-group-label-offset);
}

.c-checkboxGroup.c-checkboxGroup--inline {
    margin: calc(-1 * var(--checkbox-group-offset--inline) / 2) calc(-1 * var(--checkbox-group-offset--inline) / 2);

    ::slotted(pie-checkbox) {
        margin: calc(var(--checkbox-group-offset--inline) / 2) calc(var(--checkbox-group-offset--inline) / 2);
    }

    .label {
        margin: 0 calc(var(--checkbox-group-offset--inline) / 2) calc(-1 * (var(--checkbox-group-offset--inline) / 2 - var(--checkbox-group-label-offset)));
    }
}
