@use '@justeattakeaway/pie-css/scss' as p;
@use '@justeattakeaway/pie-css/scss/settings' as *;

/**
* Mixin for adding the responsive behaviour.
* Takes in the the particular settings for the wide breakpoint.
*/
@mixin responsive-wide {
    &.o-btn--responsive {
        @include media('>md') {
            @content;
        }
    }
}

// Base button styles
.o-btn {
    // Custom Property Declarations
    // These are defined here instead of :host to encapsulate them inside Shadow DOM
    --btn-border-radius: var(--dt-radius-rounded-e);
    --btn-font-family: var(--dt-font-interactive-l-family);
    --btn-font-weight: var(--dt-font-interactive-l-weight);

    // The following values set to default background and color
    // currently this sets the primary button styles
    --btn-bg-color: var(--dt-color-interactive-brand);
    --btn-text-color: var(--dt-color-content-interactive-primary);
    --icon-display-override: block;

    /**
    * Mixin for updating the button styles based on the size passed in.
    * Takes in the name of the size to be used.
    */
    @mixin button-size($size) {
        @if $size == 'xsmall' {
            --btn-padding: 6px var(--dt-spacing-b);
            --btn-font-size: #{p.font-size(--dt-font-size-14)};
            --btn-line-height: calc(var(--dt-font-size-14-line-height) * 1px);
            --icon-size-override: 16px;
        } @else if $size == 'small-expressive' {
            --btn-padding: 6px var(--dt-spacing-d);
            --btn-font-size: #{p.font-size(--dt-font-size-20)};
            --btn-line-height: calc(var(--dt-font-size-20-line-height) * 1px);
            --icon-size-override: 20px;
        } @else if $size == 'small-productive' {
            --btn-padding: 8px var(--dt-spacing-d);
            --btn-font-size: #{p.font-size(--dt-font-size-16)};
            --btn-line-height: calc(var(--dt-font-size-16-line-height) * 1px);
            --icon-size-override: 20px;
        } @else if $size == 'medium' {
            --btn-padding: 10px var(--dt-spacing-e);
            --btn-font-size: #{p.font-size(--dt-font-size-20)};
            --btn-line-height: calc(var(--dt-font-size-20-line-height) * 1px);
            --icon-size-override: 24px;
        } @else if $size == 'large' {
            --btn-padding: 14px var(--dt-spacing-e);
            --btn-font-size: #{p.font-size(--dt-font-size-20)};
            --btn-line-height: calc(var(--dt-font-size-20-line-height) * 1px);
            --icon-size-override: 24px;
        }
    }

    position: relative;
    display: inline-flex;
    gap: var(--dt-spacing-b);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--btn-padding);
    border: none;
    border-radius: var(--btn-border-radius);
    outline: none;
    background-color: var(--btn-bg-color);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    color: var(--btn-text-color);
    line-height: var(--btn-line-height);
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    // used to specify whether the button should be full width or not
    inline-size: var(--btn-inline-size);

    // ************************
    // Button Variant Modifiers
    // ************************
    &.o-btn--primary {
        @include p.button-interactive-states('--dt-color-interactive-brand');

        &.o-btn--xsmall,
        &.o-btn--small-productive {
            /**
            * Where the font-size is smaller,
            * update the button backgrounds so that the text is accessible
            **/
            --btn-bg-color: var(--dt-color-interactive-primary);

            @include p.button-interactive-states('--dt-color-interactive-primary', 'inverse');
        }

        // This is to handle the background colour change getting overridden above, but then being put in responsive mode
        // can't use :not for this unfortunately, as then the smaller narrow state would lose its background colour too
        &.o-btn--xsmall.o-btn--expressive,
        &.o-btn--small-productive {
            @include responsive-wide {
                --btn-bg-color: var(--dt-color-interactive-brand);

                @include p.button-interactive-states('--dt-color-interactive-brand');
            }
        }
    }

    &.o-btn--secondary {
        --btn-bg-color: var(--dt-color-interactive-secondary);
        --btn-text-color: var(--dt-color-content-interactive-secondary);

        @include p.button-interactive-states('--dt-color-interactive-secondary');
    }

    &.o-btn--outline {
        --btn-bg-color: transparent;
        --btn-text-color: var(--dt-color-content-interactive-secondary);

        border: 1px solid var(--dt-color-border-strong);

        // use black as the background color for hover and inverse,
        // as this variant uses a shade of transparent black showing through the container background
        @include p.button-interactive-states('--dt-color-black', 'transparent');
    }

    &.o-btn--ghost {
        --btn-bg-color: transparent;
        --btn-text-color: var(--dt-color-content-link);

        // use black as the background color for hover and inverse,
        // as this variant uses a shade of transparent black showing through the container background
        @include p.button-interactive-states('--dt-color-black', 'transparent');
    }

    &.o-btn--inverse {
        --btn-bg-color: var(--dt-color-interactive-inverse);
        --btn-text-color: var(--dt-color-content-interactive-secondary);

        @include p.button-interactive-states('--dt-color-interactive-inverse');
    }

    &.o-btn--ghost-inverse,
    &.o-btn--outline-inverse {
        --btn-bg-color: transparent;
        --btn-text-color: var(--dt-color-content-interactive-primary);

        // use white as the background color for hover and inverse,
        // as these variants use a shade of transparent white showing through the container background
        @include p.button-interactive-states('--dt-color-container-default', 'transparent');
    }

    &.o-btn--outline-inverse:not([disabled]) {
        border: 1px solid var(--dt-color-border-strong);
    }

    &.o-btn--destructive {
        --btn-bg-color: var(--dt-color-support-error);

        @include p.button-interactive-states('--dt-color-support-error');
    }

    &.o-btn--destructive-ghost {
        --btn-bg-color: transparent;
        --btn-text-color: var(--dt-color-content-interactive-error);

        // use black as the background color for hover and inverse,
        // as this variant uses a shade of transparent black showing through the container background
        @include p.button-interactive-states('--dt-color-black', 'transparent');
    }

    // *********************
    // Button Size Modifiers
    // *********************
    &.o-btn--xsmall {
        @include button-size(xsmall);

        @include responsive-wide {
            // productive is the default size when responsive is enabled
            @include button-size(small-productive);

            &.o-btn--expressive {
                @include button-size(small-expressive);
            }
        }
    }

    &.o-btn--small-expressive {
        @include button-size(small-expressive);

        @include responsive-wide {
            @include button-size(medium);
        }
    }

    &.o-btn--small-productive {
        @include button-size(small-productive);

        @include responsive-wide {
            @include button-size(medium);
        }
    }

    &.o-btn--medium {
        @include button-size(medium);

        @include responsive-wide {
            @include button-size(large);
        }
    }

    &.o-btn--large {
        @include button-size(large);
    }

    // ******************************
    // Additional component modifiers
    // ******************************
    &.o-btn--fullWidth {
        --btn-inline-size: 100%;
    }

    // **************
    // Disabled state
    // **************
    &[disabled] {
        --btn-text-color: var(--dt-color-content-disabled) !important;

        cursor: not-allowed;

        // For every variant (except ghost variants) set the disabled background color
        &:not(.o-btn--ghost, .o-btn--ghost-inverse, .o-btn--destructive-ghost) {
            --btn-bg-color: var(--dt-color-disabled-01) !important;
        }

        // For outline variants, set the border to the disabled color
        &.o-btn--outline {
            border-color: var(--dt-color-disabled-01) !important;
        }
    }

    // *************
    // Loading state
    // *************
    &.is-loading {
        & > *:not(pie-spinner) {
            visibility: hidden;
        }

        pie-spinner {
            position: absolute;
        }
    }

    // ************
    // Focus styles
    // ************
    &:focus-visible {
        @include p.focus;
    }
}

// The inner span for the button text is needed to handle the text-overflow
// Without this, single word overflow wouldn't be possible in combination
// with display: flex.
.o-btn-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

// Used to size an SVG if one is passed in (when not using the component icons)
::slotted(svg) {
    height: var(--icon-size-override);
    width: var(--icon-size-override);
}
