:host {
    --btn-border-radius: var(--dt-radius-rounded-e);
    --btn-font-family: var(--dt-font-interactive-m-family);
    --btn-font-weight: var(--dt-font-interactive-m-weight);

    // The base values are set to the size default, which is for the medium button size
    --btn-padding: 10px var(--dt-spacing-e);
    --btn-min-height: 48px;
    --btn-font-size: calc(var(--dt-font-size-20) * 1px);
    --btn-line-height: calc(var(--dt-font-size-20-line-height) * 1px);

    // The following values set to default background and color
    // currently this sets the primary button styles
    --btn-bg-color: var(--dt-color-interactive-brand);
    --btn-text-color: var(--dt-color-content-interactive-primary);
    --button-focus: var(--dt-color-focus-outer);
}

@mixin button-interactive-states($bg-color) {
    & .o-btn:hover:not(:disabled) {
        background-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) - var(--dt-color-hover-01)));
    }

    & .o-btn:active:not(:disabled) {
        background-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) - var(--dt-color-active-01)));
    }
}

// Base button styles
.o-btn {
    min-block-size: var(--btn-min-block-size);
    padding: var(--btn-padding);
    border: none;
    border-radius: var(--btn-border-radius);
    outline: none;
    background-color: var(--btn-bg-color);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    color: var(--btn-text-color);
    line-height: var(--btn-line-height);
    cursor: pointer;
    user-select: none;

    &:focus-visible {
        outline: 2px solid var(--button-focus);
    }
}

// Variants
:host([variant='primary']) {
    @include button-interactive-states('--dt-color-interactive-brand');
}

:host([variant='secondary']) {
    --btn-bg-color: var(--dt-color-interactive-secondary);
    --btn-text-color: var(--dt-color-content-interactive-secondary);

    @include button-interactive-states('--dt-color-interactive-secondary');
}

:host([variant='outline']) {
    --btn-bg-color: var(--dt-color-container-default);
    --btn-text-color: var(--dt-color-content-interactive-tertiary);

    & .o-btn {
        border: 1px solid var(--dt-color-border-strong);
    }

    @include button-interactive-states('--dt-color-container-default');
}

:host([variant='ghost']) {
    --btn-bg-color: var(--dt-color-container-default);
    --btn-text-color: var(--dt-color-content-link);

    @include button-interactive-states('--dt-color-container-default');
}

:host([disabled]) {
    --btn-bg-color: var(--dt-color-disabled-01);
    --btn-text-color: var(--dt-color-content-disabled);

    & .o-btn {
        border: 1px solid var(--dt-color-disabled-01);
        cursor: not-allowed;
    }
}

:host([disabled][variant='ghost']) {
    --btn-bg-color: var(--dt-color-container-default);

    & .o-btn {
        outline: none;
    }
}

// Additional modifiers
:host([isFullWidth]) .o-btn {
    inline-size: 100%;
}

:host([size='xsmall']) {
    --btn-padding: 6px var(--dt-spacing-b);
    --btn-min-block-size: 32px;
    --btn-font-size: calc(var(--dt-font-size-14) * 1px);
    --btn-line-height: calc(var(--dt-font-size-14-line-height) * 1px);
}

:host([size='small']) {
    --btn-padding: 8px var(--dt-spacing-d);
    --btn-min-block-size: 40px;
    --btn-font-size: calc(var(--dt-font-size-19) * 1px);
    --btn-line-height: calc(var(--dt-font-size-19-line-height) * 1px);
}

:host([size='medium']) {
    /* Same as default styles */
}

:host([size='large']) {
    --btn-padding: 14px var(--dt-spacing-e);
    --btn-min-block-size: 56px;
    --btn-font-size: calc(var(--dt-font-size-20) * 1px);
    --btn-line-height: calc(var(--dt-font-size-20-line-height) * 1px);
}
