.c-componentStatus {
    position: fixed;
    inset-inline-end: var(--dt-spacing-c);
    z-index: 9999;

    a {
      line-height: 0;
    }

    a:visited {
        color: inherit;
    }
}

.c-componentStatus:not(.c-componentStatus--top) {
    inset-block-end: var(--dt-spacing-c);
}

.c-componentStatus--top {
    inset-block-start: var(--dt-spacing-c);
}

@media only percy {
  .percyHidden {
    display: none;
  }
}
