// for styling storybook documentation pages
@use '@justeattakeaway/pie-css/scss' as p;

.docs-story:has([id*='inverse']) {
    background-color: var(--dt-color-background-dark);
}

// Responsive story wrapper - constrains width to specific breakpoints
.responsive-story-container {
    @media (min-width: 480px) {
        width: 480px;
    }

    @media (min-width: 640px) {
        width: 640px;
    }
}
