/* This stylesheet assigns a proper display setting to the Web components
top DOM elements, otherwise the default `inline` will be assigned, leading to
inconsistent bounding box size and potential layout issues */

/* inline-block elements */
pie-button,
pie-chip,
pie-icon-button,
pie-tag,
pie-link,
.c-pieIcon {
    display: inline-block;
}

/* block elements */
pie-button[isfullwidth],
pie-assistive-text,
pie-breadcrumb,
pie-card,
pie-checkbox,
pie-checkbox-group,
pie-divider,
pie-form-label,
pie-link[isstandalone],
pie-list,
pie-lottie-player,
pie-notification,
pie-radio,
pie-radio-group,
pie-select,
pie-spinner,
pie-switch,
pie-text-input,
pie-textarea,
pie-thumbnail {
    display: block;
}

/* Special cases */
pie-divider[orientation="vertical"]{
    height: 100%;
}

/*
These components float and don't need the "display" prop:
- pie-cookie-banner
- pie-modal
- pie-toast (+pie-toast-provider)
*/
