@import "@justeat/pie-design-tokens/dist/jet.css";
@import "@justeat/pie-design-tokens/dist/jet-hsl-colors.css";

html {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
