@import '@justeat/pie-design-tokens/dist/jet.css';
@import '@justeat/pie-design-tokens/dist/jet-hsl-colors.css';

html {
    box-sizing: border-box;

    /*  These rules with smooth fonts. It makes fonts look crisp and clean on devices
        that support it. */
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    /*  These are added to prevent text size adjustments in various browsers.
        In some browsers, such as iOS Safari, will try to increase the font-size
        when you rotate the screen. This can be jarring and break layouts.  */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* The z-index priority order of different components.
The values start at a high and specific number to avoid any conflicts */
:root {
    --dt-z-index-dropdown: 1000;
    --dt-z-index-fab: 1000;
    --dt-z-index-tooltip: 2000;
    --dt-z-index-popover: 3000;
    --dt-z-index-bottom-sheet: 4000;
    --dt-z-index-side-sheet: 4000;
    --dt-z-index-modal: 4000;
    --dt-z-index-cookie-banner: 5000;
    --dt-z-index-toast: 6000;
}
