@use '@justeattakeaway/pie-css/scss' as p;

@mixin button-interactive-states($bg-color, $mode: 'default') {
    &:hover:not(:disabled) {
        --hover-modifier: calc(-1 * var(--dt-color-hover-01));
        --btn-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) + var(--hover-modifier)));

        // for mode=transparent, use the hsla syntax to make the button background opaque by a set percentage
        @if $mode == 'transparent' {
            --hover-modifier: var(--dt-color-hover-01);
            --btn-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), var(#{$bg-color}-l), var(--hover-modifier));
        }
    }

    &:active:not(:disabled) {
        --active-modifier: calc(-1 * var(--dt-color-active-01));
        --btn-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), calc(var(#{$bg-color}-l) + var(--active-modifier)));

        @if $mode == 'transparent' {
            --active-modifier: var(--dt-color-active-01);
            --btn-bg-color: hsl(var(#{$bg-color}-h), var(#{$bg-color}-s), var(#{$bg-color}-l), var(--active-modifier));
        }
    }
}

// Normally we don't expect consumers to override these, but there are situations where it may be necessary
:host {
    // The base values are set to the size default, which is for the medium button size
    --btn-dimension: 48px;

    // Sizing is set to Medium button icon size, as that is the default
    --btn-icon-size: 24px;
}

// Base button styles
.o-iconBtn {
    --btn-border-radius: var(--dt-radius-rounded-e);
    --btn-bg-color: var(--dt-color-interactive-brand);
    --btn-icon-fill: var(--dt-color-content-interactive-primary);

    block-size: var(--btn-dimension);
    inline-size: var(--btn-dimension);

    border-color: var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg-color);
    color: var(--btn-icon-fill);
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus-visible {
        @include p.focus;
    }

    svg {
        height: var(--btn-icon-size);
        width: var(--btn-icon-size);
    }

    &[variant='primary'] {
        /* Same as default styles */

        @include button-interactive-states('--dt-color-interactive-brand');
    }

    &[variant='secondary'] {
        --btn-bg-color: var(--dt-color-interactive-secondary);
        --btn-icon-fill: var(--dt-color-content-interactive-secondary);

        @include button-interactive-states('--dt-color-interactive-secondary');
    }

    &[variant='outline'] {
        --btn-bg-color: transparent;
        --btn-icon-fill: var(--dt-color-content-interactive-brand);

        border: 1px solid var(--dt-color-border-strong);

        @include button-interactive-states('--dt-color-black', 'transparent');
    }

    &[variant='ghost'] {
        --btn-bg-color: transparent;
        --btn-icon-fill: var(--dt-color-content-interactive-brand);

        @include button-interactive-states('--dt-color-black', 'transparent');
    }

    &[variant='ghost-secondary'] {
        --btn-bg-color: transparent;
        --btn-icon-fill: var(--dt-color-content-interactive-secondary);

        @include button-interactive-states('--dt-color-black', 'transparent');
    }

    &[variant='inverse'] {
        --btn-bg-color: var(--dt-color-interactive-inverse);
        --btn-icon-fill: var(--dt-color-content-interactive-brand);

        @include button-interactive-states('--dt-color-interactive-inverse');
    }

    &[variant='ghost-inverse'] {
        --btn-bg-color: transparent;
        --btn-icon-fill: var(--dt-color-content-inverse);

        @include button-interactive-states('--dt-color-container-default', 'transparent');
    }

    &[disabled] {
        --btn-icon-fill: var(--dt-color-content-disabled);

        cursor: not-allowed;

        // For every variant (except ghost variants) set the disabled background color
        &:not([variant='ghost'], [variant='ghost-secondary'], [variant='ghost-inverse']) {
            --btn-bg-color: var(--dt-color-disabled-01);
        }

        // For outline variants, set the border to the disabled color
        &[variant='outline'] {
            border-color: var(--dt-color-disabled-01);
        }
    }

    &[size='xsmall'] {
        --btn-dimension: 32px;
    }

    &[size='small'] {
        --btn-dimension: 40px;
    }

    &[size='medium'] {
        /* Same as default styles */
    }

    &[size='large'] {
        --btn-dimension: 56px;
        --btn-icon-size: 28px;
    }
}

