@use '@justeattakeaway/pie-css/scss' as p;

@mixin switch-transition($property) {
    @media (prefers-reduced-motion: no-preference) {
        transition: $property 0.15s cubic-bezier(0.4, 0, 0.9, 1) 0s;
    }
}

*,
*:before,
*:after {
    cursor: inherit;
}

.c-switch-wrapper {
    display: block;
    font-family: var(--dt-font-body-l-family);
    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
    }
}

.c-switch {
    --int-states-mixin-bg-color: var(--dt-color-interactive-form);
    --switch-bg-color--checked: var(--dt-color-interactive-brand);
    --switch-bg-color--disabled: var(--dt-color-disabled-01);
    --switch-width: 48px;
    --switch-height: 24px;
    --switch-control-size: 20px;
    --switch-padding: 2px;
    --switch-radius: var(--dt-radius-rounded-e);
    --switch-translation: calc(var(--switch-width) - var(--switch-control-size) - 2 * var(--switch-padding));

    position: relative;
    display: flex;
    width: var(--switch-width);
    height: var(--switch-height);
    flex-shrink: 0;
    padding: var(--switch-padding);
    border-radius: var(--switch-radius);
    background-color: var(--int-states-mixin-bg-color);

    @include switch-transition(background-color);

    @include p.interactive-states('--dt-color-interactive-form');

    &:focus,
    &:focus-within {
        @include p.focus;
    }

    &[checked] {
        --int-states-mixin-bg-color: var(--dt-color-interactive-brand);

        @include switch-transition(background-color);

        @include p.interactive-states('--dt-color-interactive-brand');
    }

    [disabled] & {
        --int-states-mixin-bg-color: var(--switch-bg-color--disabled);

        pointer-events: none;
    }
}

.c-switch-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0;

    &:disabled {
        background-color: transparent;
    }
}

.c-switch-control {
    position: absolute;
    left: 2px;
    @include switch-transition(transform);
    width: var(--switch-control-size);
    height: var(--switch-control-size);
    border-radius: var(--switch-radius);
    background-color: var(--dt-color-interactive-light);
    padding: var(--switch-padding);

    .c-switch-wrapper--rtl & {
        position: absolute;
        left: initial;
        right: 2px;
    }

    .c-pieIcon--check {
        vertical-align: top;
    }

    .c-switch-input:checked + & {
        @include switch-transition(transform);
        transform: translateX(var(--switch-translation));

        .c-pieIcon--check {
            @include switch-transition(color);
            color: var(--dt-color-interactive-brand);
        }
    }

    .c-switch-input:disabled ~ & {
        color: var(--switch-bg-color--disabled);

        .c-pieIcon--check {
            @include switch-transition(color);
            color: var(--switch-bg-color--disabled);
        }
    }
}

.c-switch-label {
    color: var(--dt-color-content-default);
}

// The description is only required for screen readers so we need to visually hide the description
.c-switch-description {
    @include p.visually-hidden;
}

.c-switch-wrapper--rtl {
    .c-switch-input:checked + .c-switch-control {
        @include switch-transition(transform);
        transform: translateX(calc(-1 * var(--switch-translation)));
    }
}
