@use '@justeat/pie-design-tokens/dist/jet.scss' as dt;

// Interval settings to be used by @include-media Sass library
// https://eduardoboucas.github.io/include-media/documentation/#variable-unit-intervals
$unit-intervals: (
    'px': 1,
    'em': 0.001, // We need more sensitivity, some browsers are very specific with breakpoints
    'rem': 0.1,
    '': 0
);

// Breakpoints to be used by @include-media Sass library
// https://eduardoboucas.github.io/include-media/documentation/#variable-breakpoints
$breakpoints: (
    xs: dt.$breakpoint-xs,
    sm: dt.$breakpoint-sm,
    md: dt.$breakpoint-md,
    lg: dt.$breakpoint-lg,
    xl: dt.$breakpoint-xl,
    xxl: dt.$breakpoint-xxl
);
