.c-modal {
    // Custom Property Declarations
    // These are defined here instead of :host to encapsulate them inside Shadow DOM
    --modal-size-s: 450px;
    --modal-size-m: 600px;
    --modal-size-l: 1080px;

    // The base modal defaults
    --modal-border-radius: var(--dt-radius-rounded-d);
    --modal-font: var(--dt-font-interactive-m-family);
    --modal-bg-color: var(--dt-color-container-default);
    --modal-elevation: var(--dt-elevation-04);

    border-radius: var(--modal-border-radius);
    border: none;
    font-family: var(--modal-font);
    background-color: var(--modal-bg-color);

    padding: 0;
    inline-size: var(--modal-size-m);

    box-shadow: var(--modal-elevation);

    & .c-modal-heading {
        // Modal header Custom Props
        --modal-header-font-size: calc(var(--dt-font-heading-m-size--wide) * 1px);
        --modal-header-font-line-height: calc(var(--dt-font-heading-m-line-height--wide) * 1px);
        --modal-header-font-weight: var(--dt-font-heading-m-weight);
        --modal-header-padding: var(--dt-spacing-e);
        --modal-header-padding-block-end: var(--dt-spacing-d);

        font-size: var(--modal-header-font-size);
        line-height: var(--modal-header-font-line-height);
        font-weight: var(--modal-header-font-weight);

        margin: 0;
        padding-block: var(--modal-header-padding) var(--modal-header-padding-block-end);
        padding-inline: var(--modal-header-padding);
    }

    & .c-modal-content {
        // Modal content Custom Props
        --modal-content-font-size: calc(var(--dt-font-size-16) * 1px);
        --modal-content-font-weight: var(--dt-font-weight-regular);
        --modal-content-line-height: calc(var(--dt-font-size-16-line-height) * 1px);
        --modal-content-padding: var(--dt-spacing-e);
        --modal-content-padding-block-start: var(--dt-spacing-a);

        font-size: var(--modal-content-font-size);
        line-height: var(--modal-content-line-height);
        font-weight: var(--modal-content-font-weight);

        padding-block: var(--modal-content-padding-block-start) var(--modal-content-padding);
        padding-inline: var(--modal-content-padding);

        overflow-y: scroll;
        max-block-size: 300px; // This is just a placeholder before we add the proper container styles to slotted content to demonstrate scrollable slot content
    }

    & .c-modal-closeBtn {
        position: absolute;
        right: var(--dt-spacing-d);
        top: var(--dt-spacing-d);
    }
}
