@use '@justeat/fozzie/src/scss/fozzie' as f;
@use 'tools' as t;
@use 'nav';
@use 'header';

@include f.trumps-utilities();

:root {
    --clr: #fff;
}

$bg-clr: var(--clr);

body {
    background-color: $bg-clr;
    font-size: t.rem();
    text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}
