@use '@justeat/fozzie/src/scss/fozzie' as f;
@use 'tools' as t;
@use 'nav';

:root {
    --clr: #fff;
}

$bg-clr: var(--clr);

body {
    background-color: $bg-clr;
    padding: f.spacing(d);
    font-size: t.rem();
    text-size-adjust: 100%;
}
