@use '../fozzie-config' as f;
@use '../variables' as v;

.page {
    min-height: 100%;
    display: grid;
    grid-template: var(--header-height) 1fr max-content / auto;
    grid-template-areas:
        'header'
        'main'
        'footer';

    // wider screen grid layout
    @include f.media('>=wide') {
        grid-template: var(--header-height) 1fr max-content / var(--sidenav-width-wide) 1fr;
        grid-template-areas:
            'header header'
            'nav main'
            'nav footer';
    }
}

.c-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.c-nav {
    grid-area: nav;

    @include f.media('<wide') {
        grid-area: main;
        grid-row-end: 5;
    }
}

.c-main {
    grid-area: main;
    position: relative;
    min-width: 0;
}

.c-content-container {
    max-width: v.$wide-screen-content-max-width;
    margin: 0;
    padding: 0;

    @include f.media('>=#{v.$wide-screen-content-max-width}') {
        margin-left: auto;
        margin-right: auto;
    }
}

.c-main,
.c-footer {
    position: relative;
}

.c-footer {
    grid-area: footer;
}

.c-main,
.c-footer {
    @include f.media('<wide') {
        z-index: f.zIndex(low);
    }
}
