@use '../fozzie-config' as f;
@use '../variables' as v;
@use '../utilities' as u;
@use '@justeattakeaway/pie-css/scss' as p;

.page {
    min-height: 100%;
    display: grid;
    grid-template: var(--header-height) 1fr max-content / auto;
    grid-template-areas:
        'header'
        'main'
        'footer';

    // wider screen grid layout
    @include f.media('>=wide') {
        grid-template: var(--header-height) 1fr max-content / var(--sidenav-width-wide) 1fr;
        grid-template-areas:
            'header header'
            'nav main'
            'nav footer';
    }
}

.c-header {
    grid-area: header;
}

.c-nav {
    grid-area: nav;

    @include f.media('<wide') {
        grid-area: main;
        grid-row-end: 5;
    }
}

.c-main {
    grid-area: main;
    position: relative;
    min-width: 0;
}

.c-content-container {
    @include u.content-wrapper;
}

.c-main,
.c-footer {
    position: relative;
}

.c-footer {
    grid-area: footer;
}

.c-main,
.c-footer {
    @include f.media('<wide') {
        z-index: 1;
    }
}

// styles shared between homePage and contentPage
.c-content {
    flex: 1;
    background-color: var(--dt-color-background-default);
    border-top: 1px solid var(--dt-color-border-default);

    & a {
        color: var(--dt-color-content-link-distinct);

        &:visited {
            color: var(--dt-color-content-link-visited);
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    & p:has(+ .c-tokensTable) {
        // For a tokens table directly following a description add margin.
        // Descriptions normally have a `<hr />` as a separator
        margin-block-end: var(--dt-spacing-f);
    }

    .c-content-container {
        padding-block-start: var(--dt-spacing-f);
        padding-block-end: var(--dt-spacing-j);

        @include f.media('>=wide') {
            padding-block-start: var(--dt-spacing-h);
            padding-block-end: calc(var(--dt-spacing-j) + var(--dt-spacing-d));
        }
    }

    .c-layout-item,
    .c-content-container {
        h2 {
            @include p.font-size(--dt-font-heading-xl-size--narrow);
            @include p.line-height(--dt-font-heading-xl-line-height--narrow);
        }

        h3 {
            @include p.font-size(--dt-font-heading-m-size--narrow);
            @include p.line-height(--dt-font-heading-m-line-height--narrow);
        }

        @include f.media('>=wide') {
            h2 {
                @include p.font-size(--dt-font-heading-xl-size--wide);
                @include p.line-height(--dt-font-heading-xl-line-height--wide);
            }

            h3 {
                @include p.font-size(--dt-font-heading-m-size--wide);
                @include p.line-height(--dt-font-heading-m-line-height--wide);
            }
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > a,
        > span,
        > ul {
            max-width: v.$typography-content-max-width;
        }

        > h2 + h3,
        > h3 + h4,
        > p + .c-contentPage-img,
        > .c-contentPage-img + p {
            margin-block-start: var(--dt-spacing-e);
        }

        > p + h2 {
            margin-block-start: var(--dt-spacing-h);
        }

        > ul + h3,
        > p + h3,
        > div + h3,
        > p + h4,
        > table + h3,
        > ul + h4,
        > .c-contentPage-img + h3,
        > .c-contentPage-img + h4,
        > .c-contentPage-notification + h3,
        & .c-contentPage-notification {
            margin-block-start: var(--dt-spacing-f);
        }

        .c-contentPage-notification + .c-contentPage-notification {
            margin-block-start: var(--dt-spacing-b);
        }
    }

    hr {
        margin-block-start: var(--dt-spacing-h);
        margin-block-end: var(--dt-spacing-h);

        @include f.media('>=wide') {
            margin-block-start: var(--dt-spacing-i);
            margin-block-end: var(--dt-spacing-i);
        }
    }
}
