@use '../fozzie-config' as f;
@use '@justeattakeaway/pie-css/scss' as p;

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *:before,
    *:after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS rules to be applied when running visual regression test */
@media only percy {
    .updated-date {
        font-size: 0;
        visibility: hidden;

        &:before {
            @include p.font-size(--dt-font-body-s-size);
            visibility: visible;
            content: 'XX/XX/XXXX';
        }
    }
}
