@use '../fozzie-config' as f;

.DocSearch-NewStartScreen {
    display: grid;
    grid-template-columns: 1fr;
    gap: f.$spacing-d;
    padding-block-end: f.$spacing-d;

    @include f.media('>=narrow') {
        grid-template-columns: repeat(2, 1fr);
        padding-block-end: f.$spacing-g;
        gap: 48px; // gap between grid columns
    }
}

.DocSearch-Hit-path,
.DocSearch-NewStartScreenItem,
.DocSearch-Title {
    @include f.font-size('body-s');
}

.DocSearch-NewStartScreenCategory {
    display: flex;
    flex-direction: column;
    margin-inline-start: f.$spacing-e;
}

.DocSearch-NewStartScreenHeader {
    display: flex;
}

.DocSearch-NewStartScreenItem {
    display: flex;
    cursor: 'pointer';
    padding-inline-start: f.$spacing-e;
    margin-block-end: f.$spacing-a;
    color: f.$color-content-default;
}

.DocSearch-Title {
    padding-inline-start: 10px; // gap between icon and title
    font-weight: f.$font-weight-bold;
    margin-block-end: f.$spacing-a;
}

.DocSearch-Modal {
    background-color: #fff;
    min-height: auto;
}

.DocSearch-Footer {
    position: absolute;
}

.DocSearch-Hit {
    border-radius: f.$radius-rounded-c;
    box-shadow: none;

    &:hover {
        background-color: f.$color-container-subtle;
    }
}

.DocSearch-SearchBar {
    border-bottom: 1px solid f.$color-border-strong;
}

.DocSearch-Hit-source {
    padding-block-end: f.$spacing-a;
    background-color: #fff;
}

.DocSearch-Hits:last-child {
    border-bottom: 1px solid f.$color-border-strong;
}

.DocSearch-Hit-title {
    @include f.font-size('body-l');
    font-weight: f.$font-weight-bold;
}

.DocSearch-Commands,
.DocSearch-Button-Keys {
    display: none;
}

.DocSearch-Button {
    background-color: #fff;

    &:hover {
        background-color: f.$color-container-strong;
    }
}
