@use '../fozzie-config' as f;

.alpha--standout {
    @include f.font-size('heading-xxl', $scale: 'narrow');
    font-weight: f.$font-weight-extrabold;

    @include f.media('>=wide') {
        @include f.font-size('heading-xxl');
    }
}
