@use 'base/page';

/**
 * Fozzie Imports:
 * =================================
 * Fozzie imports bring in styles from the core Fozzie framework
 */

@use 'fozzie-imports';

@use 'utilities';

@use 'base/layout';
@use 'base/typography';

@use '../../../node_modules/@justeat/f-cookie-banner/dist/static/en-GB.css';

/**
 * Plugin Styles:
 * =================================
 */

@use 'plugins/prism';

/**
 * Components:
 * =================================
 * Components are our reusable chunks of styling that aren't directly associated to a base tag
 *
 * This is where the majority of our day-to-day styling will take place.  Component styles should be prefixed with `.c-`
 */
@use 'components/anchorIcon';
@use 'components/card';
@use 'components/categorisedIconList';
@use 'components/centredPage';
@use 'components/contentPage';
@use 'components/contentImage';
@use 'components/comingSoon';
@use 'components/footer';
@use 'components/header';
@use 'components/heroBanner';
@use 'components/heroContentLayout';
@use 'components/list';
@use 'components/mediaElementList';
@use 'components/nav';
@use 'components/navToggle';
@use 'components/notFound';
@use 'components/notification';
@use 'components/razor';
@use 'components/resourceTable';
@use 'components/simpleTable';
@use 'components/table';
@use 'components/tabs';
@use 'components/toggle';
@use 'components/tokensTable';
@use 'components/usage';
@use 'components/skipLink';

/**
 * Overrides:
 * =================================
 * We shouldn't be using these much, but they are for overriding/extending styles
 * of 3rd party components such as cookie banners
 */
@use './overrides'
