/**
 * Fozzie Imports
 * =================================
 * Fozzie includes a number of generic component styles that can
 * be accessed via mixins
 */

@use 'fozzie-config' as f;

@include f.normalize;
@include f.reset;
@include f.typography;
@include f.trumps-utilities;
@include f.buttons;
@include f.trumps-spacing;
@include f.trumps-rwd;
