@use 'fozzie-config' as f;
@use 'variables' as v;

.u-font-bold {
    font-weight: f.$font-weight-bold;
}

// Allows us to override any default fills applied to svgs and their paths
.u-iconFilled {
    svg {
        fill: var(--icon-fill);
    }

    path {
        fill: var(--icon-fill);
    }
}

/**
 * content-wrapper
 * =================================
 * Adds spacing around a block of content and gives it a max-width
 */
@mixin content-wrapper() {
    max-width: v.$wide-screen-content-max-width;
    margin: 0;
    padding: 0;

    @include f.media('>=#{v.$wide-screen-content-max-width}') {
        margin-left: auto;
        margin-right: auto;
    }
}
