$typography-content-max-width: 65ch;
$wide-screen-content-max-width: 1200px;
$hero-banner-header-mid-height: 400px;
$hero-banner-header-wide-height: 600px;

:root {
    --header-height: 64px;
    --sidenav-width-narrow: 560px;
    --sidenav-width-wide: 260px;
}
