@use '@justeattakeaway/pie-css/scss' as p;

.c-cookieBanner {
    --cb-font-family: var(--dt-font-interactive-m-family);
    --cb-font-size: #{p.font-size(--dt-font-body-l-size)};
    --cb-line-height: calc(var(--dt-font-size-16-line-height) * 1px);
    --cb-font-weight: var(--dt-font-body-l-weight);

    font-family: var(--cb-font-family);
    font-size: var(--cb-font-size);
    line-height: var(--cb-line-height);
    font-weight: var(--cb-font-weight);
}

.c-cookieBanner-title {
    font-weight: var(--dt-font-heading-s-weight);
    font-size: #{p.font-size(--dt-font-heading-s-size--wide)};
}

.c-cookieBanner-body {

}

.c-cookieBanner-actions {

}
