@use '@justeattakeaway/pie-css/scss' as p;

* {
    margin: 0;
}

$breakpoint-wide: 768px;

.c-cookieBanner {
    --cb-font-family: var(--dt-font-interactive-m-family);
    --cb-font-size: #{p.font-size('--dt-font-body-l-size')};
    --cb-line-height: calc(var(--dt-font-body-l-line-height) * 1px);
    --cb-font-weight: var(--dt-font-body-l-weight);
    --cb-padding-inline: var(--dt-spacing-d);
    --cb-padding-block: var(--dt-spacing-d);
    --cb-offset: var(--dt-spacing-d);

    background-color: var(--dt-color-content-light);
    font-family: var(--cb-font-family);
    font-size: var(--cb-font-size);
    line-height: var(--cb-line-height);
    font-weight: var(--cb-font-weight);
    padding-block: var(--cb-padding-block);
    max-height: 432px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--dt-radius-rounded-c);
    border-top-right-radius: var(--dt-radius-rounded-c);

    @media (min-width: $breakpoint-wide) {
        --cb-padding-inline: var(--dt-spacing-f);

        bottom: var(--cb-offset);
        left: var(--cb-offset);
        right: var(--cb-offset);
        border-bottom-left-radius: var(--dt-radius-rounded-c);
        border-bottom-right-radius: var(--dt-radius-rounded-c);
    }
}

.c-cookieBanner-title,
.c-cookieBanner-body,
.c-cookieBanner-actions {
    padding-inline: var(--cb-padding-inline);
}

.c-cookieBanner-title {
    --cb-title-font-size: var(--dt-font-heading-s-size--narrow);
    --cb-title-line-height: var(--dt-font-heading-s-line-height--narrow);

    font-size: #{p.font-size('--cb-title-font-size')};
    font-weight: var(--dt-font-heading-s-weight);
    line-height: calc(var(--cb-title-line-height) * 1px);

    @media (min-width: $breakpoint-wide) {
        --cb-title-font-size: var(--dt-font-heading-s-size--wide);
        --cb-title-line-height: var(--dt-font-heading-s-line-height--wide);
    }
}

.c-cookieBanner-body {
    margin-block-start: var(--dt-spacing-a);
    max-height: 200px;
    overflow-y: scroll;

    background:
        // Scroll shadow cover
        // A top-to-bottom opacity gradient from transparent to the component background colour
        linear-gradient(to bottom, transparent, var(--dt-color-container-default) 75%) center bottom,
        // Scroll shadow
        linear-gradient(transparent, var(--dt-color-border-strong)) center bottom;
    background-repeat: no-repeat;
    background-size: 100% 48px, 100% 12px;

    // The shadow cover is an opacity gradient which is attached to the bottom of the scrollable element
    // and scrolls with it, so as you reach the bottom of the content the more opaque portion covers
    // (and therefore hides) the shadow. This gives the effect of the shadow fading away.
    // The shadow itself does not move as you scroll.
    background-attachment: local, scroll;
}

.c-cookieBanner-actions {
    --cb-actions-flex-dir: column;

    margin-block-start: var(--dt-spacing-d);
    display: flex;
    gap: var(--dt-spacing-d);
    flex-direction: var(--cb-actions-flex-dir);

    @media (min-width: $breakpoint-wide) {
        --cb-actions-flex-dir: row;
        justify-content: flex-end;
    }
}
