<section class="c-centredPage">
    <img class="c-comingSoon-image" src="{{ '/assets/img/coming-soon.svg' | url }}" />

    <p class="c-centredPage-text c-centredPage-text--bold">
        The PIE team are currently working hard building this page. Please check back soon!
    </p>

    <a href="{{ '/' | url }}" class="c-centredPage-link o-btn o-btn--primary">
        Back to home
    </a>
</section>
