{% set allAboutPiePages = collections.all | eleventyNavigation("All about PIE") %}
{% set designersPages = collections.all | eleventyNavigation("designers") %}
{% set engineersPages = collections.all | eleventyNavigation("engineers") %}
{% set accessibilityPages = collections.all | eleventyNavigation("Accessibility") %}
{% set supportPages = collections.all | eleventyNavigation("Support") %}
{% set testPages = collections.all | eleventyNavigation("Test") %}
{% set footerNavItems = [allAboutPiePages, designersPages, engineersPages, accessibilityPages, supportPages, testPages] %}
{% set jetLogoSrc = '/assets/img/jet-logo.svg' | url %}
{% set jetLogoSrcNarrow = '/assets/img/jet-logo-narrow.svg' | url %}

<footer class="c-footer" data-test-id="site_footer">
    <div class='c-content-container'>
        <div class="c-footer-logo">
            <picture>
                <source media="(max-width: 600px)" srcset={{ jetLogoSrcNarrow }}>
                    <img src={{ jetLogoSrc }} alt="Just Eat Takeaway- Logo"></picture>
                    <span class='c-footer-logo-divider' aria-hidden="true"></span>
                    {% include "pie-logo.njk" %}
                </div>
                <main class='c-footer-main'>
                    {% for section in footerNavItems %}
                        <section>
                            <h3>{{ section[0].parent }}</h3>
                            <ul>
                                {% for page in section %}
                                    <li>
                                        <a href="{{ page.url and page.url | url }}" data-test-id='footer_link'>
                                            {{ page.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endfor %}
                </main>
                <div class='c-footer-info'>
                    <div>Copyright © {{ metadata.currentYear }} Just Eat Takeaway.com</div>
                    <div>
                        <a href="https://www.just-eat.co.uk/info/privacy-policy" data-test-id='footer_link'>Privacy policy</a>
                        <span class='c-footer-info-separator' aria-hidden="true"></span>
                        <span>Updated: <span class="updated-date">{{ metadata.lastUpdated }}</span></span>
                    </div>
                </div>
            </div>
        {% include "cookie-banner.njk" %}
        </footer>
