<footer class="c-footer" data-test-id="site_footer">
    <div class="c-footer-content c-content-container">
        <div class="c-footer-logo">
            {% include "pie-logo.njk" %}
        </div>
        <a href="https://www.just-eat.co.uk/info/privacy-policy">Privacy policy</a>
    </div>
</footer>
