{% set toggleIconFill = 'content-default' %}
<input id="navToggle" class="c-navToggle-input is-visuallyHidden" data-test-id='nav_toggle_input' type="checkbox" aria-label="Toggle Navigation"/>
<label class="c-navToggle" data-test-id='nav_toggle_label' for="navToggle" style="--icon-fill: {{ toggleIconFill }};">
    {{ { name: 'menu', attrs: { fill: toggleIconFill, height: '24', width: '24', class: 'u-iconFilled' } } | pieIconsSvg | safe }}
    {{ { name: 'close', attrs: { fill: toggleIconFill, height: '24', width: '24', class: 'u-iconFilled' } } | pieIconsSvg | safe }}
</label>

<header class="c-header" data-test-id="site_header">
    <a class="c-header-logo" href="{{ '/' | url }}" aria-label="Go to the PIE home page">
        {% include "pie-logo.njk" %}
    </a>
    <div id="docsearch" class="search"></div>
</header>

<style>
.c-header {
    display: flex;
    justify-content: space-between;
}
</style>
