<link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-ExtraBold-optimised.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/PTMono-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="prefetch" href="{{ '/assets/img/heroes/pie-hero.png' | url }}">
<link rel="prefetch" href="{{ '/assets/img/coming-soon.svg' | url }}">
<link rel="prefetch" href="{{ '/assets/img/404_narrow.png' | url }}">
<link rel="prefetch" href="{{ '/assets/img/404.png' | url }}">

<style>
    @font-face {
        font-family: JETSansDigital;
        src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2') format("woff2"),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff') format("woff");
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: JETSansDigital;
        src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff2') format("woff2"),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff') format("woff");
        font-weight: 700;
        font-display: swap;
    }
    @font-face {
        font-family: JETSansDigital;
        src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-ExtraBold-optimised.woff2') format("woff2"),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-ExtraBold-optimised.woff') format("woff");
        font-weight: 800;
        font-display: swap;
    }
    @font-face {
        font-family: PTMono;
        src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/PTMono-Regular.ttf') format("truetype");
        font-weight: 400;
        font-display: swap;
    }
    body {
        font-feature-settings: "tnum"; /* Enable tabular numbers */
    }
</style>
<link rel="stylesheet" href="{{ '/assets/styles/main.css' | rev | url }}" />
{% if projectSettings.environment === "production" %}
    {% include "gtm.njk" %}
{% endif %}
