{% set heroSrc = ['/assets/img/heroes/', heroImageSrc] | join | url %}

<div class="c-homePage" data-test-id="site_content" >
    <div class="c-homePage-header">
        <div class="c-content-container">
            <div class="c-homePage-heading">
                <div class="c-homePage-title">
                    <h1 class="alpha--standout">
                        {{ title }}
                    </h1>
                    <p class="c-contentPage-header-description">
                        {{ description }}
                    </p>
                    <a class='o-btn c-homePage-button' href={{ heroCtaHref | url }}>{{ heroCtaTitle }}</a>
                </div>
                <div class="u-showAboveMid">
                    <img class="c-homePage-image" src={{ heroSrc }} alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="razor"></div>
    <div class="c-homePage-content">
        <div class="c-contentPage-content">
            <div class="c-content-container">
                {{ content | safe }}
            </div>
        </div>
    </div>
</div>