{# Each navigation item has a unique key that is mapped to an Icon name #}
{% set navigationIcons = {
    Accessibility: 'PersonalityTest',
    'All about PIE': 'pie',
    'Designers': 'bulb-lightning',
    Foundations: 'foundations',
    Support: 'help-circle'
} %}

{% set chevronFill = { tokenName: 'interactive-primary', tokenPath: ['alias', 'default'] } | pieDesignTokenColours %}
{% set categoryIconFill = { tokenName: 'interactive-brand', tokenPath: ['alias', 'default'] } | pieDesignTokenColours %}
{% set navPagesPrimary = collections.all | eleventyNavigation("Docs") %}
{% set navPagesSecondary = collections.all | eleventyNavigation("Docs-secondary") %}
{% set navSections = [navPagesPrimary, navPagesSecondary] %}

<nav class="c-nav">
    {% for section in navSections %}
        <ul>
            {# build up a list of categories such as 'components', 'foundations' #}
            {% for category in section %}
            {# {{ category | dump }} #}
            {% set pageUrl = page.url.replace("/docs", "")%}
                <li>
                    <details {% if pageUrl.includes(category.url) %} open{% endif %}>
                        <summary class="c-nav-category" style="--icon-fill: {{categoryIconFill}};">
                            {{ pageUrl | dump }}<br /><br />
                            {{ category.url | dump }}
                            {{ { name: navigationIcons[category.key], attrs: { fill: categoryIconFill, height: '24', width: '24', class:'u-iconFilled' } } | pieIconsSvg | safe }}
                            {{ category.title }}
                            {{ { name: 'chevron-up', attrs: { fill: chevronFill, height: '18', width: '18', class:'c-nav-toggle c-nav-toggle--close' } } | pieIconsSvg | safe }}
                            {{ { name: 'chevron-down', attrs: { fill: chevronFill, height: '18', width: '18', class:'c-nav-toggle c-nav-toggle--open' } } | pieIconsSvg | safe }}
                        </summary>
                        {% if category.children.length %}
                        {# build up a list of subpages for each category such as 'colour' and 'spacing' for 'foundations' #}
                            <ul class="c-nav-list">
                                {% for subpage in category.children %}
                                <li>
                                    {% set subPageArea = subpage.url.split('/')[2] %}
                                    {% set currentPageArea = page.url.split('/')[2] %}
                                    {% set subpageUrl = subpage.url.replace("/docs", "")%}
                                    {# Set the nav item to active if the url contains it's category #}
                                    {# this means something like /docs/foundations/colour/overview/ and /docs/foundations/colour/tokens/global/ will activate 'colour' #}
                                    <a
                                        href="{{ subpageUrl | url}}"
                                        {% if subPageArea == currentPageArea %}
                                            aria-current="page"
                                        {% endif %}
                                        class="c-nav-item {% if subPageArea == currentPageArea %}is-active{% endif %}">
                                        {# {{ subpage.url | dump }}
                                        {{ page.url | dump }} #}
                                        {{ subpage.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </details>
                </li>
            {% endfor %}
        </ul>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
</nav>
