{# All JS modules to go here #}
<script defer src="{{ '/assets/js/f-cookie-banner.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/accordions.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/toggled-content.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/prism.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/awesome.js' | url }}" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    // public algolia keys (can be exposed)
    appId: 'L21G25CLL1',
    apiKey: '75fcb9c4b333a7a004ae63e6a736a81e',
    indexName: 'pie',
    container: '#docsearch'
  });
</script>