{# All JS modules to go here #}
<script defer src="https://unpkg.com/@justeat/f-cookie-banner/dist/static/en-GB.js" type="text/javascript"></script>
<script defer src="{{ '/assets/js/accordions.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/toggled-content.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/prism.js' | url }}" type="module"></script>
<script defer src="{{ '/assets/js/awesome.js' | url }}" type="module"></script>
