<button
    data-js="scroll-to-top"
    data-test-id="scroll-to-top"
    class="o-btn o-btn--secondary o-btn--sizeXSmall c-scrollTop">
    {{ { name: 'arrow-up', attrs: { fill: 'interactive-brand', height: '16', width: '16', class:'u-iconFilled', 'aria-hidden': 'true' } } | pieIconsSvg | safe }}
    <span>Back to top</span>
</button>
