<pie-button
    variant="secondary"
    size="xsmall"
    data-js="scroll-to-top"
    data-test-id="scroll-to-top"
    class="c-scrollTop">
    <icon-arrow-up slot="icon" class="icon"></icon-arrow-up>
        Back to top
</pie-button>
