<div class="pagefind">PageFind:<div id="search" class="search"></div></div>
<div class="algolia">Algolia: <div id="docsearch" class="search"></div></div>

<style>
  @media (prefers-color-scheme: dark) {
    :root {
      --pagefind-ui-primary: #eeeeee;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #152028;
      --pagefind-ui-border: #152028;
      --pagefind-ui-tag: #152028;
    }
  }

  :root {
    --docsearch-primary-color: #f36805;
    --docsearch-logo-color: #f36805;
  }

  .pagefind, .algolia {
    padding: 2%;
  }

  .search-examples {
    display: flex;
  }

  .pagefind-ui__form.svelte-1bkqzc5 {
    width: 80%;
    display: block;
    margin: auto;
  }

  .pagefind-ui__results.svelte-1bkqzc5 {
    padding: 5%;
  }

  .DocSearch-Button {
    width: 80%;
    height: 50px;
    display: block;
    margin: auto;
  }

  .DocSearch-Button-Keys {
    float: right;
  }
</style>