<div class="c-showMore-backdrop">
    <button 
        type="button"
        data-js="show-more"
        data-test-id="show-more"
        class="c-link c-showMore"
        id={{ tagName }}>
        Show More
        {{ { name: 'chevron-down', attrs: { fill: 'content-link-distinct', height: '16', width: '16', class:'u-iconFilled', 'aria-hidden': 'true' } } | pieIconsSvg | safe }}
    </button>
</div>
