---
icon_fill: orange
---

<!doctype html>
<html lang="{{ metadata.language }}" prefix="og: https://ogp.me/ns#">
    {% include "head.njk" %}
    <body {{bodyDataAttribute}}>
        {% include "search.njk" %}
        <div class="page">
            {% include "header.njk" %}
            {% include "nav.njk" %}
            <main class="c-main" data-pagefind-body>
                {{ content | safe }}
            </main>

            {% include "footer.njk" %}
        </div>

        {% include "scripts.njk" %}
    </body>
</html>
