@use '@justeattakeaway/pie-css/scss' as p;

:host {
    display: block;
}

.c-card {
    --int-states-mixin-bg-color: var(--dt-color-container-default);
    --card-color: var(--dt-color-content-default);
    --card-radius: var(--dt-radius-rounded-c);
    --card-border-color: transparent;

    display: block;
    position: relative;
    color: var(--card-color);
    background-color: var(--int-states-mixin-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-radius);
    cursor: pointer;
    user-select: none;
    outline: none;
    text-decoration: none;

    &.is-disabled {
        --int-states-mixin-bg-color: var(--dt-color-disabled-01);

        cursor: not-allowed;

        ::slotted(*) {
            color: var(--dt-color-content-disabled);
        }

        img {
            opacity: 0.5;
        }
    }

    &.c-card--default {
        box-shadow: var(--dt-elevation-card);

        @include p.interactive-states('--dt-color-container-default');
    }

    &.c-card--outline {
        border-color: var(--dt-color-border-strong);

        @include p.interactive-states('--dt-color-container-default');
    }

    &.c-card--inverse {
        --int-states-mixin-bg-color: var(--dt-color-container-inverse);
        --card-color: var(--dt-color-content-inverse);

        box-shadow: var(--dt-elevation-inverse-card);

        @include p.interactive-states('--dt-color-container-inverse', 'inverse', '02');
    }

    &.c-card--outline-inverse {
        --int-states-mixin-bg-color: var(--dt-color-container-inverse);
        --card-color: var(--dt-color-content-inverse);

        border-color: var(--dt-color-border-inverse);

        @include p.interactive-states('--dt-color-container-inverse', 'inverse', '02');
    }

    &.c-card--inverse.is-disabled,
    &.c-card--outline-inverse.is-disabled {
        --int-states-mixin-bg-color: var(--dt-color-disabled-01-inverse);
    }

    &.c-card--draggable {
        @extend %has-grab-cursor;
    }

    &:focus-visible {
        @include p.focus;
    }
}
