@use '@justeattakeaway/pie-css/scss' as p;

:host {
    // Note: For consistency sake, the recommended display should be either
    // "block" or "inline-block", otherwise it can be ommited for floating elements
    display: block;
    --dt-font-body-s-size: 14px;
}
//update visually-hidden
.c-avatar-visually-hidden {
    @include p.visually-hidden;
}

.c-avatar-visuallyHidden {
    @include p.visually-hidden;
}

.c-avatar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include p.font-size(--dt-font-body-s-size);
    background-color: var(--dt-color-container-inverse);
    color: var(--dt-color-content-interactive-primary); 
    width: 32px;
    height: 32px;
    border-radius:var(--dt-radius-rounded-e);

}

// Basic placeholder styling - will be removed in subsequent ticket
.c-avatar-placeholder {
    display: inline-block;
    text-align: center; 
    font-size: 6px;
}
