@use '@justeattakeaway/pie-css/scss' as p;

:host {
    --popover-z-index: 1000;

    position: fixed;
    top: var(--popover-top);
    left: var(--popover-left);
    display: none;
    z-index: var(--popover-z-index);
}

:host([isopen]) {
    display: block;
}

.c-popover {
    background: var(--dt-color-container-default);
    border-radius: var(--dt-radius-rounded-b);
    box-shadow: var(--dt-elevation-below-20);
    padding: var(--dt-spacing-b);
    min-width: 160px;
}
