<section class="c-comingSoon">
    <img class="c-comingSoon-image" src="{{ '/assets/img/coming-soon.svg' | url }}" />
    <p class="c-comingSoon-message">The PIE team are currently working hard building this page. Please check back soon!</p>
    <a href="{{ '/' | url }}" class="c-comingSoon-link o-btn o-btn--primary">Back to home</a>
</section>
