<div class="c-contentPage">
    <div class="c-contentPage-header">
        <h1 class="alpha--standout">
            {{ title }}
        </h1>
        <p class="c-contentPage-header-subheading">
            {{ description }}
        </p>
    </div>

    {% if navKey %}
        {% include "page-tabs.njk" %}
    {% endif %}

    {% if content %}
        <div class="c-contentPage-main">
            {{ content | safe }}
        </div>
    {% else %}
        <div class="c-contentPage-comingSoon">
            {# By default we will show the coming soon graphic for an empty page within a tabbed section #}
            {% include "coming-soon.njk" %}
        </div>
    {% endif %}
</div>
