---
site_title: Pie Site
icon_fill: orange
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site_title }}</title>
        <link rel="stylesheet" href="assets/styles/main.css" />
    </head>
    <body>
        <h1>
            {{ site_title }}
        </h1>
        <hr/>
        {{ content | safe }}        
        <hr/>
        <small>
            <p>Documentation for <a href="https://vue.pie.design/" target="_blank" rel="noopener noreferrer">Pie Design Components</a> in Storybook.<p>
        </small>
        {% include "nav.njk" %}

        {{ { name: 'About', attrs: { fill: icon_fill } } | pieIconsSvg | safe }}
        {{ { name: 'list', attrs: { fill: icon_fill } } | pieIconsSvg | safe }}

    </body>
</html>
