---
site_title: Pie Site
icon_fill: orange
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site_title }}</title>
        <link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2" as="font" type="font/woff2" crossorigin>
        <style>
            @font-face {
                font-family: JETSansDigital;
                src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2') format("woff2"),
                url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff') format("woff");
                font-weight: 400;
                font-display: swap;
            }
            body {
                font-feature-settings: "tnum"; /* Enable tabular numbers */
            }
        </style>
        <link rel="stylesheet" href="/assets/styles/main.css" />
    </head>
    <body>
        <div class="page">
            {% include "header.njk" %}
            {% include "nav.njk" %}
            <main>
                {{ content | safe }}
            </main>

            <footer>
                Footer stuff
            </footer>
            {# {{ { name: 'About', attrs: { fill: icon_fill } } | pieIconsSvg | safe }}
            {{ { name: 'list', attrs: { fill: icon_fill } } | pieIconsSvg | safe }} #}
        </div>
    </body>
</html>
