<header class="c-header">
    <h1 class="is-visuallyHidden">
        {{ site_title }}
    </h1>
    <a class="c-header-logo" href="/">
        <img src="/assets/img/pie-logo.svg"/>
    </a>
</header>
