{# Each navigation item has a unique key that is mapped to an Icon name #}
{# TODO - using temporary random icons for now #}
{% set navigationIcons = {
    Accessibility: 'PersonalityTest',
    'All about PIE': 'food',
    Components: 'filters',
    Copy: 'edit',
    Foundations: 'moon',
    'Getting started': 'RocketShip',
    Patterns: 'basket',
    Resources: 'Backpack',
    Support: 'User'
} %}

{% set chevronFill = { tokenName: 'interactive-primary', tokenPath: ['alias', 'default'] } | pieDesignTokenColours %}
{% set categoryIconFill = { tokenName: 'interactive-brand', tokenPath: ['alias', 'default'] } | pieDesignTokenColours %}
{% set navPagesPrimary = collections.all | eleventyNavigation("Pages") %}
{% set navPagesSecondary = collections.all | eleventyNavigation("Pages-secondary") %}
{% set navSections = [navPagesPrimary, navPagesSecondary] %}

<nav class="c-nav">
    {% for section in navSections %}
        <ul>
            {# build up a list of categories such as 'components', 'foundations' #}
            {% for category in section %}
                <li>
                    <details {% if page.url.includes(category.url) %} open{% endif %}>
                        <summary class="c-nav-category">
                            {{ { name: navigationIcons[category.key], attrs: { fill: categoryIconFill, height: '24', width: '24' } } | pieIconsSvg | safe }}
                            {{ category.title }}
                            {{ { name: 'ChevronUpSmall', attrs: { fill: chevronFill, height: '18', width: '18', class:'c-nav-toggle c-nav-toggle--close' } } | pieIconsSvg | safe }}
                            {{ { name: 'ChevronDownSmall', attrs: { fill: chevronFill, height: '18', width: '18', class:'c-nav-toggle c-nav-toggle--open' } } | pieIconsSvg | safe }}
                        </summary>
                        {% if category.children.length %}
                        {# build up a list of subpages for each category such as 'colour' and 'spacing' for 'foundations' #}
                            <ul class="c-nav-list">
                                {% for subpage in category.children %}
                                <li>
                                    {% set subPageArea = subpage.url.split('/')[4] %}
                                    {% set currentPageArea = page.url.split('/')[4] %}
                                    {# Set the nav item to active if the url contains it's category #}
                                    {# this means something like /content/pages/foundations/colour/overview/ and /content/pages/foundations/colour/global/ will activate 'colour' #}
                                    <a
                                        href="{{ subpage.url }}"
                                        {% if subPageArea == currentPageArea %}
                                            aria-current="page"
                                        {% endif %}
                                        class="c-nav-item {% if subPageArea == currentPageArea %}is-active{% endif %}">
                                        {{ subpage.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </details>
                </li>
            {% endfor %}
        </ul>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
</nav>
