<nav class="c-nav">
    {% set navPages = collections.all | eleventyNavigation("Pages") %}
    <ul>
        {% for category in navPages %}
            <li>
                <details {% if page.url.includes(category.url) %} open{% endif %}>
                    <summary>
                        {{ { name: 'About', attrs: { fill: 'orange', height: '32', width: '32' } } | pieIconsSvg | safe }}
                        {{ category.title }}
                    </summary>
                    {% if category.children.length %}
                        <ul>
                            {% for subpage in category.children %}
                            <li>
                                <a
                                    href="{{ subpage.url }}" 
                                    {% if subpage.url == page.url %} class="c-nav-item--active"{% endif %}>
                                    {{ subpage.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </details>
            </li>
        {% endfor %}
    </ul>
</nav>
