name: Build

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, 'ready_for_review']
    paths-ignore:
      - '.husky/**'
      - '.idea/**'
      - 'stories/**'
      - '.vscode/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
  push:
    branches:
      - main
      - beta-*
      - feature-*

concurrency: CI-${{ github.ref }}

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        # Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      # Restore node_modules if cache exists. If not, cache is created at end of build.
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      # Run 'yarn' if cache doesn't exist. Use --prefer-offline to download packages from yarn cache folder where possible
      - name: Install Dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn add --cached

  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@v3
      # Setup Node 16
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      # Restore node_modules - Cache should exist as one was created in previous 'install' job
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      # Restore Turborepo's 'dist' cache - If not, cache is created at end of build.
      - name: Cache Turborepo Dist
        id: turborepo-dist-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: turborepo-dist-cache-${{ github.ref_name }}-${{ github.sha }}
          # Use one of the following keys if the above is not found.
          restore-keys: |
            turborepo-dist-cache-${{ github.ref_name }}
            turborepo-dist-cache-
      # Lint Styles
      - name: Lint Styles
        run: yarn lint:style --concurrency=10 --cache-dir=".turbo"
      # Lint JS
      - name: Lint JavaScript
        run: yarn lint:scripts --cache-dir=".turbo"
      # Build Packages
      - name: Build Packages
        run: yarn build --cache-dir=".turbo"
        env:
          PIE_URL_PREFIX: /pr-preview/pr-${{github.event.number}}
      # Run Unit Tests
      - name: Unit Tests
        run: yarn test:ci --cache-dir=".turbo"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    outputs:
      microsite-deployment-url: ${{ steps.preview.outputs.deployment-url }}
      storybook-deployment-url: ${{ steps.preview.outputs.deployment-url }}
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@v3
      # Setup Node 16
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      # Restore node_modules - Cache should exist as one was created in previous 'install' job
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      # Restore Turborepo's 'dist' cache - If not, cache is created at end of build.
      - name: Cache Turborepo Dist
        id: turborepo-dist-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: turborepo-dist-cache-${{ github.ref_name }}-${{ github.sha }}
          # Use one of the following keys if the above is not found.
          restore-keys: |
            turborepo-dist-cache-${{ github.ref_name }}
            turborepo-dist-cache-
      # Build Packages
      - name: Build Microsite
        run: yarn build --filter=pie-microsite --filter=pie-storybook --cache-dir=".turbo"
      - name: Deploy - Microsite PR Preview
        id: preview-microsite
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./apps/pie-microsite/dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
      # Deploy previews
      - name: Deploy - Storybook PR Preview
        id: preview-storybook
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./apps/pie-storybook/dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview/storybook
          action: auto
      - name: Deploy - Master
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./apps/pie-microsite/dist
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

  browser-tests:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@v3
      # Setup Node 16
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      # Restore node_modules - Cache should exist as one was created in previous 'install' job
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      # Run System Tests
      - name: Run System Tests
        run: |
          yarn test:system:ci
      - name: Run Visual Tests
        if: ${{ github.event.pull_request.draft == false }}
        run: |
          yarn test:visual:ci
    env:
      PIE_URL_PREFIX: pr-preview/pr-${{github.event.number}}
      PERCY_TOKEN_PIE_MICROSITE: ${{ secrets.PERCY_TOKEN_PIE_MICROSITE }}

  release:
    needs: build
    if: github.repository == 'justeattakeaway/pie' &&
      ${{ github.event_name != 'pull_request' }} &&
      (contains(github.ref_name, 'main') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'feature'))
    name: release
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        # Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      # Restore node_modules if cache exists. If not, cache is created at end of build.
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      # Run 'yarn' if cache doesn't exist. Use --prefer-offline to download packages from yarn cache folder where possible
      - name: Install Dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn add --cached
      - name: Append NPM token to .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
      # Restore Turborepo's 'dist' cache - If not, cache is created at end of build.
      - name: Cache Turborepo Dist
        id: turborepo-dist-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: turborepo-dist-cache-${{ github.ref_name }}-${{ github.sha }}
          # Use one of the following keys if the above is not found.
          restore-keys: |
            turborepo-dist-cache-${{ github.ref_name }}
            turborepo-dist-cache-
      - name: Check for pre.json file existence
        id: check_files
        uses: andstor/file-existence-action@v2.0.0
        with:
          files: ".changeset/pre.json"
      - name: exit prerelease mode
        # If .changeset/pre.json does not exist and we did not recently exit
        # prerelease mode.
        if: steps.check_files.outputs.files_exists == 'true' && contains(github.ref_name, 'main')
        run: npx changeset pre exit
      - name: Create latest release PR
        if: contains(github.ref_name, 'main')
        uses: changesets/action@v1
        with:
          version: yarn changeset:version
          publish: yarn changeset:publish
          commit: "Version Packages with 'latest' tag"
      # If .changeset/pre.json does not exist and we did not recently exit
      # prerelease mode, enter prerelease mode with tag beta
      - name: Enter beta prerelease mode
        if: steps.check_files.outputs.files_exists == 'false' && contains(github.ref_name, 'beta')
        # If .changeset/pre.json does not exist and we did not recently exit
        # prerelease mode, enter prerelease mode with tag beta
        run: npx changeset pre enter beta
      - name: Create beta release PR
        if: contains(github.ref_name, 'beta')
        uses: changesets/action@v1
        with:
          version: yarn changeset:version
          publish: yarn changeset:publish
          commit: "Version Packages with 'beta' tag"
      - name: Enter feature prerelease mode
        if: steps.check_files.outputs.files_exists == 'false' && contains(github.ref_name, 'feature')
        # If .changeset/pre.json does not exist and we did not recently exit
        # prerelease mode, enter prerelease mode with tag next
        run: npx changeset pre enter next
      - name: Create feature release PR
        if: contains(github.ref_name, 'feature')
        uses: changesets/action@v1
        with:
          version: yarn changeset:version
          publish: yarn changeset:publish
          commit: "Version Packages with 'next' tag"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      HUSKY: 0
