name: Remove PR Previews

on:
  pull_request:
    types: [closed]

concurrency: preview-teardown-${{ github.ref }}

env:
  DOCS_AMPLIFY_ID: dvskdcoepjoyf
  STORYBOOK_AMPLIFY_ID: d17ja0ul7nrdy0

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - name: Checkout
        uses: actions/checkout@v3

  preview-teardown-docs:
    needs: install
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - name: Checkout
        uses: actions/checkout@v3
      # Tear down docs preview
      - name: Amplify Teardown (Docs)
        uses: ./.github/actions/amplify-teardown
        with:
          amplify-app-id: ${{ env.DOCS_AMPLIFY_ID }}
          aws-region: 'eu-west-1'
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          branch-name: 'pr${{ github.event.number }}'
      - name: Delete Github environment (Docs)
        uses: strumwolf/delete-deployment-environment@v2.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: pie-docs-pr-${{github.event.number}}
          ref: ${{ github.ref_name }}

  preview-teardown-storybook:
    needs: install
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - name: Checkout
        uses: actions/checkout@v3
      # Tear down storybook preview
      - name: Amplify Teardown (Storybook)
        uses: ./.github/actions/amplify-teardown
        with:
          amplify-app-id: ${{ env.STORYBOOK_AMPLIFY_ID }}
          aws-region: 'eu-west-1'
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          branch-name: 'pr${{ github.event.number }}'
      - name: Delete Github environment (Storybook)
        uses: strumwolf/delete-deployment-environment@v2.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: pie-storybook-pr-${{github.event.number}}
          ref: ${{ github.ref_name }}
