name: DangerJS PR Checks

on:
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]

jobs:
  danger-checks:
    if: ${{ github.event.pull_request.draft == false && github.actor != 'renovate-bot' && github.actor != 'renovate[bot]' }}
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        # v4.1.7
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      # Setup Repo
      - name: Setup Repo
        uses: ./.github/actions/setup-repo
        with:
          node-version: 20
          os: ubuntu-latest
      # Run Danger Checks
      - name: Danger
        run: yarn danger ci --failOnErrors
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
