name: DangerJS PR Checks

on:
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]

jobs:
  danger-checks:
    permissions:
      contents: read
    if: ${{ github.event.pull_request.draft == false && github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      # Fetch main branch for Danger checks
      - name: Fetch main branch
        run: git fetch origin main:refs/remotes/origin/main --depth=1
      # Setup Repo
      - name: Setup Repo
        uses: ./.github/actions/setup-repo
        with:
          node-version: 20
          os: ubuntu-latest
      # Run Danger Checks
      - name: Danger
        run: yarn danger ci --failOnErrors
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
