name: Install and Build Workflow

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      node-version:
        required: true
        type: string
      build-script:
        required: false
        type: string
        default: 'build'
      analyse-component-bundles:
        type: boolean
        required: false
        default: false

env:
    TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

jobs:
  install-build:
    permissions:
      contents: read
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Repo
        uses: ./.github/actions/setup-repo
        with:
          node-version: ${{ inputs.node-version }}
          os: ${{ inputs.os }}
      - name: Build Packages
        uses: ./.github/actions/run-script
        with:
          script-name: ${{ inputs.build-script }}
      - name: Analyse Component Bundle Sizes
        if: inputs.analyse-component-bundles
        run: yarn analyse-component-bundles --only
      - name: Post Component Size Report
        if: always()
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}
        with:
          github-token: ${{ secrets.CHANGESETS_TOKEN }}
          script: |
            const script = require('./.github/scripts/post-component-size-report.js');
            await script({ github, context });
