name: Lint PR Title

on:
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]

jobs:
  pr-lint:
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      # v1.7.1
      - uses: morrisoncole/pr-lint-action@51f3cfabaf5d46f94e54524214e45685f0401b2a
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          title-regex: "^[a-z]+?\\([a-z0-9-]+?\\): [A-Za-z]+?-\\d+? \\w.*|^Version Packages|^\\[Snyk\\].*"
          on-failed-regex-fail-action: true
          on-failed-regex-create-review: true
          on-failed-regex-request-changes: true
          on-failed-regex-comment: "[Lint PR Title] ❌ Failed.\nThe PR title should follow the same convention used for commits, e.g.:\n`type(scope): DSW-123 title` where `DSW-123` is the Jira ticket id or `DSW-000` when one is not available."
          on-succeeded-regex-dismiss-review-comment: "[Lint PR Title] ✅ All good!"
