@use '@justeattakeaway/pie-css';

@font-face {
    font-family: JETSansDigital;
    src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2') format('woff2'),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: JETSansDigital;
    src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff2') format('woff2'),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: JETSansDigital;
    src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-ExtraBold-optimised.woff2') format('woff2'),
        url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-ExtraBold-optimised.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

* {
    font-family: JETSansDigital, Arial, sans-serif;
}
